<div class="card-body">
    <div class="basic-form">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p class="text-muted">First Name</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.first_name }}" disabled>
                </div>

                <div class="col-6">
                    <p class="text-muted">Last Name</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.last_name }}" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="text-muted">Company</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.company }}" disabled>
                </div>

                <div class="col-6">
                    <p class="text-muted">Username</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.username }}" disabled>
                </div>

            </div>

            <div class="row">

                <div class="col-6">
                    <p class="text-muted">Email Address</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.email }}" disabled>
                </div>

                <div class="col-6">
                    <p class="text-muted">Gender</p>
                    <input type="text" class="form-control input-flat" value="{{ user_details.gender }}" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
                  