<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">System Users</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">List of Users</li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <button id="" class="btn btn-info pull-right" onclick="functAddNewUser();">
                                <i class="fa fa-fw fa-lg fa-plus"></i>Add User
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="table_users4" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Department</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">User Type</th>
                                <th class="text-center">User Group</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userdetails in all_users %}
                            <tr>
                                <td>{{ userdetails.first_name | title }} {{ userdetails.last_name | title}}</td>
                                <td>{{ userdetails.gender }}</td>
                                <td>{{ userdetails.department }}</td>
                                {% if userdetails.is_active %}
                                    <td class="text-center"><span
                                            class="badge badge-success"><strong>Active</strong></span>
                                    </td>
                                {% else %}
                                    <td class="text-center"><span
                                            class="badge badge-danger"><strong>Inactive</strong></span>
                                    </td>
                                {% endif %}

                                {% if userdetails.is_superuser %}
                                    <td class="text-center"><span class="badge badge-success">
                                        <strong>Super User</strong></span>
                                    </td>
                                {% else %}
                                    <td class="text-center"><span
                                            class="badge badge-secondary"><strong>Normal User</strong></span>
                                    </td>
                                {% endif %}
                                {% if userdetails.group %}
                                    <td class="text-center"><span
                                            class="badge badge-success"><strong>{{ userdetails.group }}</strong></span>
                                    </td>
                                {% else %}
                                    <td class="text-center"><span
                                            class="badge badge-warning"><strong>Un-assigned</strong></span>
                                    </td>
                                {% endif %}
                                <td>
                                    {% if userdetails.last_login %}
                                        <a href="#!" class="isDisabled">Resend-Email</a>
                                    {% else %}
                                        <a href="#!" onclick="functionResendEmail({{userdetails.pk}}, '{{ userdetails.username}}', '{{ userdetails.email}}', '{{userdetails.first_name}}', '{{ userdetails.last_name}}')">Resend-Email</a>
                                    {% endif %}
                                    <a href="{% url 'detailsUser' userdetails.id %}">View</a>
                                    <a href="{% url 'updateUser' userdetails.id %}">Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#table_users4').DataTable();
</script>