{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
	<!-- header header  -->
	{% include 'header.html' %}
	<!-- End header header -->
	{% include 'left-nav.html' %}
	<!-- Page wrapper  -->
	<div class="page-wrapper">
		<!-- Bread crumb -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-primary">Dashboard</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
					<li class="breadcrumb-item active">List of Teams</li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb -->
		<!-- Container fluid  -->
		<div class="container-fluid">
			<!-- Start Page Content -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Teams</h4>
							<h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for team in all_teams %}
										<tr>
											<td>{{ team.name }}</td>
											<td>
												<a href="{% url 'detailsTeam' team.id %}">View</a> &nbsp;
												<a href="{% url 'updateTeam' team.id %}">Update</a> &nbsp;
												<a href="#"><i class="mdi mdi-delete font-30 align-middle mr-2"></i></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<br />
							<div class="row">
								<div class="col-1">
									<a href="{% url 'addTeam' %}" class="btn btn-success">Add Team</a>
								</div>
							</div>
						</div>
					</div>
					{% include 'footer.html' %}
					<!-- End Page Content -->
				</div>
				<!-- End Container fluid  -->

			</div>
			<!-- End Page wrapper  -->
		</div>
		{% endblock %}