<div class="table-responsive">
    <table id="groupList3" class="display nowrap table table-hover" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Group</th>
            <th>Description</th>
            <th>Status</th>
            <th class="text-center">All Members</th>
            <th class="text-center">Permissions</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for userGroup in all_userGroups %}
            <tr>
                <td>{{ userGroup.name }}</td>
                <td>{{ userGroup.groupextend.description }}</td>
                {% if userGroup.groupextend.active %}
                    <td class="text-center"><span
                            class="badge badge-success"><strong>ACTIVE</strong></span>
                    </td>
                {% else %}
                    <td class="text-center"><span
                            class="badge badge-danger"><strong>INACTIVE</strong></span>
                    </td>
                {% endif %}
                <td class="text-center">
                    <span class="label label-rounded label-success">
                        <a href="#" style="color: #fff"
                           onclick="functionManageGlobalUserGroup('{{ userGroup.name }}', {{ userGroup.id }})">{{ userGroup.num_user}}</a>
                    </span>
                </td>
                <td class="text-center">
                    <span class="label label-rounded label-success">
                        <a href="#" style="color: #fff"
                           onclick="functionManageGroupPermissions2('{{ userGroup.name }}', {{ userGroup.id }})">{{ userGroup.groupextend.get_permissions_count }} </a>
                    </span>
                </td>
                <td class="text-center">
                    <button onclick="functionEditUserGroupGlobal('{{ userGroup.name }}', {{ userGroup.groupextend.id }})"
                            class="btn btn-outline-success btn-sm" type="button">
                        <i title="Edit Group" class="fa fa-edit"></i>
                    </button>

                    <button onclick="functionDeleteGlobalGroup('{{ userGroup.name }}', {{ userGroup.groupextend.id }}, {{ userGroup.groupextend.get_permissions_count }}, {{ userGroup.num_user }}, {{ userGroup.id }})"
                          class="btn btn-outline-danger btn-sm" type="button">
                        <i title="Delete Group" class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#groupList3').DataTable();
</script>