<div class="table-responsive">
    <table id="groupList" class="display nowrap table table-hover" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Group</th>
            <th>Company</th>
            <th>Description</th>
            <th>Status</th>
            <th class="text-center">Members</th>
            <th class="text-center">Permissions</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for userGroup in all_userGroups %}
            <tr>
                <td>{{ userGroup.group }}</td>
                <td>{{ userGroup.company }}</td>
                <td>{{ userGroup.description }}</td>
                {% if userGroup.active %}
                    <td class="text-center"><span
                            class="badge badge-success"><strong>ACTIVE</strong></span>
                    </td>
                {% else %}
                    <td class="text-center"><span
                            class="badge badge-danger"><strong>INACTIVE</strong></span>
                    </td>
                {% endif %}
                <td class="text-center">
                    <span class="label label-rounded label-success">
                        <a href="#" style="color: #fff"
                           onclick="functionManageUserGroup('{{ userGroup.group }}', {{ userGroup.group_id }})">{{ userGroup.get_users_count }}</a>
                    </span>
                </td>
                <td class="text-center">
                    <span class="label label-rounded label-success">
                        <a href="#" style="color: #fff"
                           onclick="functionManageGroupPermissions('{{ userGroup.group }}', {{ userGroup.group_id }})">{{ userGroup.get_permissions_count }}</a>
                    </span>
                </td>
                <td class="text-center">
                    <button onclick="functionEditUserGroup('{{ userGroup.group }}', {{ userGroup.id }})"
                            class="btn btn-outline-success btn-sm" type="button">
                        <i title="Edit Group" class="fa fa-edit"></i>
                    </button>

                    <button onclick="functionDeleteGroup('{{ userGroup.group }}', {{ userGroup.id }}, {{ userGroup.get_permissions_count }}, {{ userGroup.get_users_count }}, {{ userGroup.group_id }})"
                            id="" class="btn btn-outline-danger btn-sm" type="button">
                        <i title="Delete Group" class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#groupList').DataTable();
</script>