{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper" class="main-wrapper">
    {% include 'header.html' %}
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">System User</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'listUsers' %}">Users List</a></li>
                    <li class="breadcrumb-item active">Update User</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title">
                            <div class="card-header bg-secondary">
                                <h4 class="m-b-0 text-white">Update User</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="row">

                                <input type="hidden" value="{{user_update.id}}" id="user_id">

                                <div class="col-4">
                                    {{ form.first_name|as_crispy_field }}
                                </div>

                                <div class="col-4">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="col-4">
                                    {{ form.gender|as_crispy_field }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form.company|as_crispy_field }}
                                </div>

                                <div id="div_id_branch" class="form-group col-sm-4">
                                    <label for="id_branch" class="col-form-label  requiredField">Branch<span
                                            class="asteriskField">*</span></label>
                                    <div class="">
                                        <select name="branch" class="select form-control" id="id_branch">
                                            <option value="{{ user_update.branch_id }}">{{ user_update.branch }}
                                            </option>
                                            {% for b in branches %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div id="div_id_department" class="form-group col-sm-4">
                                    <label for="id_department" class="col-form-label  requiredField">Department<span
                                            class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <select name="department" class="select form-control" id="id_department">
                                            <option value="{{ user_update.department_id }}">{{ user_update.department }}</option>
                                            {% for d in dept %}
                                                <option value="{{ d.id }}">{{ d.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-4">
                                    <div id="div_id_groups" class="form-group ">
                                        <label for="id_groups" class="col-form-label  requiredField">Group<span class="asteriskField">*</span></label>
                                        <div class="">
                                            <select name="groups" class="select form-control" id="id_groups">
                                                <option value="{{ selected_pk }}">{{ selected_gname }}</option>
                                                {% for g in group_detail %}
                                                    <option value="{{ g.id }}">{{ g.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    {{ form.email|as_crispy_field }}
                                    <medium id="email_addr_error2" class="text-muted hidden">
                                        <font color="red">
                                            Invalid Email Adress!
                                        </font>
                                    </medium>
                                </div>
                                <div class="col-4">
                                    {{ form.username|as_crispy_field }}
                                    <medium id="validate_user_name2" class="text-muted hidden">
                                        <font color="red">
                                            User Name Already Exits!
                                        </font>
                                    </medium><br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    {{ form.is_active|as_crispy_field }}
                                </div>

                                <div class="col-4">
                                    {{ form.is_superuser|as_crispy_field }}
                                </div>

                                <div class="col-4">
                                    <button id="updateAddUser" class="btn btn-success pull-right col-12">
                                        <i class="fa fa-fw fa-lg fa-save"></i>Update
                                    </button>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-4 hidden">
                                    {{ form.password|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </div>
</div>

<script>
    $('#id_groups').removeAttr('multiple', "");
    $('#updateAddUser').click(function () {
        var first_name = $('#id_first_name').val();
        var last_name = $('#id_last_name').val();
        var gender = $('#id_gender').val();
        var company = $('#id_company').val();
        var id_branch = $('#id_branch').val();
        var id_department = $('#id_department').val();

        var user_id = $('#user_id').val();
        var group = $('#id_groups').val();
        var email = $('#id_email').val();
        var username = $('#id_username').val();
        var status;
        var is_superuser;

        var ckbox = $('#id_is_active');
        if (ckbox.is(':checked')) {
            status = 1;
        }
        else {
            status = 0;
        }

        var ckbox2 = $('#id_is_superuser');
        if (ckbox2.is(':checked')) {
            is_superuser = 1;
        }
        else {
            is_superuser = 0;
        }

        if (first_name < 1 || last_name < 1 || gender < 1 || username < 1 || id_branch < 1 || id_department < 1 || email < 1) {
            if (first_name < 1) {
                $('#id_first_name').css({ "border": '2px solid #00635a' });
            }

            if (last_name < 1) {
                $('#id_last_name').css({ "border": '2px solid #00635a' });
            }

            if (gender < 1) {
                $('#id_gender').css({ "border": '2px solid #00635a' });
            }

            if (username < 1) {
                $('#id_username').css({ "border": '2px solid #00635a' });
            }

            if (id_branch < 1) {
                $('#id_branch').css({ "border": '2px solid #00635a' });
            }

            if (id_department < 1) {
                $('#id_department').css({ "border": '2px solid #00635a' });
            }

            if (email < 1) {
                $('#id_email').css({ "border": '2px solid #00635a' });
            }
        } else {
            if (validateEmail(email)) {
                data3 = {
                    first_name: first_name,
                    last_name: last_name,
                    gender: gender,
                    company: company,
                    user_id: user_id,
                    group: group,
                    email: email,
                    username: username,
                    branch: id_branch,
                    department: id_department,
                    status: status,
                    is_superuser: is_superuser
                };

                urldata = "{% url 'saveUserUpdate'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: urldata,
                    success: function (resp) {
                        $('.page-wrapper').html(resp);
                    }
                });
            } else {
                $('#email_addr_error2').show();
                $('#id_email').css({ "border": '2px solid #00635a' });
                document.getElementById('updateAddUser').disabled = false;
            }

        }

    });

    $('#id_first_name').on('input', function () {
        $('#id_first_name').css({ "border": '1px solid #ced4da' });
    });

    $('#id_last_name').on('input', function () {
        $('#id_last_name').css({ "border": '1px solid #ced4da' });
    });

    $('#id_gender').on('input', function () {
        $('#id_gender').css({ "border": '1px solid #ced4da' });
    });

    $('#id_username').on('input', function () {
        $('#id_username').css({ "border": '1px solid #ced4da;' });
    });
    $('#id_branch').on('input', function () {
        $('#id_branch').css({ "border": '1px solid #ced4da;' });
    });

    $('#id_department').on('input', function () {
        $('#id_department').css({ "border": '1px solid #ced4da' });
    });

    $('#id_email').on('input', function () {
        $('#id_email').css({ "border": '1px solid #ced4da' });
        $('#email_addr_error2').hide();
    });

    $('#id_username').on('input', function () {
        var id_user_name = $(this).val();

        $.ajax({
            url: '{% url 'validateUserName' %}',
            data: {
                'username': id_user_name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_user_name2").show();
                    document.getElementById('id_username').style.borderColor = "red";
                    document.getElementById("updateAddUser").disabled = true;
                } else {
                    $("#validate_user_name2").hide();
                    document.getElementById('id_username').style.borderColor = "#e7e7e7";
                    document.getElementById("updateAddUser").disabled = false;
                }
            }
        });
    });
</script>
{% endblock %}