{% load crispy_forms_tags %}

<div class="card-body">
    <div class="basic-form">
        <form id="update-user-group">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">

                    <div class="form-group">
                        <label class="col-form-label  requiredField">Group Name<span
                                class="asteriskField">*</span></label>
                        <div class="">
                            <input value="{{ groupextend.group }}" id="id_name2" type="text" name=""
                                   class="textinput textInput form-control">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    {{ form.description|as_crispy_field }}
                </div>
                <input value="{{ groupextend.id }}" type="hidden" id="grp_ext_id">
                <input value="{{ groupextend.group_id }}" type="hidden" id="grp_id">
            </div>

            <div class="row col-12">
                <div class="col-6">
                    {{ form.active|as_crispy_field }}
                </div>
                <div class="col-6" style="margin-top: 1%">
                    <button type="submit" value="Update" class="col-4 btn btn-success pull-right col-8">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#update-user-group').on('submit', function (event) {
        event.preventDefault();
        var name = $('#id_name2').val();
        var description = $('#id_description').val();
        var active;
        var grp_ext_id = $('#grp_ext_id').val();
        var grp_id = $('#grp_id').val();
        urldata = "{% url 'updateGroup'%}";

        if (document.getElementById('id_active').checked) {
            active = 1;
        } else {
            active = 0;
        }

        if (name < 1) {
            if (name < 1) {
                $('#id_name2').css({ "border": '2px solid #00635a' });
            }
        }else{
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    name: name,
                    grpextid: grp_ext_id,
                    grpid: grp_id,
                    desc: description,
                    active: active
                },
                url: urldata,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.table-responsive').html(resp);
                }
            });
        }

    });
</script>