Dear <strong>{{ name }}</strong> <br />
<p>Hope this mail finds you well.</p>
<p>This is to inform you that a new Milestone has been assigned to you and you are expected to complete it 
    within the specified timelines. 
</p>
<p>
    <strong>Below are the details of the milestone:</strong> <br />
    Milestone Name  : <strong>{{ milestone_name }}</strong><br />
    Project         : <strong>{{ project }}</strong><br />
    Start Date      : <strong>{{ startdate }}</strong><br />
    End Date        : <strong>{{ enddate }}</strong><br />
</p>

<p>Revert back to the project Manager Mr. <strong>{{ project_manager }}</strong> for more details.</p>
<p>
    <strong>
        Thanks & Regards <br />
        PM Team <br />
        Sybyl (U) Ltd <br />
        Kampala Office
    </strong>
</p>