Hello <strong>{{ firstname }}</strong> <br />
<p>Thank you for registering. 
    Please note that your admnistrator will need to approve your request 
    first before you can login into the system.</p>
<p>Once your registration has been approved, 
    you will be able to login using your username as the login id that you provided i.e. Login Id :<strong> {{ username }} </strong></p>

<p>
    <strong>
        Thanks & Regards <br />
        PM Team <br />
        Sybyl (U) Ltd <br />
        Kampala Office
    </strong>
</p>


        