<div id="customer-pane">
    {% load crispy_forms_tags %} {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div id="div_id_name" class="form-group">
                <label for="id_name" class="col-form-label  requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="name" maxlength="100" class="textinput textInput form-control" required="" id="id_name">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label  requiredField">Company<span class="asteriskField">*</span></label>
                <div class="">
                    <input id="id_name" type="text" name="" class="textinput textInput form-control" disabled
                        value="{{ company_name }}" />
                    <input id="id_company" type="text" name="" class="textinput textInput form-control" style="display: none;"
                    value="{{ company_id }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <div id="div_id_project_status" class="">
                <label for="id_project_status" class="col-form-label ">
                    Status<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <select id='id_project_status' class="select form-control status" name="status" ></select>
                </div>  
            </div>
        </div>

        <div  class="col-6">
            <div id="div_id_estimated_start_date" class="form-group">
                <label for="id_estimated_start_date" class="col-form-label ">
                    Estimated start date
                </label>
                <div class="">
                    <input type="text" name="estimated_start_date" class="dateinput form-control" id="id_estimated_start_date" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <medium id="start_date" class="text-muted hidden">
                <font color="red">
                    Start date has to be less or equal to end date
                </font>
            </medium>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div id="div_id_estimated_end_date" class="form-group">
                <label for="id_estimated_end_date" class="col-form-label ">
                    Estimated end date
                </label>
                <div class="">
                    <input type="text" name="id_estimated_end_date" class="dateinput form-control" id="id_estimated_end_date" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <medium id="end_date" class="text-muted hidden">
                <font color="red">
                    End date has to be greater or equal to start date
                </font>
            </medium>
        </div>

        <div class="col-6">
            <div id="div_id_project_code" class="form-group">
                <label for="id_project_code" class="col-form-label ">
                    Project code
                </label>
                <div class="">
                    <input type="text" name="project_code" maxlength="255" class="textinput textInput form-control" id="id_project_code" autocomplete="off">
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div id="div_id_description" class="form-group">
            <label for="id_description" class="col-form-label">Description
            </label>
            <div class="">
                <textarea class="form-control" id="id_description"></textarea>
            </div>
        </div>
    </div>
        <br>
            
        <div class="">
            <div class="col-md-12" style="margin-top: 2%;">
                <button id="btnAddProject" class="btn btn-success pull-right col-12">
                    <span class="btn-save-user"><i class="fa fa-fw fa-lg fa-save"></i>Submit</span>
                </button>
            </div>
        </div>
    
    </div>
</div>

<script>

    $(function(){
      
        $.ajax({
            url: "{% url 'returnStatus' %}",

            data: {},
            dataType: 'json',
            success: function (data) {   
                let newData = JSON.parse(data.status);
                $("#id_project_status").prepend('<option value="" selected disabled> -----Choose Status----- </option>');

                for(i=0; i<newData.length; i++){
                    actual = newData[i];
                    $('#id_project_status').append('<option value="' + actual["pk"] + '">' + actual["fields"]["name"] + '</option>');
                    $("#id_project_status").selectpicker('refresh');
                }
            }
        });
    });

    $('#id_project_status').attr('data-live-search', "true"); 
    $('#id_project_status').selectpicker({
        size: 3
    });

    // date input fields
    $('#id_estimated_start_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_estimated_end_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_estimated_cost").keypress(function(event) {
        if(event.which != 0){
            return /\d/.test(String.fromCharCode(event.keyCode));
        }
    });

    $("#id_estimated_start_date").attr("placeholder", "mm/dd/yyyy");
    $("#id_estimated_end_date").attr("placeholder", "mm/dd/yyyy");

    // stop manual input 
    $('#id_estimated_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_estimated_end_date').on('change', function(){
        var startDate= document.getElementById('id_estimated_start_date').value;
        var endDate= document.getElementById('id_estimated_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnAddProject").disabled = true;
            document.getElementById('id_estimated_end_date').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnAddProject").disabled = false;
            document.getElementById('id_estimated_end_date').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_estimated_start_date').style.borderColor = "";
            $('#start_date').hide();
        }
    });

    $('#id_estimated_start_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_estimated_start_date').on('change', function(){
        var startDate= document.getElementById('id_estimated_start_date').value;
        var endDate= document.getElementById('id_estimated_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnAddProject").disabled = true;
            document.getElementById('id_estimated_start_date').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnAddProject").disabled = false;
            document.getElementById('id_estimated_start_date').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_estimated_end_date').style.borderColor = "";
            $('#end_date').hide();
        }
    })

    // setting default value for estimated cost

    $('#id_estimated_cost').attr('placeholder', '0');

    $("#id_estimated_cost").attr('autocomplete', 'off');

    $("#id_name").attr('autocomplete', 'off');

    $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '' });
    });
    
    $("#id_project_code").attr('autocomplete', 'off');

    function titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        
        return splitStr.join(' '); 
    }

    

    $('.status').on('change', function(){
        $('.status').css({ "border": '1px solid #ced4da'}); 
    });

    $('#btnAddProject').click(function () {
        var name = $('#id_name').val();
        var company_id = $('#id_company').val();
        var status = $('#id_project_status').val();
        var estimated_start_date = $('#id_estimated_start_date').val();
        var estimated_end_date = $('#id_estimated_end_date').val();
        var project_code = $('#id_project_code').val();
        var description = $('#id_description').val();
        var statusText = $("#id_project_status option:selected").text().toLowerCase();


        if (name < 1 || status < 1 ) {
            if (name < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }

            if (status < 1) {
                $('.status').css({ "border": '2px solid #00635a' }); 
            }
 
        } 

        if(name.length > 0 && status > 0){
            if(statusText == "open" || statusText == "onhold"){
                document.getElementById("btnAddProject").disabled = false;

                if(estimated_start_date.length < 1){
                    start = 'null';
                }
                if(estimated_end_date.length < 1){
                    end = 'null';
                }
                
                saveProject(name, company_id, status, estimated_start_date, estimated_end_date, description);

            } 
              
        }
    });

    function saveProject(name, company_id, status, estimated_start_date, estimated_end_date, description){
        urlData = "{% url 'saveProject' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                name: name,
                company_id: company_id,
                status: status,
                estimated_start_date: estimated_start_date,
                estimated_end_date: estimated_end_date,
                description:description,
            },
            url: urlData,
            success: function(resp){ 
                $('.close-dialog').click();
                $('.customer-projects').html(resp);

            }
        });
    }

     
</script>