{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'addCodeFormat' %}" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-12">
                    {{ form.project_code|as_crispy_field }}
                    <medium id="validate_priority_name" class="text-muted hidden">
                        <font color="red">
                            Code Format Already Exists!
                        </font>
                    </medium>
                </div>
                <div class="col-md-12">
                    <button id="btnAddProjectCode" class="btn btn-success pull-right col-md-6">
                        <i class="fa fa-fw fa-lg fa-save"></i>Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $("#id_project_code").attr("placeholder", "Enter Code Format");

</script>