{% load static %}
{% block content %}

    <style>
        .daterangepicker{
            z-index: 999999999999999999;
        }
    </style>

    <script type="text/javascript" src="{% static 'template-static-files/javascript/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'template-static-files/javascript/daterangepicker.js' %}"></script>


    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_log_day" class="form-group">
                <label for="id_log_day4" class="col-form-label  requiredField">Log Date<span class="asteriskField">*</span>
                </label>                    
                <div class=""> 
                    <input type="text" name="id_log_day4" class="dateinput form-control" id="id_log_day4" value="{{log_date}}" disabled>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="" class="form-group">
                <label for="" class="col-form-label  requiredField">User<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <input type="text" maxlength="255" class="textinput textInput form-control" required="" value="{{request.session.first_name }} {{ request.session.last_name }}" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_project" class="form-group">
                <label for="id_project4" class="col-form-label  requiredField">Project<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <select name="project" class="select form-control" id="id_project4">
                        <option selected="" value="" disabled>--Select Project--</option>
                        {% for pro in project_list %}
                            <option value="{{pro.id}}">{{pro.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="div_id_milestone" class="form-group">
                <label for="id_milestone4" class="col-form-label  requiredField">Milestone<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <select name="milestone" class="select form-control" id="id_milestone4">
                        <option selected="" value="" disabled>--Select Milestone--</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_task" class="form-group">
                <label for="id_task4" class="col-form-label requiredField">Task<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <select name="task" class="select form-control" id="id_task4">
                        <option selected="" value="" disabled>--Select Task--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="div_id_workedtime" class="form-group">
                <label for="id_workedtime4" class="col-form-label  requiredField">Worked Time<span class="asteriskField">*  | Duration: <big class="text-info font-weight-bold hide" id="time_duration4"></big></span>
                </label>                    
                <div class="">
                    <input onkeypress="return false;" style="box-shadow: none; font-family: 'Poppins', sans-serif; display: block; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter" id="id_workedtime4" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div class="form-group">
                <label class=" control-label">Notes</label>
                <div class="">
                    <textarea id="id_timesheet_notes4" class="form-control" placeholder="Notes"></textarea>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <button style="margin-top: 18%;" id="btnSaveTimesheet02" class="btn btn-success pull-right col-10">
                <span class="btn-save-timesheet"><i class="fa fa-fw fa-lg fa-save"></i>Submit</span>
            </button>
        </div>
        
    </div>
    
    <script>
        $("#time_duration4" ).hide();
        document.getElementById("btnSaveTimesheet02").disabled=false;
        $('#id_log_day4').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            clearBtn: true,
            endDate : new Date()
        });
        
        $('input[name="datefilter"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            timePickerSeconds: false,
            locale: {
                format: 'h:mm A'
            }
        }).on('show.daterangepicker', function (ev, picker) {
            picker.container.find(".calendar-table").hide();
        }).on('change.daterangepicker', function (ev, picker) {
            durationCalculating05();
        });
        durationCalculating05();
    
        $('#id_project4').change(function () {
            $('#id_milestone4').val(null).trigger('change');
            $('#id_milestone4').html('');
            $('#id_task4').html('');

            var project_id = parseInt($('#id_project4').val());
            urldata = "{% url 'selectMilestonesByProject'%}";

            $.ajax({
                type: 'GET',
                url: urldata,
                data: {
                    project_id: project_id
                },
                success: function (data) {
                    var res = JSON.parse(data.mil);
                    if (res !== '' && res.length > 0) {
                        $('#id_milestone4').html('');
                        for (i in res) {
                            $('#id_milestone4').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                        }

                        $('#id_task4').val(null).trigger('change');
                        var id_milestone1 = parseInt($('#id_milestone4').val());
                        urldata = "{% url 'selectTasksByMilestone'%}";

                        $.ajax({
                            type: 'GET',
                            url: urldata,
                            data: {
                                id_milestone: id_milestone1
                            },
                            success: function (data) {
                                var res = JSON.parse(data.task);
                                if (res !== '' && res.length > 0) {
                                    $('#id_task4').html('');
                                    for (i in res) {
                                        $('#id_task4').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                                    }
                                }
                            }
                        });
                        $('#id_milestone4').css({ "border": '1px solid #ced4da' });
                        $('#id_task4').css({"border": '1px solid #ced4da'});

                    }
                }
            });
        });

        $('#id_milestone4').change(function () {
            $('#id_task4').val(null).trigger('change');
            $('#id_task4').html('');

            var id_milestone = parseInt($('#id_milestone4').val());
            if (id_milestone > 0) {
                urldata = "{% url 'selectTasksByMilestone'%}";

                $.ajax({
                    type: 'GET',
                    url: urldata,
                    data: {
                        id_milestone: id_milestone
                    },
                    success: function (data) {
                        var res = JSON.parse(data.task);
                        if (res !== '' && res.length > 0) {
                            $('#id_task4').html('');
                            for (i in res) {
                                $('#id_task4').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                            }
                        }
                        $('#id_task4').css({"border": '1px solid #ced4da'});
                    }
                }); 
            }
        });

        $('#id_log_day4').on('change', function () {
            $('#id_log_day4').css({ "border": '1px solid #ced4da' });
        });

        $('#id_project4').on('input', function () {
            $('#id_project4').css({ "border": '1px solid #ced4da' });
        });

        $('#id_milestone4').on('input', function () {
            $('#id_milestone4').css({ "border": '1px solid #ced4da' });
        });

        $('#id_task4').change(function () {
            $('#id_task4').css({"border": '1px solid #ced4da'});
        });

        $('#btnSaveTimesheet02').click(function () { 
            var id_log_day = $('#id_log_day4').val();
            var id_project = $('#id_project4').val();
            var id_milestone = $('#id_milestone4').val();
            var id_task = $('#id_task4').val();
            var id_timesheet_notes = $('#id_timesheet_notes4').val();

            var id_workedtime = $('#id_workedtime4').val();
            var worked_time_ranges = id_workedtime.split(" - ");
            var start_time = worked_time_ranges[0];
            var end_time = worked_time_ranges[1];

            if (id_log_day < 1 || id_project < 1 || id_milestone < 1  || id_task < 1) {
                if (id_log_day < 1) {
                    $('#id_log_day4').css({ "border": '2px solid #00635a' });
                }

                if (id_project < 1) {
                    $('#id_project4').css({ "border": '2px solid #00635a' });
                }

                if (id_milestone < 1) {
                    $('#id_milestone4').css({ "border": '2px solid #00635a' });
                }

                if (id_task < 1) {
                    $('#id_task4').css({ "border": '2px solid #00635a' });
                }

            } else {
                data3 = {
                    id_log_day: id_log_day,
                    id_task: id_task,
                    start_time: start_time,
                    end_time: end_time,
                    notes: id_timesheet_notes
                };
                url_data = "{% url 'savecalenderTimeSheet'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: url_data,
                    success: function (resp) {
                        $('.close-dialog').click();
                        $('.container-fluid').html(resp);
                        
                        document.getElementById("btnSaveTimesheet02").disabled=true;
                    }
                });
            }
        });

        function durationCalculating05(){
            var id_workedtime = $('#id_workedtime4').val();
            var worked_time_ranges = id_workedtime.split(" - ");
            
            var time1 = worked_time_ranges[0];
            var time2 = worked_time_ranges[1];

            var startDate = new Date("January 1, 1970 " + time1);
            var endDate = new Date("January 1, 1970 " + time2);
            
            var timeDiff = Math.abs(startDate - endDate);

            var hh = Math.floor(timeDiff / 1000 / 60 / 60);
            if(hh < 10) {
                hh = '0' + hh;
            }
            timeDiff -= hh * 1000 * 60 * 60;
            var mm = Math.floor(timeDiff / 1000 / 60);
            if(mm < 10) {
                mm = '0' + mm;
            }

            var hourDiff = hh + ":" + mm;

            $("#time_duration4" ).show();
            $("#time_duration4").text(hourDiff);
        }

    </script>
{% endblock %}