{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'addRole' %}" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                    <medium id="validate_role_name" class="text-muted hidden">
                        <font color="red">
                            Role Already Exists!
                        </font>
                    </medium>
                </div>
                <div class="col-6">{{ form.description|as_crispy_field }}</div>
            </div>
            <div class="">
                <div class="col-md-12">
                    <button id="btnAddRole" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#id_name").attr("placeholder", "Enter Role Name");
    $("#id_description").attr("placeholder", "Enter Description");

    $('#id_name').on('input', function () {
        var role_name = $(this).val();

        $.ajax({
            url: '{% url 'validateRoleName' %}',
            data: {
                'rolename': role_name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_role_name").show();
                    document.getElementById('id_name').style.borderColor = "red";
                    document.getElementById("btnAddRole").disabled = true;
                } else {
                    $("#validate_role_name").hide();
                    document.getElementById('id_name').style.borderColor = "#e7e7e7";
                    document.getElementById("btnAddRole").disabled = false;
                }
            }
        });
    });
</script>