{% load crispy_forms_tags %}
<form class="form-horizontal"  action="{% url 'addProject' %}" method="post" enctype="multipart/form-data" id="addProject">
    {% csrf_token %}
    {{project_form.media}}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            {{ project_form.name|as_crispy_field }}
            <medium id="validate_project_name" class="text-muted hidden">
                <font color="red">
                    Project Name Already Exists!
                </font>
            </medium>
        </div>
        <div class="col-md-4 col-sm-12">
            {{ project_form.company|as_crispy_field}}
        </div>
        <div class="col-md-4 col-sm-12">
            {{ project_form.project_status|as_crispy_field }}
        </div>
    </div>   
    <div class="row">
        <div class="col-md-4 col-sm-12" style="display: none;">
            {{ project_form.estimated_cost|as_crispy_field }}
        </div> 
        <div class="col-md-4 col-sm-12">
            {{ project_form.estimated_start_date|as_crispy_field }}
            <medium id="start_date" class="text-muted hidden">
                <font color="red">
                    Start date has to be less or equal to end date
                </font>
            </medium>
        </div>
        <div class="col-md-4 col-sm-12">
            {{ project_form.estimated_end_date|as_crispy_field }}
            <medium id="end_date" class="text-muted hidden">
                <font color="red">
                    End date has to be greater or equal to start date
                </font>
            </medium>
        </div>
    </div>

    <div class="row col-md-12 col-sm-12">
        {{ project_form.description|as_crispy_field|safe }}
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            {{ project_form.project_code|as_crispy_field }}
            <medium id="project_code" class="text-muted hidden">
                <font color="red">
                    Please fill in project name
                </font>
            </medium>
        </div>
        <div class="col-md-4 col-sm-12">
            {{ project_form.logo|as_crispy_field }}
        </div>
        <div class="col-md-4 col-sm-4 ">
            <button id="btnAddProject" class="col-md-12 col-sm-12 btn btn-success" style="margin-top: 11%;">
                <i class="fa fa-fw fa-lg fa-save"></i>Add project
            </button>
        </div>
    </div> 
    
</form>
<script>

    // company attribute
    $('#id_company').attr('multiple', "multiple");
    $('#id_company').attr('data-live-search', "true");
    $('#id_company').selectpicker({
        size: 4,
    });

    $("#div_id_company").removeClass("form-group");
    $("#div_id_project_status").removeClass("form-group");
    
    // status attribute 
    $('#id_project_status').removeAttr('multiple', "");
    $('#id_project_status').attr('data-live-search', "true"); 
    $('#id_project_status').selectpicker({
        size: 3,
    });

    // date input fields
    $('#id_estimated_start_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_estimated_end_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_estimated_cost").keypress(function(event) {
        if(event.which != 0){
            return /\d/.test(String.fromCharCode(event.keyCode));
        }
    });

    $("#id_estimated_start_date").attr("placeholder", "mm/dd/yyyy");
    $("#id_estimated_end_date").attr("placeholder", "mm/dd/yyyy");

    // stop manual input 
    $('#id_estimated_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_estimated_end_date').on('change', function(){
        var startDate= document.getElementById('id_estimated_start_date').value;
        var endDate= document.getElementById('id_estimated_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnAddProject").disabled = true;
            document.getElementById('id_estimated_end_date').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnAddProject").disabled = false;
            document.getElementById('id_estimated_end_date').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_estimated_start_date').style.borderColor = "";
            $('#start_date').hide();
        }
    });

    $('#id_estimated_start_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_estimated_start_date').on('change', function(){
        var startDate= document.getElementById('id_estimated_start_date').value;
        var endDate= document.getElementById('id_estimated_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnAddProject").disabled = true;
            document.getElementById('id_estimated_start_date').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnAddProject").disabled = false;
            document.getElementById('id_estimated_start_date').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_estimated_end_date').style.borderColor = "";
            $('#end_date').hide();
        }
    })

    // setting default value for estimated cost

    $('#id_estimated_cost').attr('placeholder', '0');

    $("#id_estimated_cost").attr('autocomplete', 'off');

    $("#id_name").attr('autocomplete', 'off');

    $('#id_name').on('input', function () {
        var project_name = $(this).val();

        $.ajax({
            url: "{% url 'validateProjectName' %}",
            data: {
                'projectname': project_name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_project_name").show();
                    document.getElementById('id_name').style.borderColor = "red";
                    document.getElementById("btnAddProject").disabled = true;
                } 
                else {
                    $("#validate_project_name").hide();
                    document.getElementById('id_name').style.borderColor = "#e7e7e7";
                    document.getElementById("btnAddProject").disabled = false;
                }
            }
        });
    });
    
    $("#id_project_code").attr('autocomplete', 'off');

    function titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        
        return splitStr.join(' '); 
    }
 
</script>

<style>
    /* remove increment and decrement arrow from number */
    input[type="number"] {
    -webkit-appearance: textfield;
        -moz-appearance: textfield;
            appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    }
</style>