{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'addProjectTeamMember' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-12">
                    {{form.project_team|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{ form.member|as_crispy_field }}
                    <medium id="validate_member_name" class="text-muted hidden">
                        <font color="red">
                            Member already added to team
                        </font>
                    </medium>
                </div>
                <div class="col-12">{{form.responsibility | as_crispy_field}}</div>
            </div>
            <div>
                <div class="col-md-12">
                    <button id="btnAddProjectMember" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $("#id_project_team").removeAttr("multiple", "");
    $('#id_project_team').attr( 'readOnly' , 'true' );
    $('#id_project_team').attr('data-live-search', "true");
    $('#id_project_team').selectpicker({
        size: 3
    });
    

    // member    
    $('#id_member').attr('data-live-search', "true"); 
    $('#id_member').selectpicker({
        size: 3
    });

    // responsibility
    $('#id_responsibility').attr('data-live-search', "true"); 
    $('#id_responsibility').selectpicker({
        size: 3
    });

    $('#id_member').on('input', function () {
        var member = $(this).val();

        var projectTeam = document.getElementById('id_project_team').value;
        console.log(projectTeam)

        $.ajax({
            url: '{% url 'validateProjectTeamAssigned' %}',

            data: {
                'projectTeam': projectTeam,
                'member': member
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_assigned) {
                    $("#validate_member_name").show();
                    document.getElementById('id_member').style.borderColor = "red";
                    document.getElementById("btnAddProjectMember").disabled = true;
                } else {
                    $("#validate_member_name").hide();
                    document.getElementById('id_member').style.borderColor = "#e7e7e7";
                    document.getElementById("btnAddProjectMember").disabled = false;
                }
            }
        });
    });



</script>