<div id="save-sla-pane">
    {% load crispy_forms_tags %} {% csrf_token %}
    <div class="row col-12">
        <div class="col-6">
            {{ form.name | as_crispy_field }}

            <div class="form-group">
                <label for="expiry">Response Time
                    <span class="asteriskField">*</span>
                </label>
                <div class="input-group">
                    <input id="id_response_time" type="number" class="form-control select-durations" placeholder="Enter Number"
                        aria-label="Text input with segmented dropdown button">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="settingtogglebtn">Day(s)</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Select Days</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype(1, 'Day(s)');">Day(s)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype(2, 'Week(S)');">Week(S)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype(3, 'Month(s)');">Month(s)</span>
                        </div>
                    </div>
                </div>
                <span id="errmsg1"></span>
            </div>

            <div id="div_id_description" class="form-group">
                <label for="id_description" class="col-form-label ">
                    Description
                </label>
                <div class="">
                    <textarea  name="description" class="form-control" id="id_description">
                
                    </textarea>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id="div_id_project" class="form-group">
                <label for="id_project" class="col-form-label  requiredField">Project<span class="asteriskField">*</span></label>
                <div class="">
                    <input type="text" class="textinput textInput form-control" value="{{pro_name}}" disabled>
                    <input type="hidden" name="project" class="textinput textInput form-control" required="" id="id_project" value="{{pro_id}}">
                </div>
            </div>
            <div class="form-group">
                <label for="expiry">Resolution Time
                    <span class="asteriskField">*</span>
                </label>
                <div class="input-group">
                    <input id="id_resolution_time" type="number" class="form-control select-durations" placeholder="Enter Number"
                        aria-label="Text input with segmented dropdown button" >
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="settingtogglebtn2">Day(s)</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Select Days</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype2(1, 'Day(s)');">Day(s)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype2(2, 'Week(S)');">Week(S)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype2(3, 'Month(s)');">Month(s)</span>
                        </div>
                    </div>
                </div><span id="errmsg2"></span>
            </div><br></br><br>

            <div class="">
                <div class="col-12">
                    <button id="btnAddSLA" class="btn btn-success pull-right">
                        <span class="btn-save-sla"><i class="fa fa-fw fa-lg fa-save"></i>Submit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#id_response_time").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg1").html("Digits Only").show().fadeOut("slow");
                return false;
        }
   });

   $("#id_resolution_time").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg2").html("Digits Only").show().fadeOut("slow");
                return false;
        }
   });

   $('#btnAddSLA').click(function () { 
        var sla_name = $('#id_name').val();
        var id_description = $('#id_description').val();
        var id_response_time = $('#id_response_time').val();
        var id_resolution_time = $('#id_resolution_time').val();
        var settingtoggleresp = $('#settingtogglebtn').html();
        var settingtoggleresoln = $('#settingtogglebtn2').html();
        var id_project = $('#id_project').val();

        if (sla_name < 1 || id_response_time < 1 || id_resolution_time < 1 || id_project < 1) {
            if (sla_name < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }

            if (id_response_time < 1) {
                $('#id_response_time').css({ "border": '2px solid #00635a' });
            }

            if (id_resolution_time < 1) {
                $('#id_resolution_time').css({ "border": '2px solid #00635a' });
            }

            if (id_project < 1) {
                $('#id_project').css({ "border": '2px solid #00635a' });
            }
        } else {
            document.getElementById('btnAddSLA').disabled = true;
            data3 = {
                sla_name: sla_name,
                id_description: id_description,
                id_response_time: id_response_time,
                id_resolution_time: id_resolution_time,
                settingtoggleresp: settingtoggleresp,
                settingtoggleresoln: settingtoggleresoln,
                id_project: id_project
            };
            url_data = "{% url 'saveSLA'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: data3,
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.sla-pane').html(resp);
                }
            });
        }
    });

    $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '1px solid #ced4da' });
    });

    $('#id_response_time').on('input', function () {
        $('#id_response_time').css({ "border": '1px solid #ced4da' });
    });

    $('#id_resolution_time').on('input', function () {
        $('#id_resolution_time').css({ "border": '1px solid #ced4da' });
    });

    $('#id_project').change(function () {
        $('#id_project').css({"border": '1px solid #ced4da'});
    });

    function settselectedtype(value, type) {
        $('#settingtogglebtn').html(type);
    }

    function settselectedtype2(value, type) {
        $('#settingtogglebtn2').html(type);
    }
</script>