{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'adminAddProjectTeamMember' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-12">
                    {{form.project_team|as_crispy_field}}
                </div>
                <div class="col-12">
                    {{ form.member|as_crispy_field }}
                    <medium id="validate_member_name" class="text-muted hidden">
                        <font color="red">
                            Member already added to team
                        </font>
                    </medium>
                </div>
                <div class="col-12">{{form.responsibility | as_crispy_field}}</div>
            </div>
            <div>
                <div class="col-md-12">
                    <button id="btnAddProjectMember" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $('#id_member').html("");
    $('#id_project_team').prop("selectedIndex", -1);
    $("#id_project_team").removeAttr("multiple", "");

    // $('#id_project_team').attr('data-live-search', "true");
    // $('#id_project_team').selectpicker({
    //     size: 3
    // });
    
    // member    
    $('#id_member').attr('data-live-search', "true"); 
    $('#id_member').selectpicker({
        size: 3
    });
    // responsibility
    $('#id_responsibility').attr('data-live-search', "true"); 
    $('#id_responsibility').selectpicker({
        size: 3
    });
    $("#id_project_team").prop("selectedIndex", -1);
    $("#id_project_team").prepend('<option value="-1"> -----Select Team----- </option>');
    $("#id_project_team").selectpicker('refresh');
    // on selecting project team
    $('#id_project_team').on('change', function () {
    
        var projectTeam = $(this).val();
        $.ajax({
            url: "{% url 'validateProjectTeamAssigned' %}",
            data: {
               project_team: projectTeam
            },
            dataType: 'json',
            success: function (data) {
                var newData = JSON.parse(data.users);
                console.log(newData);
                let actual = '';
                $("#id_member").html("");
                $("#id_member").prepend('<option value="-1"> -----Select Member----- </option>');
                for(i=0; i<newData.length; i++){
                    actual = newData[i];
                    
                    $('#id_member').append('<option value="' + actual["pk"] + '">' + actual["fields"]["first_name"] + " " + actual["fields"]["last_name"] + '</option>');
                    $("#id_member").selectpicker('refresh');
                }
                    
            }
        });
    });
</script>