{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .show-pane {
        display: contents;
    }
</style>
    <div>
        <!-- Main wrapper  -->
        <div id="main-wrapper">
            {% include 'header.html' %}
            
            {% include 'left-nav.html' %}
            
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <!-- Bread crumb -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">Approve Timesheets</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Timesheet Approvals</li>
                        </ol>
                    </div>
                </div>
                <!-- End Bread crumb -->
                <!-- Container fluid  -->
                <div class="">
                    <!-- Start Page Content -->
                        <div class="card" style="margin-top: -2%;">
                            <div class="card-body">
                                
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#timesheetappr_home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Pending Approval</span></a></li>
                                    <li class="nav-item" onclick="loadURL('{% url 'approvedTimesheetsTab'%}', '', 'timesheet-approv', 'GET');"> <a class="nav-link" data-toggle="tab" href="#tm_approved_tab" role="tab"><span class="hidden-sm-up"><i class="fa fa-share"></i></span> <span class="hidden-xs-down">Approved Timesheets</span></a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border">
                                    <div class="tab-pane active" id="timesheetappr_home" role="tabpanel">
                                        <div  style="height: 355px; overflow-y: scroll;"><br>

                                            <div class="table-responsive approve-time-sheet-pane">
                                                <table id="table-approvals" class="display nowrap table table-hover" cellspacing="0" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User</th>
                                                        <th>Task</th>
                                                        <th>Log Date</th>
                                                        <th>Date Created</th>
                                                        <th>Date Submitted</th>
                                                        <th class="text-left">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                            
                                                    {% for tm in timesheet_list %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>
                                                                <span class="badge badge-success">
                                                                    <strong>{{ tm.project_team_member }}</strong>
                                                                </span>
                                                            </td>
                                                            <td>{{ tm.task }}</td>
                                                            <td>{{ tm.log_day | date:"D, d M, Y"}}</td>
                                                            <td>{{tm.created_time | date:"D, d M, Y"}}</td>
                                                            <td>{{tm.date_submitted | date:"D, d M, Y"}}</td>
                                                            <td>
                                                                <form class="form">
                                                                    <span class="row">
                                                                        <input type="checkbox" id="approvecheckbutton{{tm.id}}" onclick="manageTMApprovals({{tm.id}})" class="text-info timesheet-checkbox2" title="Select to approve timesheet."/>
                                                                
                                                                        <span class=" approve-radio-pane" id="approve-radio-pane{{tm.id}}" style="display: none">
                                                                            <input type="radio" name="approve{{tm.id}}" value="ACCEPTED" checked /><small>Accept</small>
                                                                            <input type="radio" name="approve{{tm.id}}" value="REJECTED" /><small>Reject</small>
                                                                        </span>
                                                                    </span>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="">
                                            <button style="margin-top: 1%; margin-right: 1%;" title="Send Timesheets For Approval!" id="btnApproveTimesheets" class="btn btn-success pull-right">
                                                <i class="fa fa-lg fa-check-square-o"></i> Approve
                                            </button>
                                        </div><br><br><br>
                                    </div>    

                                    <div class="tab-pane  p-20" id="tm_approved_tab" role="tabpanel">
                                        <!-- Pending Approval -->
                                        <div class="text-center timesheet-approv">
                                            <i class="fa fa-spinner fa-spin fa-4x"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script>
        var checktimesheetApprovalSet = new Set();
        var listTimesheetApproval = [];
        $(".timesheet-checkbox2").prop('checked', false);

        function manageTMApprovals(timesheetid) {
            var checkBox = document.getElementById("approvecheckbutton" + timesheetid);
            if (checkBox.checked === true) {
                if (!checktimesheetApprovalSet.has(timesheetid)) {
                    checktimesheetApprovalSet.add(timesheetid);
                    $("#approve-radio-pane"+timesheetid).show();
                }
            }else{
                if (checktimesheetApprovalSet.has(timesheetid)) {
                    checktimesheetApprovalSet.delete(timesheetid);
                    $("#approve-radio-pane"+timesheetid).hide();
                }
            }
        }

        $('#btnApproveTimesheets').click(function () { 
            if (checktimesheetApprovalSet.size !== 0) {
                urldata = "{% url 'saveTimesheetApprovals'%}";

                for (const k of checktimesheetApprovalSet) {
                    var tm_status = $('input[name=approve'+ k +']:checked').val();
                    listTimesheetApproval.push({tm: k, status: tm_status});
                }

                $.ajax({
                    type: 'GET',
                    data: {
                        listTimesheetApproval: JSON.stringify(listTimesheetApproval)
                    },
                    url: urldata,
                    success: function (resp) {
                        checktimesheetApprovalSet = new Set();
                        listTimesheetApproval = [];
                        $('.approve-time-sheet-pane').html(resp);
                        $(".timesheet-checkbox2").prop('checked', false);
                        $('#table-approvals').DataTable();
                    }
                });
            } else {
                $.confirm({
                    title: '<h3>Alert!</h3>',
                    content: 'Please Select Timesheets you want to Approve!',
                    type: 'orange',
                    typeAnimated: true,
                    useBootstrap: false,
                    closeIcon: true,
                    boxWidth: '30%',
                    icon: 'fa fa-warning',
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {

                            }
                        }
                    }
                });
            }
        });
    </script>

{% endblock %}

