{% load crispy_forms_tags %}

<div class="col-12">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="card-title font-weight-bold">Assign Member Task</h4>
                        <div class="card-body">
                            <form>
                                {% csrf_token %}   
                                <div id="div_id_assigned_to" class="form-group">
                                    <label for="id_assigned_to" class="col-form-label">
                                        Choose
                                    </label>
                                    <div class="">
                                        <select name="assigned_to" class="select form-control" id="id_assigned_to" >
                                            <option value="">--Select member--</option>
                                            {% for member in members %}
                                                <option value="{{member.id}}">{{member.first_name}} {{member.last_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="">
                            <button class="btn btn-info float-right" type="button" id="btnAssignMember">
                                <i class="fa fa-fw fa-lg fa-plus-circle"></i> Assign
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="card-title font-weight-bold">Selected Member</h4>
                        <table id="table_assign_task" class="table table-sm">
                            <thead style="background-color: #e9e3e3;">
                            <tr>
                                <th>Member</th>
                                <th class="text-center">Remove</th>
                            </tr>
                            </thead>
                            <tbody id="enteredAssignedMembersBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<input style="display: none;" value="{{ project_id }}" id="id_project">
<input style="display: none;" value="{{ task_id }}" id="id_task">
<input style="display: none;" value="{{ milestone_id }}" id="id_milestone">

<div>
    <button id="saveMembers" class="btn btn-success pull-right">
        <i class="fa fa-fw fa-lg fa-save"></i>SAVE
    </button>
</div>

<script>
    var setMembers = new Set();
    var listMembers = [];

    $('#btnAssignMember').click(function () {

        var assigned = $("#id_assigned_to option:selected").html();
        var assignedid = $("#id_assigned_to").val();
       
        if (assignedid === null || assignedid === '') {
            document.getElementById('id_assigned_to').focus();
            // }
        } else {
            if (!setMembers.has(parseInt(assignedid))) {
                setMembers.add(parseInt(assignedid));
                $('#enteredAssignedMembersBody').append('<tr id="rows' + assignedid + '"><td>' + assigned + '</td>' +
                    
                    '<td class="text-center" id="' + assignedid + '"> <span  title="Remove Member." onclick="functionRemoveMember(' + assignedid + ')"  class="badge badge-danger icon-custom"><a href="#"><i class="fa fa-remove"></i></a></span></td></tr>');
            } else {
                $.alert({
                    title: 'Alert!',
                    content: 'Member already added!',
                });
            }
        }
    });

    $('#saveMembers').click(function () {
        if (setMembers.size !== 0) {
            urldata = "{% url 'saveMembersAssignedTask'%}";
            var task_id = $('#id_task').val();
            var project_id = $('#id_project').val();
            var milestone_id = $('#id_milestone').val();

            for (const k of setMembers) {
                listMembers.push(k);
            }

            $.ajax({
                type: 'GET',
                data: {
                    task_id: task_id,
                    project_id: project_id,
                    milestone_id: milestone_id,
                    memberlist: JSON.stringify(listMembers)
                },
                url: urldata,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.project_task').html(resp);
                    setMembers = new Set();
                    listMembers = [];
                }
            });
        } else {
            $.confirm({
                title: '<h3>Alert!</h3>',
                content: 'No Added Members',
                type: 'orange',
                typeAnimated: true,
                useBootstrap: false,
                closeIcon: true,
                buttons: {
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {

                        }
                    }
                }
            });
        }
    });

    function functionRemoveMember(assignedid) {
        $.confirm({
            title: 'Alert!',
            icon: 'fa fa-warning',
            content: 'Remove Member from list!',
            type: 'orange',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: 'Remove',
                    btnClass: 'btn-orange',
                    action: function () {
                        setMembers.delete(parseInt(assignedid));
                        $('#rows' + assignedid).remove();
                    }
                },
                cancel: function () {

                }
            }
        });
    }
</script>