{% load crispy_forms_tags %}

<div class="card-body">
    <div class="col-12">
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Project</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.project }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Name</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.name }}" disabled>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Milestone</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.milestone }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Status</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.status }}" disabled>
            </div>  
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Created By</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.creator }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Description</p>
                {% if task.description == None %}
                    <input type="text" class="form-control input-flat"
                    value="Not set" disabled>
                {% else%}
                    <input type="text" class="form-control input-flat"
                        value="{{ task.description|striptags }}" disabled>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Created At</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.created_time|date }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Start Time</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.start_date }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12"> End Time</p>
                <input type="text" class="form-control input-flat"
                    value="{{ task.end_date|date }}" disabled>
            </div>
        </div>
        <br />
        
    </div>
</div>

<script>

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });
      
    $('#id_title').attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');

    
    $('#id_project').removeAttr('multiple', "");
    
    $('#id_project').attr( 'readOnly' , 'true' );
    $("#id_project").prop("disabled", "disabled");

    $('#id_assignee').attr('multiple', "multiple");
    $('#id_assignee').attr('data-live-search', 'true');
    $('#id_assignee').selectpicker({
        size: 3,
    });
    
</script>