{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% include 'header.html' %}

    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Project: {{ project.name }}</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'listProjects' %}">Projects List</a></li>
                    <li class="breadcrumb-item active">Project Details</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
                    <div class="card" style="margin-top: -2%;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span>
                                <span class="hidden-xs-down">Overview</span></a>
                            </li>

                            {% if forum_status %}
                            <li class="nav-item"  onclick="loadURL('{% url 'tabProjectForum'%}', 'projectid={{ project.id }}&projectname={{ project.name }}&b=a&c=a&d=0&ofst=1&maxR=100&sStr=', 'projectforum', 'GET');">
                                <a class="nav-link" data-toggle="tab" href="#project_forum" >
                                    <span class="hidden-sm-up"><i  class="ti-email"></i></span>
                                    <span class="hidden-xs-down">Forum</span></a>
                            </li>
                            {% else %}{% endif %}

                            <li class="nav-item" onclick="listMilestones({{ project.id }})">
                                <a class="nav-link" data-toggle="tab" href="#milestones" role="tab">
                                <span class="hidden-sm-up"><i class="ti-user"></i></span> 
                                <span class="hidden-xs-down">Milestones</span></a>
                            </li>

                            <li class="nav-item"  onclick="listTasks({{ project.id }})">
                                <a class="nav-link" data-toggle="tab" href="#tasks" >
                                    <span class="hidden-sm-up"><i class="fas fa-users"></i></span>
                                    <span class="hidden-xs-down">Tasks</span></a>
                            </li>
                            
                            <!-- <li class="nav-item"  onclick="listProjectIncidents({{ project.id }})">
                                <a class="nav-link" data-toggle="tab" href="#incidents" >
                                    <span class="hidden-sm-up"><i class="fas fa-users"></i></span>
                                    <span class="hidden-xs-down">Incidents</span></a>
                            </li> -->
                            
                            <li class="nav-item"  onclick="listTeam({{ project.id }})">
                                <a class="nav-link" data-toggle="tab" href="#teams" >
                                    <span class="hidden-sm-up"><i class="fas fa-users"></i></span>
                                    <span class="hidden-xs-down">Team</span>
                                </a>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="">
                                   <h4 style="margin-left: 1%;margin-top: 1%;"> <strong class="font-weight-bold">Project Overview</strong> 
                                    <a style="margin-left: 2px;" onclick="viewProjectDetails()" href="#"> <i class="fa fa-dedent color-primary" title="View Project Details"></i></a>&nbsp;&nbsp;
                                </h4>
                                    
                                    <div class="row no-gutters widget-1 shadow-base">
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h6 class="card-title">Tasks</h6>
                                                    <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <span id="spark1">
                                                        <i style="display: inline-block; width: 89px; height: 35px; vertical-align: top;" width="89" height="30" class="fa fa-tasks f-s-60 color-primary"></i>
                                                    </span>
                                                    <span>{{ task_count }}</span>
                                                </div><!-- card-body -->
                                                <div class="card-footer">
                                                    <div>
                                                        <span class="tx-11">Open</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-primary"></i> {{ open_tasks}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Completed</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-success"></i> {{completed_tasks}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Onhold</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-warning"></i> {{onhold_tasks}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Terminated</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-danger"></i> {{terminated_tasks}}</h6>
                                                    </div>
                                                </div><!-- card-footer -->
                                            </div><!-- card -->
                                        </div><!-- col-3 -->

                                        <div class="col-sm-6 col-lg-4 mg-t-1 mg-sm-t-0">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h6 class="card-title">Milestones</h6>
                                                    <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <span id="spark2">
                                                        <i style="display: inline-block; width: 89px; height: 35px; vertical-align: top;" width="89" height="30" class="fa fa-th-list f-s-60 color-primary"></i>
                                                    </span>
                                                    <span class="tx-medium tx-inverse tx-32">{{ milestone_count }}</span>
                                                </div><!-- card-body -->
                                                <div class="card-footer">
                                                    <div>
                                                        <span class="tx-11">Open</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-primary"></i> {{ open_milestones}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Completed</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-success"></i> {{ completed_milestones}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Onhold</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-warning"></i> {{ onhold_milestones}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Terminated</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-danger"></i> {{ terminated_milestones}}</h6>
                                                    </div>
                                                </div><!-- card-footer -->
                                            </div><!-- card -->
                                        </div><!-- col-3 -->

                                        <div class="col-sm-6 col-lg-4 mg-t-1 mg-lg-t-0">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h6 class="card-title">Incidents</h6>
                                                    <a href=""><i class="icon ion-android-more-horizontal"></i></a>
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <span id="spark3">
                                                        <i style="display: inline-block; width: 89px; height: 35px; vertical-align: top;" width="89" height="30" class="fa fa-list f-s-60 color-primary"></i>
                                                    </span>
                                                    <span>{{ incident_count }}</span>
                                                </div><!-- card-body -->
                                                <div class="card-footer">
                                                    <div>
                                                        <span class="tx-11">Open</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-primary"></i> {{open_incidents}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Completed</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-success"></i> {{completed_incidents}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Onhold</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-warning"></i> {{onhold_incidents}}</h6>
                                                    </div>
                                                    <div>
                                                        <span class="tx-11">Terminated</span>
                                                        <h6 class="tx-inverse text-right"><i class="fa fa-circle color-danger"></i> {{terminated_incidents}}</h6>
                                                    </div>
                                                </div><!-- card-footer -->
                                            </div><!-- card -->
                                        </div><!-- col-3 -->

                                    </div>                                    
                                </div>
                            </div>
                            <div class="tab-pane p-20 projectforum" id="project_forum">
                                <!-- PROJECT FORUM -->
                                <div class="text-center">
                                    <i class="fa fa-spinner fa-spin fa-4x "></i>
                                </div>
                            </div>

                            <!-- PROJECT MILESTONES -->
                            <div class="tab-pane p-20" id="milestones" role="tabpanel">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <div class="">
                                            <div class="card-body milestone-card">
                                                <div class="text-center">
                                                    <i class="fa fa-spinner fa-spin fa-5x "></i>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="tab-pane  p-20" id="profile1" role="tabpanel">2</div>
                                    <div class="tab-pane p-20" id="messages1" role="tabpanel">3</div>
                                </div>
                                <!-- tab 3 -->
                            </div>
                            
                            <!-- PROJECT TASKS -->
                            <div class="tab-pane p-20" id="tasks" role="tabpanel">
                                    <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home2" role="tabpanel">
                                        <div class="">
                                            <div class="card-body task-card">
                                                <div class="text-center">
                                                    <i class="fa fa-spinner fa-spin fa-5x "></i>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>   
                            </div>

                            <!-- PROJECT INCIDENTS -->
                            <div class="tab-pane p-20" id="incidents" role="tabpanel">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home3" role="tabpanel">
                                        <div class="">
                                            <div class="card-body incident-card">
                                                <div class="text-center">
                                                    <i class="fa fa-spinner fa-spin fa-5x "></i>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                  
                            </div>

                            <!-- PROJECT TEAM -->
                            <div class="tab-pane p-20" id="teams" role="tabpanel">
                                <div class="p-20">
                                    <div class="card-body team-card">
                                        <div class="text-center">
                                            <i class="fa fa-spinner fa-spin fa-5x "></i>
                                        </div>
                                    </div>
                                </div>    
                            </div>

                        </div>
                    <!-- End Page Content -->
                <!-- End Container fluid  -->

            </div>
            <!-- End Page wrapper  -->
        </div>
    </div>
</div>

<script>
    function listTeam(project_id){
        urldata = "{% url 'tabListTeam' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $('.team-card').html(resp);
            }
        });
    }

    function listProjectIncidents(project_id){
        urldata = "{% url 'listProjectIncidents' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $('.incident-card').html(resp);
            }
        });
    }

    function listTasks(project_id){
        urldata = "{% url 'listProjectTasks' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $('.task-card').html(resp);

                $.ajax({
                    type:"GET",
                    cache: false,
                    data:{
                        project_id:project_id,
                    },
                    url: "{% url 'openTasks' %}",
                    success: function(resp){      
                        $('.open-tasks').html(resp);                                         
                    }
                });
            }
        });
    }

    function listMilestones(project_id){
        urldata = "{% url 'listProjectMilestones' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $('.milestone-card').html(resp);

                $.ajax({
                    type:"GET",
                    cache: false,
                    data:{
                        project_id:project_id,
                    },
                    url: "{% url 'openMilestones' %}",
                    success: function(resp){                                       
                        $('.open-milestones').html(resp);
                    }
                });
            }
        });
    }

    function viewProjectDetails(){
        $.confirm({
            title: '<h3>View Project Details</h3>',
            content: '' + 
            '<div class="card">'+
            '<div class="card-body">'+
                '<div class="basic-form">'+
                    '<div class="row col-12">'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">Project Name</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.name }}" disabled>'+
                        '</div>'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">Status</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.project_status }}" disabled>'+
                        '</div>'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">Project Code</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.project_code }}" disabled>'+
                        '</div>'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">Estimated Cost</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.estimated_cost }}" disabled>'+
                        '</div>'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">Start Date</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.estimated_start_date }}" disabled>'+
                        '</div>'+
                        '<div class="col-6">'+
                            '<p class="text-muted m-b-15 f-s-12">End Date</p>'+
                            '<input type="text" class="form-control input-flat" value="{{ project.estimated_end_date }}" disabled>'+
                        '</div></div></div></div></div>',
            type: 'blue',
            typeAnimated: true,
            boxWidth: '60%',
            useBootstrap: false,
            closeIcon: true,
            buttons: {
                close: {
                    text: 'Close',
                    btnClass: 'btn-gray close-dialog',
                    action: function () {
                    }
                }
            }
        });
    }

</script>
{% endblock %}
