<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="">

                        <p style="font-size:14px;">Dear Gigi,</p></br></br>
						<p style="font-size:13px;">Kindly receive the Daily Timesheets for the resources in the <strong class="text-primary">{{department}} Department.</strong> The attachment also includes the summary of the total time/hours logged by each resource.</p>
                        <p style="font-size:13px;">Log Day: <strong>{{selected_date}}</strong></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer">
                        <p><strong>Kind Regards</strong></p>
                        <p><strong>SYBYL Service Desk</strong></p>
                        <p><strong>Software Department</strong></p>                
                    </td></br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>