<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="">

                        <p>Dear Gigi,</p>
						<p>Kindly receive the Daily Project Update for all the resources in : <strong class="text-primary">{{department}}</strong>
                        <p>Log Day: <strong>{{selected_date}}</strong></p>
                        <p>Thanks and Regards</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer">
                        <p><a href="#">Sybyl Limited</a>, Plot1A, Kafu Road</p>
                        <p><a href="mailto:">P.O Box 7585, Kampala, Ug</a> | <a href="#">Tel: +256 414305400</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>