<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="">

                        <p style="font-size:14px;">Dear {{name}},</p></br></br>
						<p style="font-size:14px;">This is a gentle reminder that your timesheets for: <strong>{{selected_date}}</strong> are due today: <strong>{{current_date}}</strong>. 
                            As of now you have <strong class="text-info">{{total_time}} hours</span> logged. Please note that the daily timesheet report will be sent to the {{department}} head at 10AM today.</p>
                        <p style="font-size:14px;">Therefore this is a kind request for you to complete and submit your timesheet before {{current_date}} 10:00AM EAT. If you have any challenges please reply to this email and/or contact your supervisor.
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer">
                        <p><strong>Kind Regards</strong></p>
                        <p><strong>SYBYL Service Desk</strong></p>
                        <p><strong>Software Department</strong></p>
                    </td></br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>