{% load crispy_forms_tags %}
  
<div class="card-body">
    <form method="post" id="incidentForm" novalidate>
        {% csrf_token %}
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <div id="div_id_project">
                        <label for="id_project" class="col-form-label  requiredField">Project<span class="asteriskField">*</span>
                        </label>                    
                        <div class="">
                            <select name="project" class="select form-control project" id="id_project">
                                <option selected="" value="" disabled>--Select Project--</option>
                                {% for pro in projects %}
                                    <option value="{{pro.id}}">{{pro.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="div_id_name" class="form-group">
                        <label for="id_name" class="col-form-label requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input name="name" class="textinput textInput form-control" required="" id="id_name" value="">
                        </div>
                    </div>
                </div>

                <div class="col-4" style="display:none;">
                    <input name="name" class="textinput textInput form-control" required="" id="id_actual_member" value="{{user.id}}">
                </div>

                <div class="col-4" style="display:none;">
                    <div id="div_id_assigned_to">
                        <label for="id_assigned_to" class="col-form-label requiredField">
                            Assigned To<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="assigned_to" class="select form-control assigned" id="id_assigned_to">
                            </select>
                        </div> 
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="div_id_description" class="form-group">
                        <label for="id_description" class="col-form-label">
                            Description
                        </label>
                        <div class="">
                            <textarea rows="4" cols="100" name="description" id="id_description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row col-md-12">
                <button type="submit" id="btnSaveIncident" class="btn btn-success col-md-12 col-sm-12">Save</button>
            </div>
            
        </div>
    </form>
    
</div>

<script>
    $(document).ready(function (){
        $(".actual").css("display", "none"); 
    });

    $('#id_project').change(function () {

        var project_id = parseInt($('#id_project').val());
        var actual_member = parseInt($('#id_actual_member').val());

        urldata = "{% url 'selectMembersByProject'%}";

        $.ajax({
            type: 'GET',
            url: urldata,
            data: {
                project_id: project_id
            },
            success: function (data) {

                var member= JSON.parse(data.members);

                if (member !== '' && member.length > 0) {
                    $('#id_assigned_to').html('');
                    for (i in member) {

                        if(member[i].pk == actual_member){
                            $('#id_assigned_to').append('<option value="' + member[i].pk + '">' + member[i].fields.first_name + " " + member[i].fields.last_name + '</option>');
                            $("#id_assigned_to").selectpicker('refresh');
                        }
                        
                    }
                }
            }
        });
    });

    $(".assigned").on('change', function(){
        if ( $('option:selected', this).val() == 0 ){
            $('.assigned').css({ "border": '2px solid #00635a' });     
        }
        else if ($(this).val() > 0) {
            $('.assigned').css({ "border": '' }); 
        }
    }); 

    $("#id_name").attr('autocomplete', 'off');

    $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '' });
        
    });

    $('#id_project').on('change', function () {
        $('.project').css({ "border": '' });
    });

    function saveIncident(project_id, name, description){
        // function to save the incident
        urlData = "{% url 'saveIncident' %}";
        $.ajax({
            type: "GET",
            cache: false,
            dataType: 'json',
            data: {
                project_id: project_id,
                name: name,
                description:description,
            },
            url: urlData,
            success: function(response_data){ 
                $('.close-dialog').click();
                if(response_data.state === true){
                    $.ajax({
                        type:"GET",
                        cache: false,
                        data:{},
                        url: "{% url 'listIncidents' %}",
                        success: function(resp){
                            $('.incidentsContainerPane').html(resp);                                                  
                        }
                    });
                    $.confirm({
                        title: response_data.success,
                        content: 'Incident name: ' +response_data.name,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '35%',
                        useBootstrap: false,
                        closeIcon: false,
                        buttons: {
                            formSubmit: {
                                text: 'OK',
                                btnClass: 'btn-blue',
                                action: function () {
                                    
                                }
                            }
                        }
                    });
                    
                }
            }
        });
    }

    $('#incidentForm').on("submit", function () {
        event.preventDefault();
        var name = $('#id_name').val();
        var project_id = $("#id_project option:selected").val();
        var description = $('#id_description').val();
        var assigned = $('#id_assigned_to').val();


        var selectednumbers = [];
        $('#id_assigned_to :selected').each(function(i, selected) {
            selectednumbers[i] = $(selected).val();
        });
        var assigned_to = JSON.stringify(selectednumbers);
     

        if (name.length < 1 || project_id <= 0 ) {
            if (name.length < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }
            if (project_id <=0) {
                $('.project').css({ "border": '2px solid #00635a' });
            }
            
        }
                
        saveIncident(project_id, name, description, assigned_to);

    });

</script>