<div>
    <input type="text" value="{{ project_id }}" style="display: none;">
    <input type="text" value="{{ milestone_id }}" style="display: none;">



<div class="card-body task-milestone">
    <div class="row page-titles">
        <div class="col-md-8 col-sm-12 align-self-center">
            <h5 class="text-primary">MILESTONE: {{ milestone_name }}</h3>
        </div>
        <div class="col-md-4 col-sm-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" onclick="listMilestones('{{project_id}}')">Milestones</a></li>
                <li class="breadcrumb-item active">Task List</li>
            </ol>
        </div>
    </div>
    <div class="card-title">
        <div class="row">
            <div class="col-10">
                <h4 class="card-title">Tasks</h4>
            </div>

            <div class="col-2">
                <a href="#" onclick="functAddMilestoneTask('{{ project_id }}', '{{ milestone_id}}', '{{ milestone_name }}')" class="btn btn-info pull-right">
                        <i class="fa fa-fw fa-lg fa-plus"></i>Add Task</a>
            </div>
        </div>
        
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="table_tasks">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>

                {% for task in milestone_tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.status }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-success btn-sm"
                            onclick="editTask('{{ task.id }}', '{{ task.name }}')">
                            <i title="Manage Task" class="fa fa-edit"></i>
                        </button>

                        <button onclick="deleteTask('{{ task.id }}', '{{ task.name }}', '{{project_id}}', '{{milestone_id}}' )"
                                class="btn btn-outline-danger btn-sm" type="button">
                            <i title="Delete Task" class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

</div>

<script>

    $('#table_tasks').DataTable();
    function listMilestones(project_id){
        urldata = "{% url 'listProjectMilestones' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $('.milestone-card').html(resp);
            }
        });
    }

    function functAddMilestoneTask(project_id, milestone_id, milestone_name){
        urldata = "{% url 'addMilestoneTask' %}"
        $.ajax({
            type: "GET",
            cache: false,
            data:{
                project_id: project_id,
                milestone_id: milestone_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                        title: '<h3>Add Task:</h3>',
                        content: '' + resp,
                        type: 'blue',
                        theme: 'material',
                        typeAnimated: true,
                        boxWidth: '60%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
            }
        })
    }

    function editTask(task_id, task_name) {

        url = "{% url 'updateMilestoneTask' 999%}".replace(999, task_id);
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            data: {
                task_id: task_id,
                task_name: task_name,
            },
            success: function (resp) {
                $.confirm({
                    title: '<h3>Edit Task: <strong>'+ task_name +'<strong></h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '70%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function deleteTask(task_id, task_name, project_id, milestone_id) {
        urldata = "{% url 'deleteTask'%}";
        $.confirm({
            title: '<h4>Delete Task: <strong class="text-danger">' + task_name + '</h4>',
            content: '',
            type: 'red',
            typeAnimated: true,
            boxWidth: '40%',
            useBootstrap: false,
            theme: 'modern',
            icon: 'fa fa-exclamation-circle',
            buttons: {
                formSubmit: {
                    text: 'Remove',
                    btnClass: 'btn-red',
                    action: function () {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {
                                task_name: task_name,
                                task_id: task_id,
                                project_id: project_id,
                                milestone_id: milestone_id
                            },
                            dataType: 'json',
                            url: urldata,
                            success: function (response_data){
                                $('.close-dialog').click();
                                if (response_data.success === true){
                                    $.ajax({
                                        type:"GET",
                                        cache: false,
                                        data:{
                                            project_id:project_id,
                                        },
                                        url: "{% url 'listProjectTasks' %}",
                                        success: function(resp){
                                            $('.project-tasks').html(resp);                                                    
                                        }
                                    });
                                    $.confirm({
                                        title: "Success",
                                        content: 'Task: ' + response_data.message,
                                        type: 'blue',
                                        typeAnimated: true,
                                        boxWidth: '35%',
                                        useBootstrap: false,
                                        closeIcon: false,
                                            buttons: {
                                                formSubmit: {
                                                    text: 'OK',
                                                    btnClass: 'btn-blue close-dialog',
                                                    action: function () {
                                                        
                                                    }
                                                }
                                            }
                                    }); 
                                }
                            }
                        });
                    }
                },
                close: {
                    text: 'Cancel',
                    btnClass: 'btn-gray',
                    action: function () {
                    }
                }
            }
        });
    }

</script>
