<div id="table_pro_report" class="table-responsive">
    <table id="" class=" table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="font-size: 90%;">{{ days_list.name }}</th>
                <th style="font-size: 90%;">{{ days_list.user}}</th>
                <th style="font-size: 90%;">{{ days_list.day0 | date:"D, d M" }}</th>
                <th style="font-size: 90%;">{{ days_list.day1 | date:"D, d M"}}</th>
                <th style="font-size: 90%;">{{ days_list.day2 | date:"D, d M"}}</th>
                <th style="font-size: 90%;">{{ days_list.day3 | date:"D, d M"}}</th>
                <th style="font-size: 90%;">{{ days_list.day4 | date:"D, d M"}}</th>
                <th style="font-size: 90%;">{{ days_list.day5 | date:"D, d M"}}</th>
                <th style="font-size: 90%;">{{ days_list.day6 | date:"D, d M"}}</th>
                <th style="font-size: 90%;" class="text-center font-weight-bold">Total</th>
            </tr>
        </thead>
        <tbody>

            {% for ii in timesheet_list %}

                <tr>
                    {% if ii.pro == "" %}
                        <td class="font-weight-bold border-0">{{ ii.pro }}</td>
                    {% else %}
                        <td class="font-weight-bold">{{ ii.pro }}</td>
                    {% endif %}
                    
                    <td>
                        {{ ii.mem}}
                    </td>

                    <td>
                        {{ ii.day0}}
                    </td>

                    <td>
                        {{ ii.day1}}
                    </td>

                    <td class="">
                        {{ ii.day2}}
                    </td>

                    <td>
                        {{ ii.day3}}
                    </td>

                    <td>
                        {{ ii.day4}}
                    </td>

                    <td>
                        {{ ii.day5}}
                    </td>

                    <td>
                        {{ ii.day6}}
                    </td>

                    <td class="font-weight-bold">
                        {{ ii.mem_total}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

</script>