<div class="table-responsive">
    <table id="rejected_tm_table" class="display nowrap table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Log Date</th>
                <th>Duration</th>
                <th>Submitted</th>
                <th>Approved</th>
                <th>Approved By</th>
                <th class="text-center">Resubmission</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>

        {% for tm in timesheet_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="#" onclick="functionViewTaskDetails({{ tm.task_id }})" title="View Task Details!" class="text-info font-weight-bold">{{ tm.task | truncatechars:17 }}</a></td>
                <td>{{ tm.log_day | date:"d-m-y"}}</td>
                <td class="text-info">{{tm.duration}}</td>
                <td>{{tm.date_submitted | date:"d-m-y"}}</td>
                <td>{{tm.date_approved | date:"d-m-y"}}</td>
                <td>{{tm.approved_by}}</td>
                {% if tm.get_resubmission_count == 0 %}
                    <td class="text-center">
                        None
                    </td>
                {% else %}
                    <td class="text-center">
                        <span class="label label-rounded label-success">
                            <a href="#" style="color: #fff" onclick="functionViewResubmissions({{tm.id}})">{{tm.get_resubmission_count}} </a>
                        </span>
                    </td>   
                {% endif %}

                <td class="text-center">
                    <button onclick="functionViewTimesheetDesc('{{ tm.task }}', '{{ tm.notes }}', '{{  tm.start_time  | date:'H:i A' }} - {{ tm.end_time  | date:'H:i A' }}', '{{tm.created_time | date:"D, d M, Y"}}')" class="btn btn-outline-success btn-sm" type="button">
                        <i title="View Timesheet Description" class="fa fa-dedent"></i>
                    </button>

                    <button onclick="resentTimesheet({{ tm.id }}, '{{ tm.log_day | date:"d-m-Y"}}', '{{ tm.start_time  | date:'H:i A'}}', '{{ tm.end_time  | date:'H:i A'}}', '{{ tm.task }}', {{tm.task_id}}, '{{tm.notes}}')" class="btn btn-outline-success btn-sm" type="button">
                        <i title="Re-submit Timesheet for Approval!" class="fa fa-repeat"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" value="{{rejected_count}}" id="check_resubmit"/>
</div>


<script>
    $('#rejected_tm_table').DataTable();
    
    var rejected_count = $('#check_resubmit').val();

    if(rejected_count != '' && rejected_count != null){
        $('#relected-tm-count').text(rejected_count);
    }

    function resentTimesheet(timesheet_id, log_day, start_time, end_time, task, task_id, notes) {
        var id_user_dept = parseInt($('#id_user_dept').val());
        urldata = "{% url 'resubmitTimesheet' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                timesheet_id: timesheet_id, 
                log_day: log_day,
                start_time: start_time,
                end_time: end_time,
                task: task,
                task_id: task_id,
                notes: notes,
                id_user_dept: id_user_dept,
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Re-submit Timesheet.</h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '55%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }
</script>