<div class="row page-titles">
    <div class="col-md-8 col-sm-12 align-self-center">
        <h5 class="text-primary">Escalation: {{ esc_name }}</h3>
            <input type="hidden" value="{{esc_id}}" id="esc_id">
    </div>
    <div class="col-md-4 col-sm-12 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" onclick="loadURL('{% url 'tabProjectEscalation'%}', 'projectid={{ pro_id }}&projectname={{ pro_name }}&b=a&c=a&d=0&ofst=1&maxR=100&sStr=', 'save-esc-pane1', 'GET');"><font color="#007bff">Escalations</font></a></li>
            <li class="breadcrumb-item active">Escalated To</li>
        </ol>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <button id="" class="btn btn-info pull-right" onclick="functEscalateUser({{esc_id}}, '{{ esc_name }}', {{ pro_id }}, '{{ pro_name }}')">
                <i class="fa fa-fw fa-lg fa-plus"></i>Escalate User
            </button>
        </div>
</div>

<div class="table-responsive">
    <table id="table_escalated-users" class="display nowrap table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th class="text-center">Status</th>
                <th class="text-center">Remove</th>
            </tr>
        </thead>
        <tbody>
        {% for p in esc_users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.first_name }} {{ p.last_name }}</td>
                <td><font color="#007bff">{{ p.email }}</font></td>
                <td>{{ p.gender }}</td>
                {% if p.is_active %}
                    <td class="text-center"><span
                            class="badge badge-success"><strong>Active</strong></span>
                    </td>
                {% else %}
                    <td class="text-center"><span
                            class="badge badge-danger"><strong>Inactive</strong></span>
                    </td>
                {% endif %}
                
                <td class="text-center">
                    <button onclick="functionDeEscalateUser({{p.id}}, '{{ p.first_name }} {{ p.last_name }}', {{esc_id}}, '{{ esc_name }}', {{ pro_id }}, '{{ pro_name }}')" class="btn btn-outline-danger btn-sm" type="button">
                        <i title="De-escalate User" class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#table_escalated-users').DataTable();

    function functionDeEscalateUser(uid, uname, esc_id, esc_name, pro_id, pro_name) {
        urldata = "{% url 'deEscalateUser'%}";
        $.confirm({
            title: '<h4>De-escalate : <strong class="text-info">"' + uname + ' "</strong> from <strong>' +esc_name+ '</strong>!</h4>',
            content: '',
            type: 'red',
            typeAnimated: true,
            boxWidth: '40%',
            useBootstrap: false,
            theme: 'modern',
            icon: 'fa fa-exclamation-circle',
            buttons: {
                formSubmit: {
                    text: 'De-escalate',
                    btnClass: 'btn-red',
                    action: function () {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {
                                uid: uid,
                                esc_id: esc_id,
                                esc_name: esc_name,
                                pro_id: pro_id,
                                pro_name: pro_name
                            },
                            url: urldata,
                            success: function (resp) {
                                $('.save-esc-pane1').html(resp);
                            }
                        });
                    }
                },
                close: {
                    text: 'Cancel',
                    btnClass: 'btn-gray',
                    action: function () {
                    }
                }
            }
        });
    }

    function functEscalateUser(esc_id, esc_name, pro_id, pro_name) {
        urldata = "{% url 'escalateNewUser'%}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                esc_id: esc_id,
                esc_name: esc_name,
                pro_id: pro_id,
                pro_name: pro_name
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Escalate To User:</h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }
</script>
