{% load humanize %}
<div class="timesheet-pane">
    {% if timesheet_list %}
    <div class="" style="max-height: 345px; overflow-y: scroll;">
        <div class="table-responsive">
            <div id="accordion" role="tablist">
                <h5 class="text-info pull-right"><form class="form"><a onclick="functionCheckAll()" href="#"><input type="checkbox" class="select-all-check text-info" id="select_all_timesheets"/></a> Select All</form></h5> </br>
                {% for sheet in timesheet_list %}
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0 ">
                            <a  id="heading{{ forloop.counter }}" class="collapsed text-primary font-weight-bold" data-toggle="collapse" href="#collapse{{ forloop.counter |apnumber|title }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter |apnumber|title }}">
                                {{ sheet.tim | date:"D, d M, Y"}}
                            </a>
                        </h5>
                    </div>
                    <div id="collapse{{ forloop.counter |apnumber|title }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter |apnumber|title }}" data-parent="#accordion">
                        <div class="card-body">
                            <table id="table_timesheets" class="table table-hover table-sm">
                                <thead class="">
                                    <tr>
                                        <th>#</th>
                                        <th>Task</th>
                                        <th>Duration</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for tm in sheet.dictt %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><a href="#" onclick="functionViewTaskDetails({{ tm.task_id }})" title="View Task Details!" class="text-info font-weight-bold">{{ tm.task | truncatechars:17 }}</a></td>
                                                <td><span class="badge badge-success"><strong><h6>{{ tm.duration }}</h6></strong></span></td>
                                                <td>{{ tm.log_day | date:"D, d M, Y" }}</td>
                                                <td>{{ tm.start_time | time:"TIME_FORMAT" }}</td>
                                                <td>{{ tm.end_time | time:"TIME_FORMAT" }}</td>
                                                <td class="text-center">
                                                    <form class="form">
                                                        <input type="checkbox" id="itemcheckbox{{tm.id}}" onclick="functionManageTimesheets({{tm.id}})" class="timesheet-checkbox" name="rowSelectCheckBox"/>&nbsp;
                                                        
                                                        <button onclick="functionViewTimesheetDesc('{{ tm.task }}', '{{ tm.notes }}', '{{  tm.start_time  | date:'H:i A' }} - {{ tm.end_time  | date:'H:i A' }}', '{{tm.created_time | date:"D, d M, Y"}}')" class="btn btn-outline-success btn-sm" type="button">
                                                            <i title="View Timesheet Description" class="fa fa-dedent"></i>
                                                        </button> &nbsp;

                                                        <button onclick="functionEditTimesheet({{ tm.id }}, '{{ tm.log_day | date:"d-m-Y"}}', '{{ tm.start_time  | date:'H:i A'}}', '{{ tm.end_time  | date:'H:i A'}}', '{{ tm.task }}', {{tm.task_id}}, '{{tm.notes}}')"
                                                            class="btn btn-outline-success btn-sm" type="button">
                                                            <i title="Edit Group" class="fa fa-edit"></i>
                                                        </button> &nbsp;
                                                        
                                                        <button onclick="functionDeleteTimesheet({{ tm.id }}, '{{ tm.log_day | date:"d-m-Y"}}', '{{ tm.start_time  | date:'H:i A'}}', '{{ tm.end_time  | date:'H:i A'}}', '{{ tm.task }}')" class="btn btn-outline-danger btn-sm" type="button">
                                                            <i title="Delete Timesheet" class="fa fa-remove"></i>
                                                        </button> &nbsp;
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="">
        <button onclick="functionsubmitForApproval()" style="margin-top: 1%; margin-right: 1%;" title="Send Timesheets For Approval!" id="submitForApproval" class="btn btn-success pull-right">
            <i class="fa fa-fw fa-lg fa-share"></i>Send For Approval
        </button>
    </div><br><br><br>
    {% else %}
        <h3><span class="text-info">No Timesheets Added.</span></h3> 
    {% endif %}
</div>

<script>
    var checktimesheetset = new Set();
    var listTimesheet = [];
    
    $( "#heading1" ).removeClass( "collapsed");
    $( "#collapseOne" ).addClass( "show" );
    $(".timesheet-checkbox").prop('checked', false);
    $(".select-all-check").prop('checked', false);


    function functionsubmitForApproval(){
        var id_user_dept = parseInt($('#id_user_dept').val());
        if (checktimesheetset.size !== 0) {

            $.confirm({
                title: '<h3 class="font-weight-bold">Confirm Timesheet Submission!</h3>',
                content: '<h4>Send: <b class="text-info">'+ checktimesheetset.size +'</b> Timesheet(s) for Approval!</h4>',
                type: 'green',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                icon: 'fa fa-warning',
                closeIcon: true,
                buttons: {
                    formSubmit: {
                        text: 'Send',
                        btnClass: 'btn-green',
                        action: function () {
                            urldata = "{% url 'sendTimesheetForApproval'%}";

                            for (const k of checktimesheetset) {
                                listTimesheet.push({tm: k});
                            }

                            $.ajax({
                                type: 'GET',
                                data: {
                                    listTimesheet: JSON.stringify(listTimesheet),
                                    id_user_dept: id_user_dept,
                                },
                                url: urldata,
                                success: function (resp) {
                                    checktimesheetset = new Set();
                                    listTimesheet = [];
                                    $('.timesheet-pane').html(resp);
                                    $("#heading1").removeClass( "collapsed");
                                    $("#collapseOne").addClass( "show" );
                                }
                            });
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        } else {
            $.confirm({
                title: '<h3>Alert!</h3>',
                content: 'Please Tick Timesheets you want to send for Approval!',
                type: 'orange',
                typeAnimated: true,
                useBootstrap: false,
                closeIcon: true,
                boxWidth: '30%',
                icon: 'fa fa-warning',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-gray',
                        action: function () {

                        }
                    }
                }
            });
        }
    }

    function functionAddNewTimesheet() {
        var id_user_dept = parseInt($('#id_user_dept').val());
        urldata = "{% url 'addNewTimesheet'%}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                id_user_dept : id_user_dept
            },
            url: urldata,
            success: function (resp) {
                $('#dialog_time_sheet').html(resp);

                window.location = '#timesheetFormModalDialog';
                initDialog('modalDialog2');
            }
        });
    }

    function functionEditTimesheet(timesheet_id, log_day, start_time, end_time, task, task_id, notes) {
        urldata = "{% url 'updateTimesheet' %}";
        var id_user_dept = parseInt($('#id_user_dept').val());
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                timesheet_id: timesheet_id, 
                log_day: log_day,
                start_time: start_time,
                end_time: end_time,
                task: task,
                task_id: task_id,
                notes: notes,
                id_user_dept: id_user_dept
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Edit Timesheet.</h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '55%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function functionDeleteTimesheet(timesheet_id, day, s_time, e_time, task){
        urldata = "{% url 'deleteTimesheet'%}";
        var id_user_dept = parseInt($('#id_user_dept').val());
        $.confirm({
            title: '<h3 class="font-weight-bold">Delete Timesheet!</h3>',
            content: '<h4>Day: <span class="text-info">'+ day +'</span></h4>'+
                    '<h4>Task: <span class="text-info">'+ task +'</span></h4>'+
                    '<h4>Time: <span class="text-info">'+ s_time +' - '+e_time+'</span></h4>',
            type: 'red',
            typeAnimated: true,
            boxWidth: '40%',
            useBootstrap: false,
            theme: 'modern',
            icon: 'fa fa-exclamation-circle',
            closeIcon: true,
            buttons: {
                formSubmit: {
                    text: 'Remove',
                    btnClass: 'btn-red',
                    action: function () {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {
                                timesheet_id: timesheet_id,
                                id_user_dept: id_user_dept
                            },
                            url: urldata,
                            success: function (resp) {
                                $('.close-dialog').click();
                                $('.timesheet-pane').html(resp);
                                $( "#heading1" ).removeClass( "collapsed");
                                $( "#collapseOne" ).addClass( "show" );
                            }
                        });
                    }
                },
                close: {
                    text: 'Cancel',
                    btnClass: 'btn-gray',
                    action: function () {
                    }
                }
            }
        });
    }

    function functionManageTimesheets(timesheetid) {
        var checkBox = document.getElementById("itemcheckbox" + timesheetid);
        if (checkBox.checked === true) {
            if (!checktimesheetset.has(timesheetid)) {
                checktimesheetset.add(timesheetid);
            }
        }else{
            $(".select-all-check").prop('checked', false);
            if (checktimesheetset.has(timesheetid)) {
                checktimesheetset.delete(timesheetid);
            }
        }
    }

    function functionFilterPendingApprovals() {
        var id_user_dept = parseInt($('#id_user_dept').val());
        var date_range = $('#apenddingTMsDateFilter').val();
        var aud_dates = date_range.split(" - ");
        var start_date_1 = aud_dates[0];
        var end_date_1 = aud_dates[1];

        $('#apenddingTMsDateFilter').on('change', function () {
            $('#apenddingTMsDateFilter').css({ "border": '1px solid #ced4da'});
        });

        if (date_range < 1) {
            $('#apenddingTMsDateFilter').css({ "border": '2px solid #00635a'});
        }else{
            urldata2 = "{% url 'filterPendingTimesheets'%}";
            $.ajax({
                type: 'GET',
                data: {
                    start_date: start_date_1,
                    end_date: end_date_1,
                    id_user_dept : id_user_dept,
                },
                url: urldata2,
                success: function (rep) {
                    $('.timesheet-pendings').html('');
                    $('.timesheet-pendings').html(rep);
                }
            });
        }
    }

    function functionCheckAll(){
        var selectAllCheckbox=document.getElementById("select_all_timesheets");
        if(selectAllCheckbox.checked==true){
            var checkboxes =  document.getElementsByName("rowSelectCheckBox");
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = true;
                var timesheetid2 = (checkboxes[i].id).slice(12);
                if (!checktimesheetset.has(parseInt(timesheetid2))) {
                    checktimesheetset.add(parseInt(timesheetid2));
                }
            }
        }else {
            var checkboxes =  document.getElementsByName("rowSelectCheckBox");
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = false;
                var timesheetid2 = (checkboxes[i].id).slice(12);
                if (checktimesheetset.has(parseInt(timesheetid2))) {
                    checktimesheetset.delete(parseInt(timesheetid2));
                }
            }
        }
    }
</script>