<div class="table-responsive approve-time-sheet-pane">
    <table id="table-appr-tm3" class="display nowrap table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Task</th>
                <th>Log Date</th>
                <th>Duration</th>
                <th>Submitted</th>
                <th class="text-center">Resubmission</th>
                <th class="text-left">Action</th>
            </tr>
        </thead>
        <tbody>

        {% for tm in timesheet_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <span class="badge badge-success">
                        <strong>{{ tm.project_team_member }}</strong>
                    </span>
                </td>
                <td><a href="#" onclick="functionViewTaskDetails({{ tm.task_id }})" title="View Task Details!" class="text-info font-weight-bold">{{ tm.task | truncatechars:17 }}</a></td>
                <td>{{ tm.log_day | date:"d-m-y"}}</td>
                <td class="text-info">{{tm.duration}}</td>
                <td>{{tm.date_submitted | date:"d-m-y"}}</td>
                {% if tm.get_resubmission_count == 0 %}
                    <td class="text-center">
                        None
                    </td>
                {% else %}
                    <td class="text-center">
                        <span class="label label-rounded label-success">
                            <a href="#" style="color: #fff" onclick="functionViewResubmissions({{tm.id}})">{{tm.get_resubmission_count}} </a>
                        </span>
                    </td>   
                {% endif %}
                <td>
                    <form class="form">
                        <span class="row">
                            <input type="checkbox" id="approvecheckbutton{{tm.id}}" onclick="manageTMApprovals({{tm.id}})" class="text-info timesheet-checkbox2" title="Select to approve timesheet."/>
                    
                            <span class=" approve-radio-pane" id="approve-radio-pane{{tm.id}}" style="display: none">
                                <input type="radio" name="approve{{tm.id}}" value="ACCEPTED" checked /><small>Accept</small>
                                <input type="radio" name="approve{{tm.id}}" value="REJECTED" /><small>Reject</small>
                            </span>&nbsp;

                            <button onclick="functionViewTimesheetDesc('{{ tm.task }}', '{{ tm.notes }}', '{{  tm.start_time  | date:'H:i A' }} - {{ tm.end_time  | date:'H:i A' }}', '{{tm.created_time | date:"D, d M, Y"}}')" class="btn btn-outline-success btn-sm" type="button">
                                <i title="View Timesheet Description" class="fa fa-dedent"></i>
                            </button>
                            <textarea id="approver_comment{{ tm.id }}" class="form-control input-sm col-10 approver-comment" rows="1" placeholder="Add Approver Comment (optional)"></textarea>
                        </span>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('#table-approvals').DataTable();
</script>