<style>
:root {
    font-size: 70%;
}
</style>

</br>
<!-- Lists container -->
<section class="lists-container">

	<div class="list">

		<h3 class="list-title">Open <i class="fa fa-circle color-primary pull-right"></i></h3>

		<ul class="list-items">
            
            {% if unsubmited_req_list %}
                <span class="pull-right row col-12">
                    <form class="form"><a onclick="functionCheckAllReq()" href="#"><input type="checkbox" class="select-all-check1 text-info" id="select_all_requests"/></a> Select All 
                        <button onclick="functionFowardRequest()" style="margin-right: -32%;" id="" class="btn btn-info pull-right">
                            <span class=""><i class="fa fa-fw fa-send"></i> Foward Requests</span>
                        </button>
                    </form> 
                </span>
                {% for req in unsubmited_req_list %}
                    <li>
                        <span class="pull-right">
                            <form class="form">
                                <input style="margin-top: -7%;" type="checkbox" id="itemcheckboxx{{req.id}}" onclick="functionManageCustReq({{req.id}})" class="request-checkbox1" name="rowSelectCheckBox1"/>
                                <i style="margin-top: -3%;" class="fa fa-trash fa-lg color-danger pull-right" onclick="functionDeleteCustomerRequest({{ req.id }}, '{{ req.name }}', '{{ req.ticket_code }}')"></i>
                                <i style="margin-top: 0%;" class="fa fa-edit fa-lg color-primary pull-right" onclick="functEditOpenRequest({{req.id}}, '{{req.name}}', {{req.sla_id}}, '{{req.sla.name}}')"></i>
                            </form>
                        </span>
                        {{req.name}}
                    </li>
                {% endfor %}
            {% else %}
                <span>No Open Requests.</span>
            {% endif %}
		</ul>
	</div>

	<div class="list">

		<h3 class="list-title">Pending <i class="fa fa-circle color-warning pull-right"></i></h3>

		<ul class="list-items">
			{% if submited_req_list %}
                {% for req2 in submited_req_list %}
                    <li onclick="functViewOpenRequest({{req2.id}}, '{{req2.name}}', {{req2.sla_id}}, '{{req2.sla.name}}')">{{req2.name}}</li>
                {% endfor %}
            {% else %}
                <span>No Pendding Requests</span>
            {% endif %}
		</ul>
	</div>

	<div class="list">

		<h3 class="list-title">Completed <i class="fa fa-circle color-success pull-right"></i></h3>

		<ul class="list-items">
			{% if completed_reg_list %}
                {% for req3 in completed_reg_list %}
                    <li>{{req3.name}}</li>
                {% endfor %}
            {% else %}
                <span class="">No Completed Requests</span> 
            {% endif %}
		</ul>

    </div>
    
    <div class="list">

		<h3 class="list-title">Cancelled <i class="fa fa-circle color-danger pull-right"></i></h3>

		<ul class="list-items">
			{% if cancelled_reg_list %}
                {% for req4 in cancelled_reg_list %}
                    <li>{{req4.name}}</li>
                {% endfor %}
            {% else %}
                <span class="">No Cancelled Requests</span>
            {% endif %}
		</ul>

	</div>

</section>

<script>
    var checkrequestset = new Set();
    var listCustomerRequest = [];

    $(".request-checkbox1").prop('checked', false);
    $(".select-all-check1").prop('checked', false);

    function functEditOpenRequest(req_id, req_name, sla_id, sla_name) {
        urldata = "{% url 'updateCustomerRequest' 999%}".replace(999, req_id);
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                req_name: req_name, 
                sla_id: sla_id,
                sla_name: sla_name
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Edit Request: <strong class="text-info">' + req_name + ' </strong> <span class=""> <i class="fa fa-trash fa-sm text-danger"></i></span></h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '60%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function functViewOpenRequest(req_id, req_name, sla_id, sla_name) {
        urldata = "{% url 'viewCustomerRequest' 999%}".replace(999, req_id);
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                req_name: req_name, 
                sla_id: sla_id,
                sla_name: sla_name
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>'+req_name+'</h3>',
                    content: '' + resp,
                    typeAnimated: true,
                    type: 'dark',
                    boxWidth: '40%',
                    useBootstrap: false,
                    closeIcon: true,
                    icon: 'fa fa-credit-card',
                    closeIcon: true,
                    closeIconClass: 'fa fa-close',
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function functionCheckAllReq(){
        var selectAllCheckbox=document.getElementById("select_all_requests");
        if(selectAllCheckbox.checked==true){
            var checkboxes =  document.getElementsByName("rowSelectCheckBox1");
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = true;
                var requestid2 = (checkboxes[i].id).slice(13);
                if (!checkrequestset.has(parseInt(requestid2))) {
                    checkrequestset.add(parseInt(requestid2));
                }
            }
        }else {
            var checkboxes =  document.getElementsByName("rowSelectCheckBox1");
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = false;
                var requestid2 = (checkboxes[i].id).slice(13);
                if (checkrequestset.has(parseInt(requestid2))) {
                    checkrequestset.delete(parseInt(requestid2));
                }
            }
        }
    }

    function functionManageCustReq(requestid) {
        var checkBox = document.getElementById("itemcheckboxx" + requestid);
        if (checkBox.checked === true) {
            if (!checkrequestset.has(requestid)) {
                checkrequestset.add(requestid);
            }
        }else{
            $(".select-all-check1").prop('checked', false);
            if (checkrequestset.has(requestid)) {
                checkrequestset.delete(requestid);
            }
        }
    }

    function functionFowardRequest(){
        if (checkrequestset.size !== 0) {

            $.confirm({
                title: '<h3 class="font-weight-bold">Confirm Request(s) Submission!</h3>',
                content: '<h4>Foward: <b class="text-info">'+ checkrequestset.size +'</b> Request(s)!</h4>',
                type: 'green',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                icon: 'fa fa-warning',
                closeIcon: true,
                buttons: {
                    formSubmit: {
                        text: 'Foward',
                        btnClass: 'btn-green',
                        action: function () {
                            urldata = "{% url 'fowardRequests'%}";

                            for (const k of checkrequestset) {
                                listCustomerRequest.push({req: k});
                            }

                            $.ajax({
                                type: 'GET',
                                data: {
                                    listCustomerRequest: JSON.stringify(listCustomerRequest),
                                },
                                url: urldata,
                                success: function (resp) {
                                    checkrequestset = new Set();
                                    listCustomerRequest = [];
                                    $('.cust-request-pane').html(resp);
                                }
                            });
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        } else {
            $.confirm({
                title: '<h3>Alert!</h3>',
                content: 'Please Tick Requests you want to Foward!',
                type: 'orange',
                typeAnimated: true,
                useBootstrap: false,
                closeIcon: true,
                boxWidth: '30%',
                icon: 'fa fa-warning',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-gray',
                        action: function () {
                            
                        }
                    }
                }
            });
        }
    }

    function functionDeleteCustomerRequest(req_id, req_name, ticket_code){
        urldata = "{% url 'deleteCustomerRequest'%}";
        $.confirm({
            title: '<h3 class="font-weight-bold">Delete Request!</h3>',
            content: '<h4>Request: <span class="text-info">'+ req_name +'</span></h4>'+
                    '<h4>Ticket Code: <span class="text-info">'+ ticket_code +'</span></h4>',
            type: 'red',
            typeAnimated: true,
            boxWidth: '40%',
            useBootstrap: false,
            theme: 'modern',
            icon: 'fa fa-exclamation-circle',
            closeIcon: true,
            buttons: {
                formSubmit: {
                    text: 'Remove',
                    btnClass: 'btn-red',
                    action: function () {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {
                                req_id: req_id
                            },
                            url: urldata,
                            success: function (resp) {
                                $('.close-dialog').click();
                                $('.cust-request-pane').html(resp);
                            }
                        });
                    }
                },
                close: {
                    text: 'Cancel',
                    btnClass: 'btn-gray',
                    action: function () {
                    }
                }
            }
        });
    }
</script>

