<div class="table-responsive approve-time-sheet-pane">
    <table id="table-appr-tm3" class="display nowrap table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Task</th>
                <th>Log Date</th>
                <th>Date Created</th>
                <th>Date Submitted</th>
                <th class="text-left">Action</th>
            </tr>
        </thead>
        <tbody>

        {% for tm in timesheet_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>   
                    <span class="badge badge-success"><strong>{{ tm.project_team_member }}</strong>
                    </span>
                </td>
                <td>{{ tm.task }}</td>                
                <td>{{ tm.log_day | date:"D, d M, Y"}}</td>
                <td>{{tm.created_time | date:"D, d M, Y"}}</td>
                <td>{{tm.date_submitted | date:"D, d M, Y"}}</td>
                <td>
                    <form class="form">
                        <span class="row">
                            <input type="checkbox" id="approvecheckbutton{{tm.id}}" onclick="manageTMApprovals({{tm.id}})" class="text-info timesheet-checkbox2" title="Select to approve timesheet."/>
                    
                            <span class=" approve-radio-pane" id="approve-radio-pane{{tm.id}}" style="display: none">
                                <input type="radio" name="approve{{tm.id}}" value="ACCEPTED" checked /><small>Accept</small>
                                <input type="radio" name="approve{{tm.id}}" value="REJECTED" /><small>Reject</small>
                            </span>
                        </span>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('#table-approvals').DataTable();
</script>