
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"> <a class="nav-link active tab-tm-1" data-toggle="tab" href="#customer_request_home_tab" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Details</span></a></li>
    <li class="nav-item"> <a class="nav-link tab-tm-2" data-toggle="tab" href="#customer_requests_activities" role="tab"><span class="hidden-sm-up"><i class="fa fa-share"></i></span> <span class="hidden-xs-down">Activities</span></a> </li>
    <li class="nav-item"> <a class="nav-link tab-tm-3" data-toggle="tab" href="#customer_request_engineers" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Team</span></a> </li>
</ul>

<!-- Tab panes -->
<div class="tab-content tabcontent-border tab-content-1" style="padding-left: 1%; padding-right: 1%;">
    <div class="tab-pane active" id="customer_request_home_tab" role="tabpanel">
        <div class=" p-10">
            fff1
        </div>
    
    </div>

    <div class="tab-pane  p-20" id="customer_requests_activities" role="tabpanel">
        <!-- Pending Approval -->
        <div class="col-12 row">  
            fdd2
        </div>                                        
    </div>

    <div class="tab-pane p-20" id="customer_request_engineers" role="tabpanel">
            eee3
    </div>
</div>