{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    {% include 'header.html' %}
    <!-- End header header -->
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Milestones</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Milestones</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="card" style="margin-top: -2%;">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" onclick="listMilestones()">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span>
                        <span class="hidden-xs-down">Milestones</span></a>
                    </li>
                </ul>
                <div class="tab-content tabcontent-border tab-content-1" style="padding-left: 1%;padding-right: 1%;">
                    <div class="tab-pane active" id="milestones_container_home" role="tabpanel">
                        <div class="row p-10">
                            <div class="col-md-12 container">
                                
                                <button id="" class="btn btn-info pull-right" onclick="functAddMilestone();">
                                    <i class="fa fa-fw fa-lg fa-plus"></i>Add Milestones
                                </button>
                            </div>
                        </div>
                        <div class="milestonesContainerPane">
                            {% include "project_management/milestone_list.html" %}
                        </div>
                    </div>
                </div>

                
            </div>
            
          
            {% include 'footer.html' %}
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>
    <!-- End Page wrapper  -->
</div>
<script>
    function functAddMilestone(){
        urldata = "{% url 'addMilestone' %}";
        
        $.ajax({
            type: 'GET',
            cache: false,
            data: {},
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Add Milestone</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '60%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });     
    }

    function listMilestones(){
        urldata = "{% url 'milestone_list' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
            },
            url: urldata,
            success: function (resp) {
                $('.milestonesContainerPane').html(resp);
            }
        });
    }

    $(function(){
        urldata = "{% url 'milestone_list' %}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
            },
            url: urldata,
            success: function (resp) {
                $('.milestonesContainerPane').html(resp);
            }
        });
    })
   
</script>
{% endblock %}