{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    {% include 'header.html' %}
    <!-- End header header -->
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Milestone Details</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item "><a href="{% url 'milestone_list'%}">Milestones</a></li>
                    <li class="breadcrumb-item active">Milestone</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h4 class="m-b-0 text-white">Milestone Information</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" id="projectForm" data-milestones-url="{% url 'projectdocs_list' %}" novalidate>
                                <input type="text" value="{{object.id}}" style="display: none;" id='id_milestone'/>
                                <input type="text" value="{{object.project.id}}" style="display: none;" id='id_project'/>
                                <table class="col-lg-6">
                                    <div class="row mt-2 mb-2">
                                        <div class="row col-8">
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Name
                                                </div>
                                                <div class="col-8">
                                                   <h4>{{ object.name }}</h4> 
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Project
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.project }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Vendor
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.vendor }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Project Manager
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.project_manager }}</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Engineer
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.project_assignee }}</h4>
                                                </div>
                                            </div>
                                            
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Start Date
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.startdate }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Finish Date
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.enddate }}</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Time Elapsed
                                                </div>
                                                <div class="col-8 text-success">
                                                    <h4>{{ object.startdate|timesince }}</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Status
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.status }}</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Progress
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.completion }}%</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Time left
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.enddate|timeuntil:object.time_now }}</h4>
                                                </div>
                                            </div>

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Description
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.description|striptags }} </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="col-md-12 align-self-center">
                                                <h4><u>Documents</u></h4>
                                            </div>
                                            <div id="docs">
                                            </div>                                    
                                        </div>
                                    </div>
                                </table>
                                   
                                    <a class="btn btn-success col-md-3" href="#"
                                        onclick="editMilestone({{ object.id }}, '{{ object.name }}', {{object.project.id}}, '{{object.project.name}}')">
                                        Edit Milestone
                                    </a>
                                    <a class="btn btn-success col-md-3 col-md-3" onclick="uploadDocument({{ object.project.id }})" href="#" >Upload Document</a> &nbsp;
                                    <!-- <a href="{% url 'project_list' %}" class="btn btn-inverse col-md-3 col-md-3">       
                                        Delete : {{ object.name }} Milestone
                                    </a> -->
                                </form>
                            <script>
                                $(document).ready(function () {
                                    $("#id_startdate").prop('type', 'date');
                                    $("#id_enddate").prop('type', 'date');
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    var url = $("#projectForm").attr("data-milestones-url");
                                    var projectId = $("#id_project").val();
                                                                      
                                    $.ajax({
                                        url: url,
                                        data: {
                                            'project': projectId
                                        },
                                        success: function (data) {
                                            $("#docs").html(data);
                                        }
                                    });
                                });
                                
                            </script>
                            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->
</div>

<script>
    function editMilestone(milestone_id, milestone_name, project_id, project_name){
        urldata = "{% url 'updateProjectMilestone' 999%}".replace(999, milestone_id);
            
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id,
                milestone_id: milestone_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Update Project Milestone</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function uploadDocument(project_id){
        urldata = "{% url 'populateUpload' %}";
        
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Upload Documents</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });

        
    }

</script>
{% endblock %}