<div class="table-responsive">
    <table id="table_onhold_incidents" class="display nowrap table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creator</th>
                <th>Assignee</th>
                <th>Elapsed time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in onhold_incidents %}
            <tr id="{{incident.id}}" data-created="{{ incident.created_time|date }}">
                <td>
                    <a href="{% url 'detailsProjectIncident' incident.id %}" style="color:black;">
                        {{ incident.title }}</a>
                </td>
                <td>{{ incident.status }}</td>
                <td><input id="incident-priority" disabled="" value="{{ incident.priority}}" type="text" style="background-color: {{ incident.priority.color }}; border: 0; color:white;"></td>
                
                <td>{{ incident.creator }}</td>

                <td class="text-center">
                    <a href="#" onclick="viewAssigned('{{ incident.id}}', '{{ team_id }}', '{{ project_id }}')">
                        <span class="badge badge-pill badge-success">{{ incident.assigned }}</span>
                    </a>
                </td>
                <td id="elapsed{{ incident.id }}"></td>
                <td>
                    <button class="btn btn-outline-success btn-sm"
                        onclick="editIncident('{{ incident.id }}', '{{ incident.title }}', '{{ project_id }}')">
                        <i title="Manage Incident" class="fa fa-edit"></i>
                    </button>

                    <button onclick="deleteIncident('{{ incident.id }}', '{{ incident.title }}')"
                        class="btn btn-outline-danger btn-sm" type="button">
                        <i title="Delete Incident" class="fa fa-remove"></i>
                    </button>
                    
                </td>
            </tr>
            <input type="text" value="{{ incident.created_time|date }}" style="display: none;" class='id_elapsed' />
            
            {% endfor %}
            </tbody>
    </table>
</div>

<script>
    $("#table_onhold_incidents").DataTable();

    function dhm(ms){
        var days = Math.floor(ms / (24*60*60*1000));
        var daysms=ms % (24*60*60*1000);
        var hours = Math.floor((daysms)/(60*60*1000));
        var hoursms=ms % (60*60*1000);
        var minutes = Math.floor((hoursms)/(60*1000));
        var minutesms=ms % (60*1000);
        var sec = Math.floor((minutesms)/(1000));
        
        if (days == 1){
            var day = days;
            return day+" day";
        }
        if (days > 1){
            var day = days; 
            var h = hours;  
            return day +" days " + h + "h";
        }
        if (days < 1){
            if (hours < 1){
                if (minutes >= 60){
                    var hour_min = hours;
                    return hour_min + " hour";
                }
                else if (minutes < 60){
                    var minimum = minutes;
                    var second = seconds;
                    return minimum +" mins " + second + " seconds";
                }
            }
            else if(hours >=1 ){
                var hr = hours;
                var min = minutes;
                return hr+" h " + min + " mins";
            }
            
        }
    }

    $('#table_onhold_incidents tr').each(function(){
        var row_id = this.id;
        var created_time = $(this).data('created'); 

        var created = Date.parse(created_time)
        var date_today =  new Date();
        var elapsed = date_today - created;

        var changed = dhm(elapsed)
        $('#elapsed'+row_id).html(changed);
    }); 
</script>

