<div class="save-esc-pane1">
    <div class="row">
            <div class="col-md-12">
                <button id="" class="btn btn-info pull-right" onclick="functAddEscalationLevel('{{projectname}}', '{{projectid}}')">
                    <i class="fa fa-fw fa-lg fa-plus"></i>Add Escalation Level
                </button>
            </div>
    </div>

    <div class="table-responsive">
        <table id="table_escalation_levels" class="display nowrap table table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Escalated By</th>
                    <th class="text-center">Escalated To</th>
                    <th>Date Escalated</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for esc in esc_levels %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ esc.name }}</td>
                    <td>{{ esc.description }}</td>
                    <td>{{ esc.escalated_by }}</td>
                    <td class="text-center">
                        <span class="label label-rounded label-success">
                                <a href="#" style="color: #fff" onclick="functionEscalateTo({{ esc.id }}, '{{ esc.name }}', '{{projectname}}', '{{projectid}}')">{{esc.num_esc}}</a>
                        </span>
                    </td>
                    <td>{{ esc.date_escalated }}</td>
                    <input id="project_name1" value="{{projectname}}" type="hidden">
                    
                    <td class="text-center">
                        <button onclick="functionEditEscalation({{ esc.id }}, '{{ esc.name }}')" id="" class="btn btn-outline-success btn-sm" type="button">
                            <i title="Edit Escalation Level" class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>               
    
<script>
    $('#table_escalation_levels').DataTable();

    function functAddEscalationLevel(pro_name, pro_id) {
        urldata = "{% url 'addEscalationLevel'%}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                pro_name: pro_name,
                pro_id: pro_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Add New Escalation Level</h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function functionEditEscalation(escid, escname) {
        urldata = "{% url 'updateEscalation' 999%}".replace(999, escid);
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                escname: escname
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Update <strong class="text-info">' + escname + ' </strong></h3>',
                    content: '' + resp,
                    type: 'blue',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function functionEscalateTo(esc_id, esc_name, pro_name, pro_id) {
        urldata = "{% url 'manageEscalatedUsers'%}";
        $.ajax({
            type: "GET",
            cache: false,
            data: {
                esc_id: esc_id,
                esc_name: esc_name,
                pro_name: pro_name,
                pro_id: pro_id
            },
            url: urldata,
            success: function (resp) {
                $('.save-esc-pane1').html(resp);
            }
        });
    }
</script>
    
    