{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <!-- Main wrapper  -->
        <div id="main-wrapper">
            {% include 'header.html' %}
            {% include 'left-nav.html' %}
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <!-- Bread crumb -->
                <div class="row page-titles top-bar">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">Task </h3>
                    </div>.
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Task Report</li>
                        </ol>
                    </div>
                </div>
                <!-- End Bread crumb -->
                <!-- Container fluid  -->
                <div class="container-fluid">
                    <!-- Start Page Content -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Task Report</h4>
                                    <h6 id="date-range"></h6>
                                    <div class="row">
                                        <form class="col-md-12" style="display:flex; flex-direction: row;" method="POST" action="{% url 'previewTaskReport' %}" enctype="multipart/form-data" id="preview">
                                            {% csrf_token %}
                                        <div class="col-md-2">
                                            
                                            <label class="col-form-label  requiredField">Member<span
                                                class="asteriskField">*</span></label>
                                            <div class="">
                                                <select name="users" class="select form-control user_dept" id="id_user_dept">
                                                    <option selected="" value="">Select Member</option>
                                                    
                                                    {% if user.is_superuser%}
                                                        <option value="all">All</option>
                                                        {% for usr in dept_users %}
                                                            <option value="{{usr.id}}">{{usr.first_name}} {{usr.last_name}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if user.is_staff%}
                                                        <option selected="" value="{{user_id}}">{{user_name}}</option>
                                                    {% endif %}
                                                </select>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label  requiredField">From
                                                <span class="asteriskField">*</span>
                                            </label>
                                            <div class="">
                                                <input type="" id='id_start' class="form-control" value="" name="startdate" onchange="checkStart()" />
                                            </div>
                                            
                                            <medium id="start_date" class="text-muted hidden">
                                                <font color="red">
                                                    From has to be less or equal to To
                                                </font>
                                            </medium>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label  requiredField">To
                                                <span class="asteriskField">*</span>
                                            </label>
                                            <div class="">
                                                <input type="" id='id_end' class="form-control" onchange="checkEnd()" name="enddate"/>
                                            </div>
                                            
                                            <medium id="end_date" class="text-muted hidden">
                                                <font color="red">
                                                    To has to be greater or equal to From
                                                </font>
                                            </medium>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="col-form-label  requiredField">Status<span
                                                class="asteriskField">*</span></label>
                                            <div class="">
                                                <select name="status" class="select form-control status" id="id_status">
                                                    <option selected="" value="" disabled>--Select Status--</option>
                                                    <option value="all">All</option>
                                                    {% for status in statuses %}
                                                        <option value="{{status.id}}">{{status.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-1" style="margin-top: 33px;">
                                            <button id="btn_preview" title="Preview Data" class="btn btn-info btnPreview" onclick="previewReport()" style="display: none;">
                                                <i class="fa fa-eye"></i>Preview
                                            </button>
                                        </div>
                                    </form>

                                        <div class="col-md-2" style="margin-top: 33px;">
                                            <form method="POST" action="{% url 'exportTaskReport' %}" enctype="multipart/form-data" id="toPrint">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="" style="display:none;">
                                                        <input type="" name="allUsers" id='id_user_dupe' class="form-control" value=""  style="display: none;"/>
                                                    </div>
                                                    
                                                    <div class="col-md-6" style="display:none;">
                                                        <div id="div_id_start" class="form-group">
                                                            <label for="id_start" class="col-form-label">
                                                                Start
                                                            </label>
                                                            <div class="">
                                                                <input type="" name="start" id='id_start_date' class="form-control" value="" name="date" style="display: none;"/>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                    <div class="col-md-6" style="display:none;">
                                                        <div id="div_id_end" class="form-group">
                                                            <label for="id_end" class="col-form-label">
                                                                End
                                                            </label>
                                                            <div class="">
                                                                <input type="" name="end" id='id_end_date' class="form-control" value="" name="date" style="display: none;"/>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                    <div class="col-md-6" style="display:none;">
                                                        <label class="col-form-label  requiredField">Status<span
                                                            class="asteriskField">*</span></label>
                                                        <div class="">
                                                            <input type="" name="statusTwo" id='id_status_two' class="form-control status" value=""  style="display: block;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <button id="" class="btn btn-secondary" onclick="printReport();">
                                                    <i class="fa fa-fw fa-lg fa-print" aria-hidden="true"></i>Print
                                                </button>
                                            </form>
                                        </div>
    
                                    </div>
                                    
                                    <div class="tab-content tabcontent-border tab-content-1" style="padding-left: 1%;padding-right: 1%;">
                                        <div class="tab-pane active" id="reports_container_home" role="tabpanel">
                                            
                                            <div class="reportContainerPane" style="display:none;">
                                                {% include "project_management/task_report_section.html" %}
                                            </div>
                                        </div>
                                    </div>
                                    

                                    
                                </div>
                            </div>
                            
                            {% include 'footer.html' %}
                            <!-- End Page Content -->
                        </div>
                        <!-- End Container fluid  -->
                    </div>
                    <!-- End Page wrapper  -->
                </div>
            </div>
        </div>
    </div>

    <style>
        th, td{
            text-align: center;
        }

        .link {
            background: none!important;
            border: none;
            padding: 0!important;
            
            font-family: arial, sans-serif;
            
            color: #069;
            text-decoration-line: underline;
            text-decoration-style: solid;
            cursor: pointer;
        }
    </style>

    <script>
        // on load page
        $(function(){

            var options =  {
                format: "dd-mm-yyyy",
                autoclose: true,
                clearBtn: true,
                // daysOfWeekDisabled: [0,6]
            }

            $('#id_start').datepicker(options);
            $('#id_end').datepicker(options);
            $('#id_start_date').datepicker(options);
            $('#id_end_date').datepicker(options);

            $('#id_start_pdf').datepicker(options);
            $('#id_end_pdf').datepicker(options);
    
        });

        $("#id_start").attr("placeholder", "dd-mm-yyyy");
        $("#id_end").attr("placeholder", "dd-mm-yyyy");

        $("#id_start_pdf").attr("placeholder", "dd-mm-yyyy");
        $("#id_end_pdf").attr("placeholder", "dd-mm-yyyy");

        $('#id_start').on('focus', function(){
            $(this).blur();
        });

        $('#id_end').on('focus', function(){
            $(this).blur();
        });

        // check for startdate < end date
        function checkStart() {

            var startDate = $("#id_start").val();
            var endDate = $("#id_end").val();
            
            $("#id_start").css('border','');
            $('#start_date').hide();

            $(".clear").on('click', function(){
                document.getElementById("btn_preview").disabled = false;
                document.getElementById('id_start').style.borderColor = "";
                $('#start_date').hide();
            });

            var sDate = new Date(reverseDate(startDate));
            var eDate = new Date(reverseDate(endDate));

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btn_preview").disabled = true;
                document.getElementById('id_start').style.borderColor = "red";
                $('#start_date').show();
            }
            if(startDate != '' && endDate != '' && sDate <= eDate){
                document.getElementById("btn_preview").disabled = false;
                document.getElementById('id_start').style.borderColor = "";
                $('#start_date').hide();
                document.getElementById('id_end').style.borderColor = "";
                $('#end_date').hide();
                document.getElementById('id_start_date').value = startDate; 
            }
        }

        // check if end date > start date
        function checkEnd(){
            var startDate = $("#id_start").val();
            var endDate = $("#id_end").val();
            
            $('#end_date').hide();
            $("#id_end").css('border','');

            var sDate = new Date(reverseDate(startDate));
            var eDate = new Date(reverseDate(endDate));

            $(".clear").on('click', function(){
                document.getElementById("btn_preview").disabled = false;
                document.getElementById('id_end').style.borderColor = "";
                $('#end_date').hide();
            });

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btn_preview").disabled = true;
                document.getElementById('id_end').style.borderColor = "red";
                $('#end_date').show();
            }
            if(startDate != '' && endDate != '' && sDate <= eDate){
                document.getElementById("btn_preview").disabled = false;
                document.getElementById('id_end').style.borderColor = "";
                $('#end_date').hide();
                document.getElementById('id_start').style.borderColor = "";
                $('#start_date').hide();
                document.getElementById('id_end_date').value = endDate;
            }
            
        }

        function setDateReport(){
            var start = $("#id_start").val();
            var end = $("#id_end").val();
            var status_id = $("#id_status option:selected").val();
            var user_state = $("#id_user_dept option:selected").val();

            if(start < 1 || end < 1 || status_id <= 0 || user_state === ""){
                if (start === "" || start < 1){
                    $('#id_start').css({ "border": '2px solid #00635a' }); 
                }

                if (end === "" || end < 1){
                    $('#id_end').css({ "border": '2px solid #00635a' }); 
                }

                if (status_id <= 0) {
                    $('.status').css({ "border": '2px solid #00635a' }); 
                }

                if (user_state === "") {
                    $('.user_dept').css({ "border": '2px solid #00635a' }); 
                }
                
                return false;
            }
            else{
                if(start > 1){
                    $('#id_start').css({ "border": '' });
                }

                if (end > 1){
                    $('#id_end').css({ "border": '' });
                }

                if (status_id > 0) {
                    $('.status').css({ "border": '' });
                }
                if (user_state !== "") {
                    $('.user_dept').css({ "border": '' }); 
                }
            }

            var startDate = reverseDate(start);
            var endDate = reverseDate(end);

            var st = new Date(startDate);
            var en = new Date(endDate);

            var startDay = st.getUTCDate().toString();
            var startMonth = st.getUTCMonth();
            var startYear = st.getFullYear();     

            var endDay = en.getUTCDate().toString();
            var endMonth = en.getUTCMonth();
            var endYear = en.getFullYear();

            var dayStart = transformDay(startDay);
            var monthStart = transformMonth(startMonth);

            var dayEnd = transformDay(endDay);
            var monthEnd = transformMonth(endMonth);

            var j = dayStart + " " + monthStart + " " + startYear;
            var k = dayEnd + " " + monthEnd + " " + endYear;

            document.getElementById("date-range").textContent = j + " - " + k;
        }

        // submit input to view the preview
        function btnReport(){       
            setDateReport();
            $('#table-report tr').not($('#table-report tr:first')).remove();

            var start = $('#id_start').val();
            var end = $("#id_end").val();

            if (start === "" || end === ""){
                return false;
            }

            else{
                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;

                document.getElementById('id_start_pdf').value = start;
                document.getElementById('id_end_pdf').value = end;

                urlData = "{% url 'staffUtilizationReport' %}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    dataType: 'json',
                    data: {
                        start: start,
                        end: end,
                    },
                    url: urlData,
                    success: function(data){ 
                        console.log(data.members);
                        var members = JSON.parse(data.members);
                        console.log(members)
                        var col = [];
                        for (var i = 0; i < members.length; i++) {
                            for (var key in members[i]) {
                                if (col.indexOf(key) === -1) {
                                    col.push(key);
                                }
                            }
                        }

                        var tableReport = document.getElementById("table-report");
                        var tr = tableReport.insertRow(-1);   

                        for (var i = 0; i < members.length; i++) {

                            tr = tableReport.insertRow(-1);

                            for (var j = 0; j < col.length; j++) {
                                var tabCell = tr.insertCell(-1);
                                tabCell.innerHTML = members[i][col[j]];
                            }    
                            
                        }

                        document.getElementById("btn_preview").disabled = true;
                        // $('#table-report').DataTable().ajax.reload();
                    }
                });
            }
                       
        }

        // transform day from 1 to 01
        function transformDay(day){
            if (day.length === 1){
               day =  "0" + day;
               return day;
            }
            else{
                return ""+day;
            }
        }

        // transform month from number e.g. 9 to month e.g Sept
        function transformMonth(month){
            var months = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", 
                    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];

            var selectedMonthName = months[month];
            return selectedMonthName;
        }

        // reverse date function from dd-mm-yyyy to yyyy-mm-dd
        function reverseDate(date){
            return date.split("-").reverse().join("-");
        }

        // control action of select date range
        $('#id_date_range').on('change', function(){
            var selected = $(this).children(":selected").text();
            $('#table-report tr').not($('#table-report tr:first')).remove();

            document.getElementById("btn_preview").disabled = false;
            if(selected === 'This week'){
                var d = new Date();
                var day = d.getDay();
                var fir = new Date(d.getFullYear(), d.getMonth(), d.getDate() + (day == 0?-6:1)-day );
                var last = new Date(d.getFullYear(), d.getMonth(), d.getDate() + (day == 0?0:7)-day );

                var month = fir.getMonth() + 1;
                var lastMonth = last.getMonth() + 1;
                
                var firstDateWeek = fir.getDate() + "-" + month + "-" + fir.getFullYear(); 
                $("#id_start").val(firstDateWeek);
                $("#id_start").datepicker('update', firstDateWeek );

                var lastDateWeek = last.getDate() + "-" + lastMonth+ "-" + last.getFullYear();
                $("#id_end").val(lastDateWeek);    
                $("#id_end").datepicker('update', lastDateWeek);       

                var start = $("#id_start").val();
                var end = $("#id_end").val();
                
                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;                   

            }
            else if(selected === 'This month'){
                var date = new Date();
                var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
                var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

                var month = firstDay.getMonth() + 1;

                var firstDateMonth = firstDay.getDate() + "-" + month + "-" + firstDay.getFullYear(); 
                $("#id_start").val(firstDateMonth);
                $("#id_start").datepicker('update', firstDateMonth );

                var lastDateMonth = lastDay.getDate() + "-" + month + "-" + lastDay.getFullYear();
                $("#id_end").val(lastDateMonth);  
                $("#id_end").datepicker('update', lastDateMonth );

                var start = $("#id_start").val();
                var end = $("#id_end").val();

                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;          

            }
            else if(selected === 'Last month'){
                var date = new Date();
                var firstDay = new Date(date.getFullYear(), date.getMonth()-1, 1);
                var lastDay = new Date(date.getFullYear(), date.getMonth(), 0);

                var firstDayMonth = firstDay.getMonth() + 1;
                var lastDayMonth = lastDay.getMonth() + 1;

                var firstDateMonth = firstDay.getDate() + "-" + firstDayMonth + "-" + firstDay.getFullYear(); 
                $("#id_start").val(firstDateMonth);
                $("#id_start").datepicker('update', firstDateMonth );

                var lastDateMonth = lastDay.getDate() + "-" + lastDayMonth + "-" + lastDay.getFullYear();
                $("#id_end").val(lastDateMonth);  
                $("#id_end").datepicker('update', lastDateMonth );

                var start = $("#id_start").val();
                var end = $("#id_end").val();

                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;       
                             
            }
            
            else{
                document.getElementById('id_end').style.borderColor = "";
                document.getElementById('id_end').value = "";
                $('#end_date').hide();
                document.getElementById('id_start').style.borderColor = "";
                document.getElementById('id_start').value = "";
                $('#start_date').hide();
                document.getElementById('id_start_date').value = "";
                document.getElementById('id_end_date').value = "";
            }

        }); 

        $('#id_status').on('change', function(){
            $('.status').css({ "border": '' });           
        });
        

        function printReport(){
            setDateReport();
            var start = $('#id_start').val();
            var end = $("#id_end").val();
            var status_id = $("#id_status option:selected").val();
            var user_state = $("#id_user_dept option:selected").val();

            if (start === "" || end === "" || status_id == "" || user_state === "" ){
                event.preventDefault();
                return false;
            }

            else{
                var start = $('#id_start').val();
                var end = $("#id_end").val();
                var status_id = $("#id_status option:selected").val();
                var user_state = $("#id_user_dept option:selected").val();
                
                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;
                document.getElementById('id_status_two').value = status_id;
                document.getElementById('id_user_dupe').value = user_state;

            }
        }

        function printPdf(){
        // $("#toPrint").submit(function(event){
            // event.preventDefault();
            setDateReport();
            var start = $('#id_start').val();
            var end = $("#id_end").val();

            if (start === "" || end === ""){
                event.preventDefault();
                return false;
            }

            else{
                var start = $('#id_start').val();
                var end = $("#id_end").val();

                document.getElementById('id_start_pdf').value = start;
                document.getElementById('id_end_pdf').value = end;
                 
            }
        }

        function previewReport(){
            setDateReport();
            var start = $('#id_start').val();
            var end = $("#id_end").val();
            var status_id = $("#id_status option:selected").val();
            var user_state = $("#id_user_dept option:selected").val();

            if (start === "" || end === "" || status_id == "" || user_state === "" ){
                event.preventDefault();
                return false;
            }

            else{
                var start = $('#id_start').val();
                var end = $("#id_end").val();
                var status_id = $("#id_status option:selected").val();
                var user_state = $("#id_user_dept option:selected").val();
                
                document.getElementById('id_start_date').value = start;
                document.getElementById('id_end_date').value = end;
                document.getElementById('id_status_two').value = status_id;
                document.getElementById('id_user_dupe').value = user_state;

                $(".reportContainerPane").css("display", "block");
                
            }
        }
    </script>
{% endblock %}


