{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    {% include 'header.html' %}
    <!-- End header header -->
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Tasks Details</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item "><a href="{% url 'task_list' %}">Tasks</a></li>
                    <li class="breadcrumb-item active">Task</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h4 class="m-b-0 text-white">Task Information</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" id="projectForm" data-milestones-url="{% url 'projectdocs_list' %}" novalidate>
                                <input type="text" value="{{object.project.id}}" style="display: none;" id='id_project'/>
                                <table class="col-lg-6">
                                    <div class="row mt-2 mb-2">
                                        <div class="row col-8">
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Name
                                                </div>
                                                <div class="col-8">
                                                   <h4>{{ object.name }}</h4> 
                                                </div>
                                            </div>
                                            
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Status
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.status }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Start date
                                                </div>
                                                <div class="col-8">
                                                    <h4>{{ object.start_date }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                    <div class="col-4">
                                                        End date
                                                    </div>
                                                    <div class="col-8">
                                                        <h4>{{ object.end_date }}</h4>
                                                    </div>
                                                </div>
                                            

                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Time Elapsed
                                                </div>
                                                <div class="col-8 text-success">
                                                    <h4>{{ object.start_date|timesince }}</h4>
                                                </div>
                                            </div>
                                            <div class="row col-8 mt-2">
                                                <div class="col-4">
                                                    Description
                                                </div>
                                                <div class="col-8">
                                                    {{ object.description|striptags }}
                                                </div>
                                            </div>
                                    </div>
                                </table>
                                    <a class="btn btn-success col-md-3" href="#"
                                        onclick="editTask({{ object.id }}, '{{ object.name }}', {{object.project.id}}, {{object.milestone.id}}, '{{object.project.name}}')">
                                        Edit Task
                                    </a>
                                    <a class="btn btn-success col-md-3 col-md-3" onclick="uploadDocument({{ object.project.id }})" href="#" >
                                        Upload Document
                                    </a>
                                </form>
                            <script>
                                $(document).ready(function () {
                                    $("#id_startdate").prop('type', 'date');
                                    $("#id_enddate").prop('type', 'date');
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                        var url = $("#projectForm").attr("data-milestones-url");
                                        var projectId = $();                            
                                        $.ajax({
                                            url: url,
                                            data: {
                                             'project': projectId
                                            },
                                            success: function (data) {
                                             $("#docs").html(data);
                                            }
                                        });
                                });
                                
                            </script>
                            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->
</div>

<script>
    function uploadDocument(project_id){
        urldata = "{% url 'populateUpload' %}";
        
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Upload Documents</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });

        
    }

    function editTask(task_id, task_name, project_id, milestone_id, project_name){
        urldata = "{% url 'updateProjectTask' 999%}".replace(999, task_id);
            
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id,
                task_id: task_id, 
                milestone_id: milestone_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Update Project Task</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }
</script>
<script>
    $('#div_id_status').removeClass("form-group");

    var statusText = $("#id_status option:selected").text().toLowerCase();
    
    var options =  {
        format: 'yyyy-mm-dd',
        autoclose: true,
        clearBtn: true
    }

    $('#id_start_date').datepicker(options);

    $('#id_end_date').datepicker(options);

    $('#id_actual_start_date').datepicker(options);

    $('#id_actual_end_date').datepicker(options);

    $("#id_actual_start_date").prop("type", "text");
    $("#id_actual_end_date").prop("type", "text");

    $("#id_start_date").attr("placeholder", "yyyy-mm-dd");
    $("#id_end_date").attr("placeholder", "yyyy-mm-dd");

    $("#id_actual_start_date").attr("placeholder", "yyyy-mm-dd");
    $("#id_actual_end_date").attr("placeholder", "yyyy-mm-dd");

    $('#id_actual_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_start_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_start_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_status').on('change', function(){
        var statusId = $(this).val();
        
        $.ajax({
            url: "{% url 'checkMilestoneStatus' %}",
            data: {
                status_id: statusId
            },
            dataType: 'json',
            cache: false,
            success: function(data){
                var statusName = data.status_name;
                if (statusName === "Open" || statusName === "Onhold"){
                    $("#div_id_actual_start_date").css("display", "none");
                    $("#div_id_actual_end_date").css("display", "none");
                    document.getElementById("btnUpdateTask").disabled = false;
                }
                else {
                    $("#div_id_actual_start_date").css("display", "block");
                    $("#div_id_actual_end_date").css("display", "block");
                }
            }
        });
    });

    // start date
    $('#id_start_date').on('change', function(){
        console.log("value is here");
        var startDate= document.getElementById('id_start_date').value;
        var endDate= document.getElementById('id_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_start_date').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_start_date').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_end_date').style.borderColor = "";
            $('#end_date').hide();
        }
    });

    // end date
    $('#id_end_date').on('change', function(){
        var startDate= document.getElementById('id_start_date').value;
        var endDate= document.getElementById('id_end_date').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_end_date').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_end_date').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_start_date').style.borderColor = "";
            $('#start_date').hide();
        }
    });

    // actual start date
    $('#id_actual_start_date').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_start_date').value;
        var actualEndDate= document.getElementById('id_actual_end_date').value;
        var startDate= document.getElementById('id_start_date').value;
        var endDate= document.getElementById('id_end_date').value;

        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);
        var sDate = new Date(startDate);

        document.getElementById('id_actual_start_date').style.borderColor = "";
        $("#id_actual_start_date").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $("#id_actual_start_date").css('borderWidth', '1px');
            $('#actual_end_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_actual_start_date').style.borderColor = "red";
            $('#actual_start_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $("#id_actual_start_date").css('borderWidth', '1px');
            $('#actual_start_date').hide();
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        }
        
    });

    // actual end date
    $('#id_actual_enddate').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_start_date').value;
        var actualEndDate= document.getElementById('id_actual_end_date').value;
        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);

        document.getElementById('id_actual_end_date').style.borderColor = "";
        $("#id_actual_end_date").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_actual_end_date').style.borderColor = "red";
            $('#actual_end_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_start_date').style.borderColor = ""; 
            $('#actual_start_date').hide();
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        }
    });

    $('#id_project_name').attr( 'readOnly' , 'true' );

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });

    function changeDateFormat(inputDate){  // expects Y-m-d
        var splitDate = inputDate.split('-');
        if(splitDate.count == 0){
            return null;
        }

        var year = splitDate[0];
        var month = splitDate[1];
        var day = splitDate[2]; 

        return month + '\/' + day + '\/' + year;
    }

    // on load function for addition of milestone
    $(function(){
        if(statusText == 'open' || statusText == 'onhold'){
            $("#div_id_actual_start_date").css("display", "none");
            $("#div_id_actual_end_date").css("display", "none");
            document.getElementById("btnUpdateTask").disabled = false;
        }
        else{
            $("#div_id_actual_start_date").css("display", "block");
            $("#div_id_actual_end_date").css("display", "block");
        }

        var start_date = $("#id_start_date").val();
        var endDate = $("#id_end_date").val();
        var actualStartDate = $("#id_actual_start_date").val();
        var actualEndDate = $("#id_actual_end_date").val();

        var newStart = changeDateFormat(start_date);
        var newEnd = changeDateFormat(endDate);
        var newActualStart = changeDateFormat(actualStartDate);
        var newActualEnd = changeDateFormat(actualEndDate);

        if (start_date.length == 0){
            document.getElementById('id_start_date').value = "";
        }
        else if(start_date.length > 0){
            document.getElementById('id_start_date').value = newStart;
        }

        if (endDate.length == 0){
            document.getElementById('id_end_date').value = "";
        }
        else if(endDate.length > 0){
            document.getElementById('id_end_date').value = newEnd;
        }

        if (actualStartDate.length == 0){
            document.getElementById('id_actual_start_date').value = "";
        }
        else if(actualStartDate.length > 0){
            document.getElementById('id_actual_start_date').value = newActualStart;
        }
        
        if(actualEndDate.length == 0){
            document.getElementById('id_actual_end_date').value = "";
        }
        else if(actualEndDate.length >  0){
            document.getElementById('id_actual_end_date').value = newActualEnd;
        }
        
        
    });
      
    $("#id_name").attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');

    var milestone_val = {{milestone_id}};
    
    $("form").on('submit', function(event){
        event.preventDefault();

        if(statusText == 'completed' || statusText == 'terminated'){
            if ($('#id_actual_start_date').val().length < 1){
                $('#id_actual_start_date').css({ "border": '2px solid #00635a' });
                event.preventDefault();
            }

            else if ($('#id_actual_end_date').val().length < 1){
                $('#id_actual_end_date').css({ "border": '2px solid #00635a' });
                event.preventDefault();
            }
            else{
                var name = $('#id_name').val();
                var status = $('#id_status').val();
                var startdate = $('#id_start_date').val();
                var enddate = $('#id_end_date').val();
                var actual_startdate = $('#id_actual_start_date').val();
                var actual_enddate = $('#id_actual_end_date').val();
                var description = $('#id_description').val();
                var project_id =$('#id_project').val();

                url_data = "{% url 'saveupdateProjectTask' 999%}".replace(999, milestone_val);
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: {
                        name: name,
                        status: status,
                        start_date: startdate,
                        end_date: enddate,
                        actual_start_date: actual_startdate,
                        actual_end_date: actual_enddate,
                        description: description,
                        project_id: project_id
                        
                    },
                    url: url_data,
                    success: function (resp) {
                        $('.close-dialog').click();

                        $.confirm({
                            title: "Success",
                            content: "Successfully updated",
                            type: 'blue',
                            typeAnimated: true,
                            boxWidth: '35%',
                            useBootstrap: false,
                            closeIcon: true,
                                buttons: {
                                    formSubmit: {
                                        text: 'OK',
                                        btnClass: 'btn-blue',
                                        action: function () {
                                           // reloading window after success
                                            location.reload(true);     
                                        }
                                    }
                                }
                        });
                    }
                });
                return true;
            }
        }       
        
        else{
            var name = $('#id_name').val();
            var status = $('#id_status').val();
            var startdate = $('#id_startdate').val();
            var enddate = $('#id_enddate').val();
            var actual_startdate = $('#id_actual_startdate').val();
            var actual_enddate = $('#id_actual_enddate').val();
            var description = $('#id_description').val();
            var project_id =$('#id_project').val();

            url_data = "{% url 'saveupdateProjectTask' 999%}".replace(999, milestone_val);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    name: name,
                    status: status,
                    startdate: startdate,
                    enddate: enddate,
                    actual_start_date: actual_startdate,
                    actual_end_date: actual_enddate,
                    description: description,
                    project_id: project_id
                    
                },
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();

                    $.confirm({
                        title: "Success",
                        content: "Successfully updated",
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '35%',
                        useBootstrap: false,
                        closeIcon: true,
                            buttons: {
                                formSubmit: {
                                    text: 'OK',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        // reloading window after success
                                        location.reload(true); 
                                    }
                                }
                            }
                    });
                }
            });
            
            return true;
        }
    });

</script>
{% endblock %}