<div class="card-body tasks-users">
                    
    <div class="table-responsive">
        <table class="table table-hover" id="table_tasks_container">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Milestone</th>
                    <th>Start-Date</th>
                    <th>End-Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="#" onclick="detailsTask('{{ task.id }}', '{{ task.name }}',  '{{ task.project.id }}')">{{ task.name }}</a></td>
                    <td>{{ task.project }}</td>
                    <td>{{ task.milestone }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.end_date }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <button class="btn btn-outline-success btn-sm"
                            onclick="editTask('{{ task.id }}', '{{ task.name }}', '{{ task.project.id}}', '{{task.milestone.id}}', '{{task.project.name}}')">
                            <i title="Manage Task" class="fa fa-edit"></i>
                        </button>
    
                        <button onclick="deleteTask('{{ task.id }}', '{{ task.name }}', '{{ task.project.id}}', '{{task.project.name}}', '{{task.milestone.name}}')"
                                class="btn btn-outline-danger btn-sm" type="button">
                            <i title="Delete Task" class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#table_tasks_container').DataTable();
    function editTask(task_id, task_name, project_id, milestone_id, project_name){

        urldata = "{% url 'updateProjectTask' 999%}".replace(999, task_id);
            
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id,
                task_id: task_id, 
                milestone_id: milestone_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Update Project Task</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }


    function deleteTask(task_id, task_name, project_id, project_name, milestone) {
        urldata = "{% url 'deleteTask'%}";

        $.confirm({
            title: '<h4>Delete Task: <strong class="text-danger">' + task_name + '</h4>',
            content: '<h5> Milestone: <span class="text-info"> '+ milestone + '</span></h5>'+
                     '<h5>Project: <span class="text-info">'+ project_name +'</span></h5>',
            type: 'red',
            typeAnimated: true,
            boxWidth: '40%',
            useBootstrap: false,
            theme: 'modern',
            icon: 'fa fa-exclamation-circle',
            buttons: {
                formSubmit: {
                    text: 'Remove',
                    btnClass: 'btn-red',
                    action: function () {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {
                                task_name: task_name,
                                task_id: task_id
                            },
                            dataType: 'json',
                            url: urldata,
                            success: function (response_data){
                                $('.close-dialog').click();
                                if (response_data.success === true){
                                    $.ajax({
                                        type:"GET",
                                        cache: false,
                                        data:{},
                                        url: "{% url 'task_list' %}",
                                        success: function(resp){
                                            $('.addPane').html(resp);                                                  
                                        }
                                    }); 
                                }
                            }
                        });
                    }
                },
                close: {
                    text: 'Cancel',
                    btnClass: 'btn-gray',
                    action: function () {
                    }
                }
            }
        });
    }

    function detailsTask(task_id, task_name) {

        url = "{% url 'detailsProjectTask' 999%}".replace(999, task_id);
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            data: {
                task_id: task_id,
                task_name: task_name,
            },
            success: function (resp) {
                $.confirm({
                    title: '<h3>Detail Task: <strong>' + task_name +'</strong></h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '70%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }
</script>