{% load crispy_forms_tags %}
  
<div class="card-body">
    <form method="post" id="taskForm" novalidate>
        {% csrf_token %}
        <div class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <div id="div_id_project">
                        <label for="id_project" class="col-form-label  requiredField">Project<span class="asteriskField">*</span>
                        </label>                    
                        <div class="">
                            <select name="project" class="select form-control project" id="id_project">
                                <option selected="" value="" disabled>--Select Project--</option>
                                {% for pro in project_list %}
                                    <option value="{{pro.id}}">{{pro.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="div_id_milestone">
                        <label for="id_milestone" class="col-form-label requiredField">Milestone<span class="asteriskField">*</span>
                        </label>                    
                        <div class="">
                            <select name="milestone" class="select form-control milestone" id="id_milestone">
                                <option selected="" value="" disabled>--Select Milestone--</option>
                            </select>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="row">
                <div class="col-4">
                    <div id="div_id_name" class="form-group">
                        <label for="id_name" class="col-form-label requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input name="name" class="textinput textInput form-control" required="" id="id_name" value="">
                        </div>
                        <medium id="validate_task_name" class="text-muted hidden">
                            <font color="red">
                                Task Name Already Exists!
                            </font>
                        </medium>
                    </div>
                </div>
                
                <div class="col-4">
                    <div id="div_id_status">
                        <label for="id_status" class="col-form-label requiredField">Status<span class="asteriskField">*</span>
                        </label>                    
                        <div class="">
                            <select name="status" class="select form-control status" id="id_status">
                                <option selected="" value="" disabled>--Select Status--</option>
                                {% for status in statuses %}
                                    <option value="{{status.id}}">{{status.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div id="div_id_assigned_to">
                        <label for="id_assigned_to" class="col-form-label requiredField">
                            Assigned To<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="assigned_to" class="select form-control assigned" id="id_assigned_to">
                                <option selected="" value="" disabled>--Select Member-</option>
                            </select>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="div_id_startdate" class="form-group">
                        <label for="id_startdate" class="col-form-label">Start Date
                        </label>                    
                        <div class="">
                            <input type="" id='id_startdate' class="form-control" value=""  />
                            <medium id="start_date" class="text-muted hidden">
                                <font color="red">
                                    End date has to be greater or equal to start date
                                </font>
                            </medium>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="div_id_enddate" class="form-group">
                        <label for="id_enddate" class="col-form-label">End Date
                        </label> 
                        <div class="">
                            <input type="" id='id_enddate' class="form-control" value=""  />
                            <medium id="end_date" class="text-muted hidden">
                                <font color="red">
                                    End date has to be greater or equal to start date
                                </font>
                            </medium>
                        </div>                   
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 actual">
                    <div id="div_id_actual_startdate" class="form-group">
                        <label for="id_actual_startdate" class="col-form-label requiredField">
                            Actual Start Date<span class="asteriskField">*</span>
                        </label>                    
                        <div class="">
                            <input type="" id='id_actual_startdate' class="form-control" value=""  />
                            <medium id="actual_start_date" class="text-muted hidden">
                                <font color="red">
                                    Actual start date has to be less than or equal to actual end date
                                </font>
                            </medium>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 actual">
                    <div id="div_id_actual_enddate" class="form-group">
                        <label for="id_actual_enddate" class="col-form-label requiredField">
                            Actual End Date<span class="asteriskField">*</span>
                        </label> 
                        <div class="">
                            <input type="" id='id_actual_enddate' class="form-control" value=""  />
                            <medium id="actual_end_date" class="text-muted hidden">
                                <font color="red">
                                    Actual end date has to be greater or equal to actual start date
                                </font>
                            </medium>
                        </div>                   
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="div_id_description" class="form-group">
                        <label for="id_description" class="col-form-label">
                            Description
                        </label>
                        <div class="">
                            <textarea rows="4" cols="100" name="description" id="id_description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row col-md-12">
                <button type="submit" id="btnSaveTask" class="btn btn-success col-md-12 col-sm-12">Save</button>
            </div>
            
        </div>
    </form>
    
</div>

<script>
    $(document).ready(function (){
        $(".actual").css("display", "none"); 
    });

    $('#id_project').change(function () {
        $('#id_milestone').val(null).trigger('change');
        $('#id_milestone').html('');

        var project_id = parseInt($('#id_project').val());
        urldata = "{% url 'selectMembersByProject'%}";

        $.ajax({
            type: 'GET',
            url: urldata,
            data: {
                project_id: project_id
            },
            success: function (data) {
                var res = JSON.parse(data.mil);
                if (res !== '' && res.length > 0) {
                    $('#id_milestone').html('');
                    for (i in res) {
                        $('#id_milestone').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                    }
                    
                    $('#id_milestone').css({ "border": '1px solid #ced4da' });
                    $('#id_task').css({"border": '1px solid #ced4da'});

                }

                var member= JSON.parse(data.members);
                if (member !== '' && member.length > 0) {
                    $('#id_assigned_to').html('');
                    for (i in member) {
                        $('#id_assigned_to').append('<option value="' + member[i].pk + '">' + member[i].fields.first_name + " " + member[i].fields.last_name + '</option>');
                    }
                }
            }
        });
    });

    $("#id_assgined_to").change(function(){
        $('.assigned').css({ "border": '' }); 
    }); 

    // function to convert date to standard /default javascript date input
    function toDate(dateStr){
        var parts = dateStr.split("/")
        return new Date(parts[2], parts[1] - 1, parts[0])
    }

    var options =  {
        format: "dd/mm/yyyy",
        autoclose: true,
        clearBtn: true
    }

    $('#id_startdate').datepicker(options);
    $('#id_enddate').datepicker(options);

    $('#id_actual_startdate').datepicker(options);
    $('#id_actual_enddate').datepicker(options);

    $("#id_startdate").attr("placeholder", "dd/mm/yyyy");
    $("#id_enddate").attr("placeholder", "dd/mm/yyyy");

    $("#id_actual_startdate").attr("placeholder", "dd/mm/yyyy");
    $("#id_actual_enddate").attr("placeholder", "dd/mm/yyyy");

    $('#id_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    // start date
    $("#id_startdate").on('change', function(){
        var start = $("#id_startdate").val();
        var end = $("#id_enddate").val();
        var start_date = toDate(start);
        var end_date = toDate(end);

        $(".clear").hover(function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
        });

        if(start != '' && end != '' && start_date > end_date){
            document.getElementById("btnSaveTask").disabled = true;
            document.getElementById('id_startdate').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(start != '' && end != '' && start_date <= end_date){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
        }
        else{
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
        }
        
    });

    // end date
    $("#id_enddate").on('change', function(){
        var start = $("#id_startdate").val();
        var end = $("#id_enddate").val();
        var start_date = toDate(start);
        var end_date = toDate(end);

        $(".clear").hover(function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
        });

        if(start != '' && end != '' && start_date > end_date){
            document.getElementById("btnSaveTask").disabled = true;
            document.getElementById('id_enddate').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(start != '' && end != '' && start_date <= end_date){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
        }
        else{
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
        }
              
    });

    // actual start date
    $('#id_actual_startdate').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_startdate').value;
        var actualEndDate= document.getElementById('id_actual_enddate').value;

        var actualSDate = toDate(actualStartDate);
        var actualEDate = toDate(actualEndDate);

        document.getElementById('id_actual_startdate').style.borderColor = "";
        $("#id_actual_startdate").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $('#actual_start_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnSaveTask").disabled = true;
            document.getElementById('id_actual_startdate').style.borderColor = "red";
            $('#actual_start_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $('#actual_start_date').hide();
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $('#actual_end_date').hide();
        }
        else{
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $('#actual_start_date').hide();
        }
        
    });

    // actual end date
    $('#id_actual_enddate').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_startdate').value;
        var actualEndDate= document.getElementById('id_actual_enddate').value;

        var actualSDate = toDate(actualStartDate);
        var actualEDate = toDate(actualEndDate);

        document.getElementById('id_actual_enddate').style.borderColor = "";
        $("#id_actual_enddate").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnSaveTask").disabled = true;
            document.getElementById('id_actual_enddate').style.borderColor = "red";
            $('#actual_end_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $('#actual_start_date').hide();
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $('#actual_end_date').hide();
        }
        else{
            document.getElementById("btnSaveTask").disabled = false;
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $('#actual_end_date').hide();
        }
    });

    $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '' });
        var task_name = $(this).val().toUpperCase();
        var milestone_id = $("#id_milestone option:selected").val();

        if (milestone_id > 0){
            $.ajax({
                url: "{% url 'validateTaskName' %}",
                data: {
                    'milestone_id': milestone_id,
                    'task_name': task_name
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#validate_task_name").show();
                        document.getElementById('id_name').style.borderColor = "red";
                        document.getElementById("btnSaveTask").disabled = true;
                    } 
                    else {
                        $("#validate_task_name").hide();
                        document.getElementById('id_name').style.borderColor = "";
                        document.getElementById("btnSaveTask").disabled = false;
                    }
                }
            });
        }
        
    });

    $('#id_status').on('change', function(){
        $('.status').css({ "border": '' });
        var statusId = $(this).val();
        $.ajax({
            url: "{% url 'checkMilestoneStatus' %}",
            data: {
                status_id: statusId
            },
            dataType: 'json',
            cache: false,
            success: function(data){
                var statusName = data.status_name;
                if (statusName === "Open" || statusName === "Onhold"){
                    $(".actual").css("display", "none");
                    document.getElementById("btnSaveMilestone").disabled = false;
                }
                else{
                    $(".actual").css("display", "inline");
                }
            }
        })
    });

    $('#id_project').on('change', function () {
        $('.project').css({ "border": '' });
    });

    function saveTask(project_id, name, milestone_id, status_id, start_date, end_date, actual_start, actual_end, description, assigned_to){
        // function to save the milestone
        urlData = "{% url 'saveProjectTask' %}";
        $.ajax({
            type: "GET",
            cache: false,
            dataType: 'json',
            data: {
                project_id: project_id,
                name: name,
                milestone: milestone_id,
                status_id: status_id,
                start_date: start_date,
                end_date: end_date,
                actual_start: actual_start,
                actual_end: actual_end,
                description:description,
                assigned_to: assigned_to
            },
            url: urlData,
            success: function(response_data){ 
                $('.close-dialog').click();
                if(response_data.state === true){
                    $.confirm({
                        title: response_data.success,
                        content: 'Task name: ' +response_data.name,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '35%',
                        useBootstrap: false,
                        closeIcon: false,
                        buttons: {
                            formSubmit: {
                                text: 'OK',
                                btnClass: 'btn-blue',
                                action: function () {
                                    // reloading window after success
                                    location.reload(true); 
                                }
                            }
                        }
                    });
                    
                }
                else{
                    $.alert("Task Name already exists");
                }
            }
        });
    }

    $('#taskForm').on("submit", function () {
        event.preventDefault();
        var name = $('#id_name').val();
        var project_id = $("#id_project option:selected").val();
        var status_id = $("#id_status option:selected").val();
        var milestone_id = $("#id_milestone option:selected").val();
        var start_date = $("#id_startdate").val();
        var end_date = $("#id_enddate").val();
        var actual_start = $("#id_actual_startdate").val();
        var actual_end = $("#id_actual_enddate").val();
        var description = $('#id_description').val();
        var assigned = $('#id_assigned_to').val();

        var selectednumbers = [];
        $('#id_assigned_to :selected').each(function(i, selected) {
            selectednumbers[i] = $(selected).val();
        });
        var assigned_to = JSON.stringify(selectednumbers);
        console.log(assigned_to + " assigned to ");

        var statusText = $("#id_status option:selected").text().toLowerCase();

        if (name.length < 1 || project_id <= 0 || status_id <= 0 || milestone_id <= 0 || assigned <= 0 ) {
            if (name.length < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }
            if (project_id <=0) {
                $('.project').css({ "border": '2px solid #00635a' });
            }
            if (status_id <= 0) {
                $('.status').css({ "border": '2px solid #00635a' }); 
            }
            if (milestone_id <= 0) {
                $('.milestone').css({ "border": '2px solid #00635a' }); 
            }
            if (assigned <= 0) {
                $('.assigned').css({ "border": '2px solid #00635a' }); 
            }
        }

        if(name.length > 0 && status_id < 0){
            if (status_id < 0) {
                $('.status').css({ "border": '2px solid #00635a' }); 
                event.preventDefault();
            }
        }

        if(name.length > 0 && status_id > 0){

            if(statusText == "open" || statusText == "onhold"){
                document.getElementById("btnSaveTask").disabled = false;

                if(start_date.length < 1){
                    start_date = 'null';
                }
                if(end_date.length < 1){
                    end_date = 'null';
                }
                if(actual_start.length < 1){
                    actual_start = 'null';
                }
                if(actual_end.length < 1){
                    actual_end = 'null';
                }
                saveTask(project_id, name, milestone_id, status_id, start_date, end_date, actual_start, actual_end, description, assigned_to);

            }

            if(statusText == "completed" || statusText == "terminated"){
                if(start_date.length < 1){
                    start_date = 'null';
                }
                if(end_date.length < 1){
                    end_date = 'null';
                }

                if (actual_start.length < 1 || actual_end.length < 1){
                    if ($('#id_actual_startdate').val().length <= 1){
                        $('#id_actual_startdate').css({ "border": '2px solid #00635a' });
                        event.preventDefault();
                    }
                    if ($('#id_actual_enddate').val().length <= 1){ 
                        $('#id_actual_enddate').css({ "border": '2px solid #00635a' });
                        event.preventDefault(); 
                    }
                }
                if(actual_start.length > 1 && actual_end.length > 1) {
                    saveTask(project_id, name, milestone_id, status_id, start_date, end_date, actual_start, actual_end, description, assigned_to);
                }         
            }

 
        }
    });

    
</script>