{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
{% include 'header.html' %}
{% include 'left-nav.html' %}

<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

<script type="text/javascript" src="{% static 'template-static-files/javascript/bootstrap-datepicker.js' %}"></script>
<div id="main-wrapper">

    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Monthly Timesheet Report</h3>
            </div>
            <div class="col-md-7 align--selfcenter">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Timesheet</li>
                </ol>
            </div>
        </div>
        <!-- Container fluid  -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div id="" class="row">
                        <div class="col-6">
                            <h3 style="margin-top: 4%;" class="text-info current_month_pane"></h3>
                        </div>

                        <div class="form-group pull-right col-6">
                            <label>Filter Monthly Timesheets</label>
                            <input type="text" class="form-control form-control-1 input-sm month_selected"
                                placeholder="Select Month">
                        </div>

                    </div>
                    <div id="chart-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    var m_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var month = today.getMonth() + 1;
    var monthname = m_names[today.getMonth()];
    var year = today.getFullYear();
    var month_year = month + '/' + year;

    var month_year2 = monthname + ', ' + year;
    $('.month_selected').val(month_year);
    $('.current_month_pane').text(month_year2);

    $('.month_selected').datepicker({
        autoclose: true,
        minViewMode: 1,
        format: 'mm/yyyy'
    }).on('changeDate', function (selected) {
        $('.month_selected').html('<i class="fa fa-spinner fa-spin fa-5x" style="align-content: center;margin-left: 50%;"></i>');
        $('.current_month_pane').text('');
        var selected_date = new Date(selected.date.valueOf());
        var new_month = selected_date.getMonth() + 1;
        var new_year = selected_date.getFullYear();
        var new_month_year = new_month + '/' + new_year;
        var new_monthname = m_names[selected_date.getMonth()];
        var new_month_year2 = new_monthname + ', ' + new_year;
        var selected_Date2 = new_year + '-' + new_month + '-' + selected_date.getDate();
        $('.month_selected').val(new_month_year);
        $('.current_month_pane').text(new_month_year2);

        FusionCharts.ready(function () {
            var monthly_tms;
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    new_month: new_month,
                    new_year: new_year,
                    selected_date: selected_Date2
                },
                url: '{% url 'filterMonthlyTimesheetsByDate' %}',
                success: function (resp) {
                    monthly_tms = resp.members;
                    var fusioncharts = new FusionCharts({
                        type: 'column2d',
                        renderAt: 'chart-container',
                        width: '1045',
                        height: '350',
                        dataFormat: 'json',
                        dataSource: {
                            // Chart Configuration
                            "chart": {
                                "caption": "Timesheet Overview",
                                "subCaption": "showing all member timesheets",
                                "numberSuffix": " Hrs",
                                "valueBgColor": "#FFFFFF",
                                "valueFontColor": "#000000",
                                "rotateValues": "0",
                                "placeValuesInside": "0",
                                "valueBgColor": "#FFFFFF",
                                "valueBgAlpha": "50",
                                "xAxisName": "Members",
                                "yAxisName": "Worked Hours",
                                "theme": "fint",
                                "showBorder": "0",
                                "formatnumberscale": "1"
                            },
                            // Chart Data
                            "data": monthly_tms
                        }
                    });
                    fusioncharts.render();
                }
            });

        });

    });

    FusionCharts.ready(function () {
        var monthly_tms;
        $.ajax({
            type: "GET",
            cache: false,
            data: {

            },
            url: '{% url 'filterMonthlyTimesheets' %}',
            success: function (resp) {
                monthly_tms = resp.members;
                var fusioncharts = new FusionCharts({
                    type: 'column2d',
                    renderAt: 'chart-container',
                    width: '1045',
                    height: '350',
                    dataFormat: 'json',
                    dataSource: {
                        // Chart Configuration
                        "chart": {
                            "caption": "Timesheet Overview",
                            "subCaption": "showing all member timesheets",
                            "numberSuffix": " Hrs",
                            "valueBgColor": "#FFFFFF",
                            "valueFontColor": "#000000",
                            "rotateValues": "0",
                            "placeValuesInside": "0",
                            "valueBgColor": "#FFFFFF",
                            "valueBgAlpha": "50",
                            "xAxisName": "Members",
                            "yAxisName": "Worked Hours",
                            "theme": "fint",
                            "showBorder": "0",
                            "formatnumberscale": "1"
                        },
                        // Chart Data
                        "data": monthly_tms
                    }
                });
                fusioncharts.render();
            }
        });

    });

</script>
{% endblock %}