<div class="p-5">
    <div class="card">
        <div class="card-body p-0">
            <div id="calendar">
                <i class="fa fa-spinner fa-spin fa-5x" style="align-content: center;margin-left: 50%;"></i>
            </div>
        </div>
    </div>
</div>

<script>

(function () {    
    'use strict';
    jQuery(function() {

        $.ajax({
            type: 'GET',
            data: {},
            url: '{% url 'userGeneralTimesheetReport'%}',
            success: function (data) {
                var res = JSON.parse(JSON.stringify(data.tm));
                if (res !== '' && res.length > 0) {

                    jQuery('#calendar').fullCalendar({
                        themeSystem: 'bootstrap4',
                        businessHours: false,
                        defaultView: 'month',
                        editable: true,
                        header: {
                            left: 'title',
                            center: 'month,agendaWeek,agendaDay',
                            right: 'today prev,next'
                        },
                        events: res,
                        eventRender: function(event, element) {
                            if(event.icon){
                                element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"'></i>");
                            }
                        },
                        dayClick: function(date, jsEvent, view) {
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    log_date: date.format()
                                },
                                url: '{% url 'addTimesheetOnCalender'%}',
                                success: function (resp) {
                                    $.confirm({
                                        title: 'Add Timesheet!',
                                        content: '' + resp,
                                        type: 'blue',
                                        typeAnimated: true,
                                        boxWidth: '55%',
                                        useBootstrap: false,
                                        closeIcon: true,
                                        buttons: {
                                            formSubmit: {
                                                text: 'close',
                                                btnClass: 'btn-gray close-dialog',
                                                action: function () {
                                                    
                                                }
                                            },
                                        },
                                        onContentReady: function () {}
                                    });
                                }
                            });
                        },
                        eventClick: function(event, jsEvent, view) {
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    timesheet_id: event.id
                                },
                                url: '{% url 'calenderTimesheetView'%}',
                                success: function (resp) {
                                    $.confirm({
                                        title: 'Timesheet Details!',
                                        content: '' + resp,
                                        type: 'blue',
                                        typeAnimated: true,
                                        boxWidth: '70%',
                                        useBootstrap: false,
                                        closeIcon: true,
                                        buttons: {
                                            formSubmit: {
                                                text: 'close',
                                                btnClass: 'btn-gray close-dialog',
                                                action: function () {
                                                    
                                                }
                                            },
                                        },
                                        onContentReady: function () {}
                                    });
                                }
                            });
                        },
                    }); 
                }else{
                    jQuery('#calendar').fullCalendar({
                        themeSystem: 'bootstrap4',
                        businessHours: false,
                        defaultView: 'month',
                        editable: true,
                        header: {
                            left: 'title',
                            center: 'month,agendaWeek,agendaDay',
                            right: 'today prev,next'
                        },
                        events: [],
                        eventRender: function(event, element) {
                            if(event.icon){
                                element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"'></i>");
                            }
                        },
                        dayClick: function() {
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    log_date: date.format()
                                },
                                url: '{% url 'addTimesheetOnCalender'%}',
                                success: function (resp) {
                                    $.confirm({
                                        title: 'Add Timesheet!',
                                        content: '' + resp,
                                        type: 'blue',
                                        typeAnimated: true,
                                        boxWidth: '55%',
                                        useBootstrap: false,
                                        closeIcon: true,
                                        buttons: {
                                            formSubmit: {
                                                text: 'close',
                                                btnClass: 'btn-gray close-dialog',
                                                action: function () {
                                                    
                                                }
                                            },
                                        },
                                        onContentReady: function () {}
                                    });
                                }
                            });
                        },
                        eventClick: function(event, jsEvent, view) {
                            
                        },
                    });
                }                   
            }
        });
    });

})(jQuery);
</script>