{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% include 'header.html' %}
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Incidents</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Update Incident</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                      <div class="card-title">
                          <h4>Update Incident</h4>
                      </div>
                      <div class="card-body">
                          <div class="basic-form">
                              <form method="post">
									{% csrf_token %}
									<div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            {{ form.project|as_crispy_field }}
                                            <medium id="project_has_team" class="text-muted hidden">
                                                <font color="red">
                                                    Project has no team
                                                </font>
                                            </medium>
                                        </div>
										<div class="col-md-6 col-sm-12">{{ form.name|as_crispy_field }}</div>
                                    </div>
                                    <br>
									<div class="row">
                                        
                                        <div class="col-md-4 col-sm-12">{{ form.status|as_crispy_field }}</div>
                                        <div class="col-md-4 col-sm-12">{{ form.assigned_to|as_crispy_field }}</div>
                                    </div>
                                    <br>
									<div class="row">
                                        <div class="col-md-4 col-sm-12">{{ form.priority|as_crispy_field }}</div>
                                        <div class="col-md-4 col-sm-12">
                                            <div><label>Color Code</label></div>
                                            <div><input type="text" id="priority_color" class="form-control" style="width: 50%; background-color: {{ form.priority.color }}; border: 0;"></input></div>
                                        </div>
										<div class="col-md-4 col-sm-12">{{ form.description|as_crispy_field }}</div>
                                    </div>
                                    
                                    <br>
                                    <div class="row">
                                        
                                    </div>
								<div class="row">
                                    <div class="col-md-2 col-sm-6"><a href="{% url 'listIncidents' %}" class="btn btn-inverse col-md-12">Cancel</a></div>
									<div class="col-md-2 col-sm-6"><button type="submit" value="Update" class="btn btn-success col-md-12">Update</button></div>	
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% include 'footer.html' %}
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->
</div>
<script>
    $(document).ready(function(){
       
        // assignee 
        $('#id_assigned_to').attr("multiple", "multiple");
        $("#id_assigned_to").attr('data-live-search', 'true');
        $('#id_assigned_to').selectpicker({
        	size: 3,
        });
    
        // creator
        $('#id_creator').removeAttr('multiple', "");
        $("#id_creator").attr('data-live-search', 'true');
        $('#id_creator').selectpicker({
        	size: 3,
        });
    
        $('#id_name').attr('autocomplete', 'off');
    
        // project
        $('#id_project').removeAttr('multiple', "");
        // $('#id_project').attr('data-live-search', 'true');
        // $('#id_project').selectpicker({
        //     size: 3,
        // });

    
        // PRIORITY
        $('#id_priority').removeAttr('multiple', "");
        $('#id_priority').attr('data-live-search', 'true');
        $('#id_priority').selectpicker({
            size: 3,
        });
    
        // STATUS
        $('#id_status').removeAttr('multiple', "");
        $('#id_status').attr('data-live-search', 'true');
        $('#id_status').selectpicker({
            size: 3,
        });

    
        // selecting project
        $('#id_assigned_to').on('focus', function(){
            var project_name = document.getElementById('id_project').value;
            
            $("#id_assignee").html("");
    
            $.ajax({
                url: '{% url 'getTeamMembers' %}',
                data:{
                    project: project_name
                },
                dataType: 'json',
                success: function(data){
                    var teamList = data.team_members;
                    
                    if (teamList.length > 0 && teamList.length !== ''){
                        $("#id_assigned_to").html("");
    
                        for(i in teamList){	
                            $("#project_has_team").hide();
                            $('#id_assigned_to').append('<option value="' + teamList[i].id + '">' + teamList[i].first_name + " " + teamList[i].last_name + '</option>');
                            $('#id_assigned_to').selectpicker('refresh');
                        }
                    }
                    else{
                        
                        $("#id_assigned_to").html("");
                        $('#id_assigned_to').selectpicker('refresh');
                        $("#project_has_team").show();
                    }
                    
                }
            })
        });

        $('#priority_color').attr( 'readOnly' , 'true' );
    
        // setting incident color code
        $('#id_priority').on('change', function(){
            var priority_name = $(this).val();
    
            $.ajax({
                url: '{% url 'setColorCode' %}',
                data: {
                    priority: priority_name
                },
                dataType: 'json',
                success: function(data){
                    var name = data.name;
                    var color = data.color;
                    
                    if (data !== ''){
                        $('#priority_color').css("background-color", data.color);
                    }
                    
                }
            })
        })

        
    
    })
     
</script>
        
{% endblock %}

