{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateStatus' statusid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                    <small id="validate_status_name2" class="text-muted hidden">
                        <font color="red">
                            Can't Update. Status Already Exits!
                        </font>
                    </small>
                </div>
                <div class="col-6">{{ form.description|as_crispy_field }}</div>
            </div>
            <div class="">
                <div class="col-md-12">
                    <button id="btnUpdateStatus" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#id_name').on('input', function () {
        var status_name = $(this).val();

        $.ajax({
            url: '{% url 'validateStatusName' %}',
            data: {
                'statusname': status_name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_status_name2").show();
                    document.getElementById('id_name').style.borderColor = "red";
                    document.getElementById("btnUpdateStatus").disabled = true;
                } else {
                    $("#validate_status_name2").hide();
                    document.getElementById('id_name').style.borderColor = "#e7e7e7";
                    document.getElementById("btnUpdateStatus").disabled = false;
                }
            }
        });
    });
</script>