<div class="card-body">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    <div class="row col-12">
        <input type="hidden" id="sla_id" value="{{sla_id}}">
        <div class="col-6">
            {{ form.name|as_crispy_field }}
        </div>

        <div class="col-6">
            {{ form.project|as_crispy_field }}
        </div>
        
    </div>

    <div class="row col-12">
            <div class="col-6">
                <div class="form-group">
                    <label for="expiry">Response Time</label>
                    <div class="input-group">
                        <input id="id_response_time2" value="{{ response_time }}" type="number" class="form-control select-durations" placeholder="Enter Number"
                            aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" id="settingtogglebtn3">{{ response_duration }}</button>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Select Days</span>
                            </button>
                            <div class="dropdown-menu">
                                <span class="dropdown-item icon-custom"
                                    onclick="settselectedtype3(1, 'Day(s)');">Day(s)</span>
                                <span class="dropdown-item icon-custom"
                                    onclick="settselectedtype3(2, 'Week(S)');">Week(S)</span>
                                <span class="dropdown-item icon-custom"
                                    onclick="settselectedtype3(3, 'Month(s)');">Month(s)</span>
                            </div>
                        </div>
                    </div>
                    <span id="errmsg1"></span>
                </div>
            </div>

        <div class="col-6">
            <div class="form-group">
                <label for="expiry">Resolution Time</label>
                <div class="input-group">
                    <input id="id_resolution_time2" value="{{ resolution_time }}" type="number" class="form-control select-durations" placeholder="Enter Number"
                        aria-label="Text input with segmented dropdown button" >
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="settingtogglebtn4">{{ resolution_duration }}</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Select Days</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype4(1, 'Day(s)');">Day(s)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype4(2, 'Week(S)');">Week(S)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="settselectedtype4(3, 'Month(s)');">Month(s)</span>
                        </div>
                    </div>
                </div><span id="errmsg2"></span>
            </div>
        </div>
    </div>

    <div class="row col-12">

        <div class="col-6">
            {{ form.description|as_crispy_field }}
        </div>

        <div class="col-6" style="margin-top: 7%;">
            <button id="updateSLA" class="btn btn-success pull-right col-6">
                <i class="fa fa-fw fa-lg fa-save"></i>Update
            </button>
        </div>
    </div>
</div>


<script>
     $("#id_response_time2").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg1").html("Digits Only").show().fadeOut("slow");
                return false;
        }
   });

   $("#id_resolution_time2").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg2").html("Digits Only").show().fadeOut("slow");
                return false;
        }
   });

   $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '1px solid #ced4da' });
    });

    $('#id_response_time2').on('input', function () {
        $('#id_response_time2').css({ "border": '1px solid #ced4da' });
    });

    $('#id_resolution_time2').on('input', function () {
        $('#id_resolution_time2').css({ "border": '1px solid #ced4da' });
    });

    $('#id_project').change(function () {
        $('#id_project').css({"border": '1px solid #ced4da'});
    });

    $('#updateSLA').click(function () { 
        var sla_name = $('#id_name').val();
        var id_description = $('#id_description').val();
        var id_response_time = $('#id_response_time2').val();
        var id_resolution_time = $('#id_resolution_time2').val();
        var settingtoggleresp = $('#settingtogglebtn3').html();
        var settingtoggleresoln = $('#settingtogglebtn4').html();
        var id_project = $('#id_project').val();
        var sla_id = $('#sla_id').val();

        if (sla_name < 1 || id_response_time < 1 || id_resolution_time < 1 || id_project < 1) {
            if (sla_name < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }

            if (id_response_time < 1) {
                $('#id_response_time2').css({ "border": '2px solid #00635a' });
            }

            if (id_resolution_time < 1) {
                $('#id_resolution_time3').css({ "border": '2px solid #00635a' });
            }

            if (id_project < 1) {
                $('#id_project').css({ "border": '2px solid #00635a' });
            }
        } else {
            document.getElementById('updateSLA').disabled = true;
            data3 = {
                sla_name: sla_name,
                id_description: id_description,
                id_response_time: id_response_time,
                id_resolution_time: id_resolution_time,
                settingtoggleresp: settingtoggleresp,
                settingtoggleresoln: settingtoggleresoln,
                sla_id: sla_id,
                id_project: id_project
            };
            url_data = "{% url 'saveSLAupdate'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: data3,
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.sla-pane').html(resp);
                }
            });
        }
    });

    function settselectedtype3(value, type) {
        $('#settingtogglebtn3').html(type);
    }

    function settselectedtype4(value, type) {
        $('#settingtogglebtn4').html(type);
    }
</script>