{% load crispy_forms_tags %}
<div>
    <input type="text" value="{{project_id}}" style="display: none;" id='id_project'/>
    <input type="text" value="{{project_name}}" style="display: none;" id='id_project_name'/>
    <input type="text" value="{{milestone_id}}" style="display: none;" id='id_milestone'/>
    <input type="text" value="{{milestone_name}}" style="display: none;" id='id_milestone_name'/>
</div>
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectTask' task_id %}" method="POST"  >
            {% csrf_token %}

            <div class="row">
                <div class="col-6" style="display: none;"> 
                    <div id="div_id_project" class="form-group">
                        <label for="id_project" class="col-form-label ">
                            Project
                        </label>
                        <div class="">
                                <input name="project" class="textinput textInput form-control" required="" id="id_project" value="{{project_id}}" type="hidden">
                                <input type="text" name="" class="textinput textInput form-control" required="" value="{{project_name}}" placeholder="" disabled="">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {{form.name|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{form.status|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{ form.assigned_to|as_crispy_field }}
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-6">
                    {{form.start_date|as_crispy_field}}
                    <medium id="start_date" class="text-muted hidden">
                        <font color="red">
                            Start date has to be less or equal to end date
                        </font>
                    </medium>
                </div>
                <div class="col-6">
                    {{form.end_date|as_crispy_field}}
                    <medium id="end_date" class="text-muted hidden">
                        <font color="red">
                            End date has to be greater or equal to start date
                        </font>
                    </medium>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{form.actual_start_date|as_crispy_field}}
                    <medium id="actual_start_date" class="text-muted hidden">
                        <font color="red">
                            Actual start date has to be less or equal to actual end date
                        </font>
                    </medium>
                    <medium id="equal_start" class="text-muted hidden">
                        <font color="red">
                            Actual start date has to be greater or equal to start date
                        </font>
                    </medium>
                </div>
                <div class="col-6">
                    {{form.actual_end_date|as_crispy_field}}
                    <medium id="actual_end_date" class="text-muted hidden">
                        <font color="red">
                            Actual end date has to be greater or equal to actual start date
                        </font>
                    </medium>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="col-6">
                    <button type="submit" id="btnUpdateTask" class="form-control btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update Task
                    </button>
                </div>
            </div>      
        </form>
    </div>
</div>

<script>
    $('#id_start_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_end_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_actual_start_date").prop("type", "text");
    $("#id_actual_end_date").prop("type", "text");

    $('#id_actual_start_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_actual_end_date').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_start_date").attr("placeholder", "mm/dd/yyyy");
    $("#id_end_date").attr("placeholder", "mm/dd/yyyy");

    $("#id_actual_start_date").attr("placeholder", "mm/dd/yyyy");
    $("#id_actual_end_date").attr("placeholder", "mm/dd/yyyy");

    $('#id_actual_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_end_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_start_date').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_project_name').attr( 'readOnly' , 'true' );

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });

    $('#id_assigned_to').removeAttr('multiple', "");
    $('#id_assigned_to').attr('data-live-search', 'true');
    $('#id_assigned_to').selectpicker({
        size: 3,
    });
      
    $("#id_name").attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');
    
    // start date
    $('#id_start_date').on('change', function(){
        let startDate= document.getElementById('id_start_date').value;
        let endDate= document.getElementById('id_end_date').value;
        let actualStartDate= document.getElementById('id_actual_start_date').value;

        let sDate = new Date(startDate);
        let eDate = new Date(endDate);
        let actualSDate = new Date(actualStartDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_start_date').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_start_date').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_end_date').style.borderColor = "";
            $('#end_date').hide();
        }

        if(actualStartDate != '' && startDate != '' && actualSDate < sDate ){
            document.getElementById('id_actual_start_date').style.borderColor = "red";
            $('#equal_start').show();
        }
        else if(actualStartDate != '' && startDate != '' && actualSDate >= sDate ){
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $('#equal_start').hide();
        }
    });

    // end date
    $('#id_end_date').on('change', function(){
        let startDate= document.getElementById('id_start_date').value;
        let endDate= document.getElementById('id_end_date').value;
        let sDate = new Date(startDate);
        let eDate = new Date(endDate);

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_end_date').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_end_date').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_start_date').style.borderColor = "";
            $('#start_date').hide();
        }
    });

    // actual start date
    $('#id_actual_start_date').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_start_date').value;
        var actualEndDate= document.getElementById('id_actual_end_date').value;
        var startDate= document.getElementById('id_start_date').value;
        var endDate= document.getElementById('id_end_date').value;

        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);
        var sDate = new Date(startDate);

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnUpdateTask").disabled = true;
            document.getElementById('id_actual_start_date').style.borderColor = "red";
            $('#actual_start_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnUpdateTask").disabled = false;
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $('#actual_start_date').hide();
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        }
        
        if(actualStartDate != '' && startDate != '' && actualSDate < sDate ){
            document.getElementById('id_actual_start_date').style.borderColor = "red";
            $('#equal_start').show();
        }
        else if(actualStartDate != '' && startDate != '' && actualSDate >= sDate ){
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $('#equal_start').hide();
        }
    });

    // actual end date
    $('#id_actual_end_date').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_start_date').value;
        var actualEndDate= document.getElementById('id_actual_end_date').value;
        var startDate= document.getElementById('id_start_date').value;
        var endDate= document.getElementById('id_end_date').value;

        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);
        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnAddMiletsone").disabled = true;
            document.getElementById('id_actual_end_date').style.borderColor = "red";
            $('#actual_end_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnAddMiletsone").disabled = false;
            document.getElementById('id_actual_start_date').style.borderColor = "";
            $('#actual_start_date').hide();
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        }
    });
</script>