{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectTeamMember' member_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-12">{{ form.responsibility | as_crispy_field}}</div>
            </div>
            <div class="">
                <div class="col-md-12">
                    <button id="btnUpdateTeam" class="btn btn-success ">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
        // $("#id_responsibility").removeAttr("multiple", "");
        // $('#id_responsibility').attr('data-live-search', "true"); 
        // $('#id_responsibility').selectpicker({
        //     size: 3
        // });

</script>

