<div id="save-esc-pane">
    {% load crispy_forms_tags %} {% csrf_token %}
    <div class="row col-12">
        <div class="col-6">
            <input type="hidden" id="esc_id" value="{{esc_id}}">
            {{ form.name | as_crispy_field }}
            {{ form.project | as_crispy_field }}
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="expiry">Escalate On</label>
                <div class="input-group">
                    <input id="id_escalate_on" value="{{escalation_on}}" type="number" class="form-control select-durations" aria-label="Text input with segmented dropdown button" >
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="escsettingtogglebtn">{{escalation_on_duration}}</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Select Days</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item icon-custom"
                                onclick="escsettselectedtype(1, 'Day(s)');">Day(s)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="escsettselectedtype(2, 'Week(S)');">Week(S)</span>
                            <span class="dropdown-item icon-custom"
                                onclick="escsettselectedtype(3, 'Month(s)');">Month(s)</span>
                        </div>
                    </div>
                </div>
                <span id="errmsg2"></span>
            </div>
            
            <div id="div_id_description" class="form-group">
                <label for="id_description" class="col-form-label ">
                    Description
                </label>
                <div class="">
                    <textarea  name="description" class="form-control" id="id_description">{{desc}}</textarea>
                </div>
            </div>

            <div class="">
                <div class="col-12">
                    <button id="btnUpdateEscalation" class="btn btn-success pull-right">
                        <span class="btn-update-escalation"><i class="fa fa-fw fa-lg fa-save"></i>Update</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#id_escalated_to').attr('multiple', "multiple");
    $('#id_escalated_to').attr('data-live-search', "true");
    $('#id_escalated_to').selectpicker({
        size: 4,
    });
    $( "#div_id_escalated_to" ).removeClass( "form-group");

    $("#id_escalate_on").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            $("#errmsg2").html("Digits Only").show().fadeOut("slow");
                return false;
        }
   });

   $('#btnUpdateEscalation').click(function () { 
        var pro_name = $('#project_name1').val();
        var esc_name = $('#id_name').val();
        var id_description = $('#id_description').val();
        var id_escalate_on = $('#id_escalate_on').val();
        var escsettingtogglebtn = $('#escsettingtogglebtn').html();
        var id_project = $('#id_project').val();
        var esc_id = $('#esc_id').val();

        if (esc_name < 1 || id_escalate_on < 1 || id_project < 1)  {
            if (esc_name < 1) {
                $('#id_name').css({ "border": '2px solid #00635a' });
            }

            if (id_escalate_on < 1) {
                $('#id_escalate_on').css({ "border": '2px solid #00635a'});
            }

            if (id_project < 1) {
                $('#id_project').css({ "border": '2px solid #00635a' });
            }

        } else {
            document.getElementById('btnUpdateEscalation').disabled = true;
            data3 = {
                esc_name: esc_name,
                id_description: id_description,
                id_escalate_on: id_escalate_on,
                escsettingtogglebtn: escsettingtogglebtn,
                id_project: id_project,
                esc_id: esc_id,
                pro_name: pro_name
            };
            url_data = "{% url 'saveEscalationUpdate'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: data3,
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.save-esc-pane1').html(resp);
                }
            });
        }
    });

    $('#id_name').on('input', function () {
        $('#id_name').css({ "border": '1px solid #ced4da' });
    });

    $('#id_escalate_on').on('input', function () {
        $('#id_escalate_on').css({ "border": '1px solid #ced4da' });
    });

    $('#id_project').change(function () {
        $('#id_project').css({"border": '1px solid #ced4da'});
    });

    function escsettselectedtype(value, type) {
        $('#escsettingtogglebtn').html(type);
    }

</script>