{% load crispy_forms_tags %}
<div>
    <input type="text" value="{{project_id}}" style="display: none;" id='id_project'/>
    <input type="text" value="{{project_name}}" style="display: none;" id='id_project_name'/>
    <input type="text" value="{{milestone_id}}" style="display: none;" id='id_milestone'/>
    <input type="text" value="{{milestone_name}}" style="display: none;" id='id_milestone_name'/>
</div>
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectMilestone' milestone_id %}" method="POST"  >
            {% csrf_token %}
            <div class="col-12">
                <div class="row">
                    <div class="col-6" style="display: none;"> 
                        <div id="div_id_project" class="form-group">
                            <label for="id_project" class="col-form-label ">
                                Project
                            </label>
                            <div class="">
                                    <input name="project" class="textinput textInput form-control" required="" id="id_project" value="{{project_id}}" type="hidden">
                                    <input type="text" name="" class="textinput textInput form-control" required="" value="{{project_name}}" placeholder="" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                            {{form.name|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{form.status|as_crispy_field}}
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        {{form.startdate|as_crispy_field}}
                        <medium id="start_date" class="text-muted hidden">
                            <font color="red">
                                Start date has to be less or equal to end date
                            </font>
                        </medium>
                    </div>
                    <div class="col-6">
                        {{form.enddate|as_crispy_field}}
                        <medium id="end_date" class="text-muted hidden">
                            <font color="red">
                                End date has to be greater or equal to start date
                            </font>
                        </medium> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{form.actual_startdate|as_crispy_field}}
                        <medium id="actual_start_date" class="text-muted hidden">
                            <font color="red">
                                Actual start date has to be less or equal to actual end date
                            </font>
                        </medium>
                        <medium id="equal_start" class="text-muted hidden">
                            <font color="red">
                                Actual start date has to be greater or equal to start date
                            </font>
                        </medium>
                    </div>
                    <div class="col-6">
                        {{form.actual_enddate|as_crispy_field}}
                        <medium id="actual_end_date" class="text-muted hidden">
                            <font color="red">
                                Actual end date has to be greater or equal to actual start date
                            </font>
                        </medium>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{form.description|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        <button style="margin-top: 8%;" type="submit" id="btnUpdateMilestone" class="form-control btn btn-success pull-right">
                            <i class="fa fa-fw fa-lg fa-save"></i>Update Milestone
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#div_id_status').removeClass("form-group");

    $('#id_startdate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_enddate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_actual_startdate").prop("type", "text");
    $("#id_actual_enddate").prop("type", "text");

    $('#id_actual_startdate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_actual_enddate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_startdate").attr("placeholder", "mm/dd/yyyy");
    $("#id_enddate").attr("placeholder", "mm/dd/yyyy");

    $("#id_actual_startdate").attr("placeholder", "mm/dd/yyyy");
    $("#id_actual_enddate").attr("placeholder", "mm/dd/yyyy");

    $('#id_actual_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_status').on('change', function(){
        var statusId = $(this).val();
        
        $.ajax({
            url: "{% url 'checkMilestoneStatus' %}",
            data: {
                status_id: statusId
            },
            dataType: 'json',
            cache: false,
            success: function(data){
                var statusName = data.status_name;
                if (statusName === "Open" || statusName === "Onhold"){
                    $("#div_id_actual_startdate").css("display", "none");
                    $("#div_id_actual_enddate").css("display", "none");
                    document.getElementById("btnUpdateMilestone").disabled = false;
                }
                else {
                    $("#div_id_actual_startdate").css("display", "block");
                    $("#div_id_actual_enddate").css("display", "block");
                }
            }
        });
    });

    // start date
    $('#id_startdate').on('change', function(){
        var startDate= document.getElementById('id_startdate').value;
        var endDate= document.getElementById('id_enddate').value;
        var actualStartDate= document.getElementById('id_actual_startdate').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);
        var actualSDate = new Date(actualStartDate);

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnAddMilestone").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateMilestone").disabled = true;
            document.getElementById('id_startdate').style.borderColor = "red";
            $('#start_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateMilestone").disabled = false;
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
        }

        if(actualStartDate != '' && startDate != '' && actualSDate < sDate ){
            document.getElementById('id_actual_startdate').style.borderColor = "red";
            $('#equal_start').show();
        }
        else if(actualStartDate != '' && startDate != '' && actualSDate >= sDate ){
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $('#equal_start').hide();
        }
    });

    // end date
    $('#id_enddate').on('change', function(){
        var startDate= document.getElementById('id_startdate').value;
        var endDate= document.getElementById('id_enddate').value;

        var sDate = new Date(startDate);
        var eDate = new Date(endDate);

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnAddMilestone").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $('#actual_end_date').hide();
        });

        if(startDate != '' && endDate != '' && sDate > eDate){
            document.getElementById("btnUpdateMilestone").disabled = true;
            document.getElementById('id_enddate').style.borderColor = "red";
            $('#end_date').show();
        }
        else if(startDate != '' && endDate != '' && sDate <= eDate){
            document.getElementById("btnUpdateMilestone").disabled = false;
            document.getElementById('id_enddate').style.borderColor = "";
            $('#end_date').hide();
            document.getElementById('id_startdate').style.borderColor = "";
            $('#start_date').hide();
        }
    });

    // actual start date
    $('#id_actual_startdate').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_startdate').value;
        var actualEndDate= document.getElementById('id_actual_enddate').value;
        var startDate= document.getElementById('id_startdate').value;
        var endDate= document.getElementById('id_enddate').value;

        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);
        var sDate = new Date(startDate);

        document.getElementById('id_actual_startdate').style.borderColor = "";
        $("#id_actual_startdate").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnAddMilestone").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $("#id_actual_startdate").css('borderWidth', '1px');
            $('#actual_end_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnUpdateMilestone").disabled = true;
            document.getElementById('id_actual_startdate').style.borderColor = "red";
            $('#actual_start_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnUpdateMilestone").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = "";
            $("#id_actual_startdate").css('borderWidth', '1px');
            $('#actual_start_date').hide();
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $('#actual_end_date').hide();
        }
        
        else if(actualStartDate != '' && startDate != '' && actualSDate < sDate ){
            document.getElementById('id_actual_startdate').style.borderColor = "red";
            document.getElementById("btnUpdateMilestone").disabled = true;
            $('#equal_start').show();
        }
        else if(actualStartDate != '' && startDate != '' && actualSDate >= sDate ){
            document.getElementById('id_actual_startdate').style.borderColor = "";
            document.getElementById("btnUpdateMilestone").disabled = false;
            $('#equal_start').hide();
        }
    });

    // actual end date
    $('#id_actual_enddate').on('change', function(){
        var actualStartDate= document.getElementById('id_actual_startdate').value;
        var actualEndDate= document.getElementById('id_actual_enddate').value;
        var actualSDate = new Date(actualStartDate);
        var actualEDate = new Date(actualEndDate);

        document.getElementById('id_actual_enddate').style.borderColor = "";
        $("#id_actual_end_date").css('border','');

        $(".clear").hover (function(){
            $(this).css('cursor', 'pointer');
        });

        $(".clear").on('click', function(){
            document.getElementById("btnAddMilestone").disabled = false;
            document.getElementById('id_actual_end_date').style.borderColor = "";
            $("#id_actual_startdate").css('borderWidth', '1px');
            $('#actual_end_date').hide();
        });

        if(actualStartDate != '' && actualEndDate != '' && actualSDate > actualEDate){
            document.getElementById("btnUpdateMilestone").disabled = true;
            document.getElementById('id_actual_enddate').style.borderColor = "red";
            $('#actual_end_date').show();
        }
        else if(actualStartDate != '' && actualEndDate != '' && actualSDate <= actualEDate){
            document.getElementById("btnUpdateMilestone").disabled = false;
            document.getElementById('id_actual_startdate').style.borderColor = ""; 
            $('#actual_start_date').hide();
            document.getElementById('id_actual_enddate').style.borderColor = "";
            $("#id_actual_enddate").css('borderWidth', '1px');
            $('#actual_end_date').hide();
        }
    });

    $('#id_project_name').attr( 'readOnly' , 'true' );

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });


    // on load function for addition of milestone
    $(function(){
        // var start_date = $("#id_start_date").val();
        // var endDate = $("#id_end_date").val();
        // var actualStartDate = $("#id_actual_start_date").val();
        // var actualEndDate = $("#id_actual_end_date").val();

        // var newStart = changeDateFormat(start_date);
        // var newEnd = changeDateFormat(endDate);
        // var newActualStart = changeDateFormat(actualStartDate);
        // var newActualEnd = changeDateFormat(actualEndDate);

        // if (start_date.length == 0){
        //     document.getElementById('id_start_date').value = "";
        // }
        // else if(actualStartDate.length > 0){
        //     document.getElementById('id_start_date').value = newStart;
        // }

        // if (endDate.length == 0){
        //     document.getElementById('id_end_date').value = "";
        // }
        // else if(actualStartDate.length > 0){
        //     document.getElementById('id_end_date').value = newEnd;
        // }

        // if (actualStartDate.length == 0){
        //     document.getElementById('id_actual_start_date').value = "";
        // }
        // else if(actualStartDate.length > 0){
        //     document.getElementById('id_actual_start_date').value = newActualStart;
        // }
        
        // if(actualEndDate.length == 0){
        //     document.getElementById('id_actual_end_date').value = "";
        // }
        // else if(actualEndDate.length >  0){
        //     document.getElementById('id_actual_end_date').value = newActualEnd;
        // }
        
        if($("#id_status").val() == '1' || $("#id_status").val() == '2'){
            $("#div_id_actual_startdate").css("display", "none");
            $("#div_id_actual_enddate").css("display", "none");
            document.getElementById("btnUpdateMilestone").disabled = false;
        }
        else{
            $("#div_id_actual_startdate").css("display", "block");
            $("#div_id_actual_enddate").css("display", "block");
        }
    });
      
    $("#id_name").attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');
    
    $("form").on('submit', function(event){
        if($("#id_status").val() == '3' || $("#id_status").val() == '4'){
            if ($('#id_actual_startdate').val().length < 1){
                $('#id_actual_startdate').css({ "border": '2px solid #00635a' });
                event.preventDefault();
            }

            else if ($('#id_actual_enddate').val().length < 1){
                $('#id_actual_enddate').css({ "border": '2px solid #00635a' });
                event.preventDefault();
            }

            else{
                return true;
            }    
                
        }
    });

</script>