<div id="update-request-pane">
    {% load crispy_forms_tags %} {% csrf_token %}
    <div class="row col-12">
        <div class="col-6">
            {{ form.name | as_crispy_field }}
        </div>

        <div class="col-6">
            {{ form.ticket_code | as_crispy_field }}
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_customer_sla" class="form-group">
                <label for="id_customer_sla2" class="col-form-label  requiredField">SLA<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <select name="customersla" class="select form-control" id="id_customer_sla2">
                        <option value="{{sla_id}}" selected>{{sla_name}}</option>
                        {% for sl in customer_sla_list %}
                            <option value="{{sl.id}}">{{sl.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-6">
            {{ form.priority | as_crispy_field }}
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_description" class="form-group">
                <label for="id_description2" class="col-form-label ">
                    Description
                </label>
                <div class="">
                    <textarea  name="description" class="form-control" id="id_description2">
                        {{customerrequest.description}}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="col-6">
            {{ form.status | as_crispy_field }}
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            {{ form.issue_type | as_crispy_field }}
        </div>
        <div class="col-6" style="margin-top: 5%;">
            <button id="btnUpdateCustomerRequest" class="btn btn-success pull-right col-10">
                <span class="btn-save-request"><i class="fa fa-fw fa-lg fa-save"></i>Update</span>
            </button>
        </div>
    </div>

</div>

<script>

    $('#btnUpdateCustomerRequest').click(function () { 
         var request_name = $('#id_name').val();
         var id_description = $('#id_description2').val();
         var id_ticket_code = $('#id_ticket_code').val();
         var id_customer_sla = $('#id_customer_sla2').val();
         var id_priority = $('#id_priority').val();
         var id_status = $('#id_status').val();
         var request_id = '{{request_id}}';
         var id_prev_status = '{{prev_status}}';
         var id_issue_type = $('#id_issue_type').val();
 
         if (request_name < 1 || id_ticket_code < 1 || id_customer_sla < 1 || id_priority < 1 || id_status < 1 || id_issue_type < 1) {
             if (request_name < 1) {
                 $('#id_name').css({ "border": '2px solid #00635a' });
             }
 
             if (id_ticket_code < 1) {
                 $('#id_ticket_code').css({ "border": '2px solid #00635a' });
             }
 
             if (id_customer_sla < 1) {
                 $('#id_customer_sla2').css({ "border": '2px solid #00635a' });
             }
 
             if (id_priority < 1) {
                 $('#id_priority').css({ "border": '2px solid #00635a' });
             }
 
             if (id_status < 1) {
                 $('#id_status').css({ "border": '2px solid #00635a' });
             }

             if (id_issue_type < 1) {
                 $('#id_issue_type').css({ "border": '2px solid #00635a' });
             }
         } else {
             document.getElementById('btnUpdateCustomerRequest').disabled = true;
             data3 = {
                 request_name: request_name,
                 id_description: id_description,
                 id_ticket_code: id_ticket_code,
                 id_customer_sla: id_customer_sla,
                 id_priority: id_priority,
                 id_status: id_status,
                 request_id: request_id,
                 prev_status: id_prev_status,
                 id_issue_type: id_issue_type,
             };
            var dataToggle = $("#toggle-event").prop('checked');
            if(dataToggle){
                url_data = "{% url 'saveRequestupdate'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: url_data,
                    success: function (resp) {
                        $('.close-dialog').click();
                        $('.cust-request-pane').html(resp);
                    }
                });
            }else{
                url_data = "{% url 'saveYourRequestupdate'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: url_data,
                    success: function (resp) {
                        $('.close-dialog').click();
                        $('.cust-request-pane-yours').html(resp);
                    }
                });
            }
         }
     });
 
     $('#id_name').on('input', function () {
         $('#id_name').css({ "border": '1px solid #ced4da' });
     });
 
     $('#id_ticket_code').on('input', function () {
         $('#id_ticket_code').css({ "border": '1px solid #ced4da' });
     });
 
     $('#id_customer_sla2').change(function () {
         $('#id_customer_sla2').css({"border": '1px solid #ced4da'});
     });
 
     $('#id_priority').change(function () {
         $('#id_priority').css({"border": '1px solid #ced4da'});
     });
 
     $('#id_status').change(function () {
         $('#id_status').css({"border": '1px solid #ced4da'});
     });

     $('#id_issue_type').change(function () {
         $('#id_issue_type').css({"border": '1px solid #ced4da'});
     });
 
 </script>