{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectTeam' teamid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                     <small id="validate_project_edit" class="text-muted hidden">
                        <font color="red">
                            Can't Update. Team Name Already Exists!
                        </font>
                    </small>
                </div>
                <div class="col-6">
                    {{ form.project|as_crispy_field }}
                    <medium id="validate_project_name" class="text-muted hidden">
                        <font color="red">
                            Project already assigned team
                        </font>
                    </medium>
                </div>
            </div>
            <div class="">
                <div class="col-md-12">
                    <button id="btnUpdateTeam" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#id_name').on('input', function () {
        var team_name = $(this).val();

        $.ajax({
            url: '{% url 'validateProjectTeamName' %}',
            data: {
                'teamname': team_name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_project_edit").show();
                    document.getElementById('id_name').style.borderColor = "red";
                    document.getElementById("btnUpdateTeam").disabled = true;
                } else {
                    $("#validate_project_edit").hide();
                    document.getElementById('id_name').style.borderColor = "#e7e7e7";
                    document.getElementById("btnUpdateTeam").disabled = false;
                }
            }
        });
    });

    $('#id_project').on('change', function () {
        var project = $(this).val();

        $.ajax({
            url: '{% url 'validateProjectAssigned' %}',
            data: {
                'project': project
            },
            dataType: 'json',
            success: function (data) {
                console.log(project)
                if (data.is_assigned) {
                    $("#validate_project_name").show();
                    document.getElementById('id_project').style.borderColor = "red";
                    document.getElementById("btnAddProjectTeam").disabled = true;
                } else {
                    $("#validate_project_name").hide();
                    document.getElementById('id_project').style.borderColor = "#e7e7e7";
                    document.getElementById("btnAddProjectTeam").disabled = false;
                }
            }
        });
    });
</script>

