{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main wrapper  -->
    <div id="main-wrapper" class="main-wrapper">
        {% include 'header.html' %}
        {% include 'left-nav.html' %}
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Projects</h3></div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'listProjects' %}">Project List</a></li>
                        <li class="breadcrumb-item active">Update Project</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title">
                                <div class="card-header bg-secondary">
                                    <h4 class="m-b-0 text-white">Project Update</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal" action="{% url 'updateProject' project.id %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-4">
                                            {{ form.name|as_crispy_field }}
                                            <medium id="validate_project_name" class="text-muted hidden">
                                                <font color="red">
                                                    Project Name Already Exists!
                                                </font>
                                            </medium>
                                        </div>
                                        <div class="col-4">
                                            {{ form.company|as_crispy_field }}
                                        </div>
                                        
                                        <div class="col-4">
                                            {{ form.project_status|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            {{ form.estimated_start_date|as_crispy_field }}
                                            <medium id="start_date" class="text-muted hidden">
                                                <font color="red">
                                                    Start date has to be less or equal to end date
                                                </font>
                                            </medium>
                                        </div>
                                        
                                        <div class="col-4">
                                            {{ form.estimated_end_date|as_crispy_field }}
                                            <medium id="end_date" class="text-muted hidden">
                                                <font color="red">
                                                    End date has to be greater or equal to start date
                                                </font>
                                            </medium>
                                        </div>

                                        <div class="col-4">
                                            {{ form.actual_start_date|as_crispy_field }}
                                            <medium id="actual_start" class="text-muted hidden">
                                                <font color="red">
                                                    Start date has to be less or equal to end date
                                                </font>
                                            </medium>
                                        </div>

                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            {{ form.actual_end_date|as_crispy_field }}
                                            <medium id="actual_end" class="text-muted hidden">
                                                <font color="red">
                                                    End date has to be greater or equal to start date
                                                </font>
                                            </medium>
                                        </div>

                                        <div class="col-4">
                                            {{ form.final_cost|as_crispy_field }}
                                            <medium id="final_cost" class="text-muted hidden">
                                                <font color="red">
                                                    Minimum Cost is 500,000
                                                </font>
                                            </medium>
                                        </div>

                                        <div class="col-4">
                                            {{ form.project_code|as_crispy_field }}
                                            <medium id="project_code" class="text-muted hidden">
                                                <font color="red">
                                                    Please first fill in all fields above
                                                </font>
                                            </medium>
                                        </div>
                                        
                                    </div>

                                    <div>
                                        <div class="col-3">
                                            {{ form.logo|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.description|as_crispy_field }}
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-1">
                                            <a href="{% url 'listProjects' %}" class="btn btn-inverse">Cancel</a>
                                        </div>
                                        <div class="col-6" >
                                            <button id="btnUpdateProject" class="btn btn-success pull-right col-6">
                                                <i class="fa fa-fw fa-lg fa-save"></i>Submit
                                            </button>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $('#id_company').attr('multiple', "multiple");
        $('#id_company').attr('data-live-search', "true");
        $('#id_company').selectpicker({
            size: 2,
        });

        $("#id_estimated_start_date").attr("placeholder", "mm/dd/yyyy");
        $("#id_estimated_end_date").attr("placeholder", "mm/dd/yyyy");
        $("#id_actual_start_date").attr("placeholder", "mm/dd/yyyy");
        $("#id_actual_end_date").attr("placeholder", "mm/dd/yyyy");

        $('#id_estimated_start_date').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true
        });

        $('#id_estimated_end_date').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true
        });

        $('#id_actual_start_date').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true
        });

        $('#id_actual_end_date').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true
        });

        // estimated end date
        $('#id_estimated_end_date').on('focus', function(){
            var date = $(this).blur();
        });
        
        $('#id_estimated_end_date').on('change', function(){
            var startDate= document.getElementById('id_estimated_start_date').value;
            var endDate= document.getElementById('id_estimated_end_date').value;

            var sDate = new Date(startDate);
            var eDate = new Date(endDate);

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btnUpdateProject").disabled = true;
                document.getElementById('id_estimated_end_date').style.borderColor = "red";
                $('#end_date').show();
            }
            else{
                document.getElementById("btnUpdateProject").disabled = false;
                document.getElementById('id_estimated_end_date').style.borderColor = "";
                document.getElementById('id_estimated_start_date').style.borderColor = "";
                $('#end_date').hide();
                $('#start_date').hide();
            }
        });

        // estimated start date
        $('#id_estimated_start_date').on('focus', function(){
            var date = $(this).blur();
        });

        $('#id_estimated_start_date').on('change', function(){
            var startDate= document.getElementById('id_estimated_start_date').value;
            var endDate= document.getElementById('id_estimated_end_date').value;

            var sDate = new Date(startDate);
            var eDate = new Date(endDate);

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btnUpdateProject").disabled = true;
                document.getElementById('id_estimated_start_date').style.borderColor = "red";
                $('#start_date').show();
            }
            else{
                document.getElementById("btnUpdateProject").disabled = false;
                document.getElementById('id_estimated_start_date').style.borderColor = "";
                document.getElementById('id_estimated_end_date').style.borderColor = "";
                $('#start_date').hide();
                $('#end_date').hide();
            }
        });

        // actual end date

        $('#id_actual_end_date').on('focus', function(){
            var date = $(this).blur();
        });

        $('#id_actual_end_date').on('change', function(){
            var startDate= document.getElementById('id_actual_start_date').value;
            var endDate= document.getElementById('id_actual_end_date').value;

            var sDate = new Date(startDate);
            var eDate = new Date(endDate);

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btnUpdateProject").disabled = true;
                document.getElementById('id_actual_end_date').style.borderColor = "red";
                $('#actual_end').show();
            }
            else{
                document.getElementById("btnUpdateProject").disabled = false;
                document.getElementById('id_actual_end_date').style.borderColor = "";
                document.getElementById('id_actual_start_date').style.borderColor = "";
                $('#actual_end').hide();
                $('#actual_start').hide();

            }
        });

        // actual start date
        $('#id_actual_start_date').on('focus', function(){
            var date = $(this).blur();
        });

        $('#id_actual_start_date').on('change', function(){
            var startDate= document.getElementById('id_actual_start_date').value;
            var endDate= document.getElementById('id_actual_end_date').value;

            var sDate = new Date(startDate);
            var eDate = new Date(endDate);

            if(startDate != '' && endDate != '' && sDate > eDate){
                document.getElementById("btnUpdateProject").disabled = true;
                document.getElementById('id_actual_start_date').style.borderColor = "red";
                $('#actual_start').show();
            }
            else{
                document.getElementById("btnUpdateProject").disabled = false;
                document.getElementById('id_actual_start_date').style.borderColor = "";
                document.getElementById('id_actual_end_date').style.borderColor = "";
                $('#actual_start').hide();
                $('#actual_end').hide();
            }
        });

        // final cost
        $('#id_final_cost').attr('placeholder', '500,000');

        $("#id_final_cost").keypress(function(event) {
            if(event.which != 0){
                return /\d/.test(String.fromCharCode(event.keyCode));
            }

        });

        $("#id_final_cost").on('input', function(){
            var cost = $(this).val();
            if (cost < 500000){
                $("#final_cost").show();
                document.getElementById('id_final_cost').style.borderColor = "red";
                document.getElementById('btnUpdateProject').disabled = true;
            }
            else if(cost >= 500000){
                $("#final_cost").hide();
                document.getElementById('id_final_cost').style.borderColor = "";
                document.getElementById('btnUpdateProject').disabled = false;
            }
        })

        // status attribute 
        $('#id_project_status').removeAttr('multiple', "");
        $('#id_project_status').attr('data-live-search', "true");
        $('#id_project_status').selectpicker({
            size: 3,
        });

        // company attribute
        $("#id_company").prop("selectedIndex", -1);
        $('#id_company').attr('multiple', "multiple");
        $('#id_company').attr('data-live-search', "true");
        $('#id_company').selectpicker({
            size: 2,
        });



        // PROJECT NAME 
        $("#id_name").attr('autocomplete', 'off');

        $("#id_project_code").attr('autocomplete', 'off');

        $("#id_name").css("text-transform", "uppercase");

        $('#id_name').on('input', function () {
            var project_name = $(this).val().toUpperCase();

            $.ajax({
                url: '{% url 'validateProjectName' %}',
                data: {
                    'projectname': project_name
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#validate_project_name").show();
                        document.getElementById('id_name').style.borderColor = "red";
                        document.getElementById("btnUpdateProject").disabled = true;
                    } else {
                        $("#validate_project_name").hide();
                        document.getElementById('id_name').style.borderColor = "#e7e7e7";
                        document.getElementById("btnUpdateProject").disabled = false;
                    }
                }
            });
        });      

        $('#id_project_code').attr( 'readOnly' , 'true' );

        // generate project_code
        $('#id_project_code').on('focus', function(){
            var company = document.getElementById('id_company');
            
            var companies = Array.from(company.selectedOptions).map(option => option.value);

            var jsonText = JSON.stringify(companies);
            console.log(jsonText);


            $.ajax({
                url: '{% url 'formatProjectCode' %}',
                data: {
                    companies: jsonText
                },
            
                dataType: 'json',
                success: function(data){
                    
                    if (data['name'] != "" && startDate != "" && sDate != 'Invalid Date' ){
                        var clientName = data.name;
                        var name = document.getElementById("id_name").value;
                        var upper = name.toUpperCase();

                        if (upper != ''){
                            var clientArr = clientName.slice(0,3);
                            var upperArr = upper.slice(0,2);
                            var startDate= document.getElementById('id_estimated_start_date').value;
                            var sDate = new Date(startDate);
                            var final = upperArr + "/" + clientArr + "/" + sDate;

                            document.getElementById('id_project_code').value=final;
                            $("#project_code").hide();
                            document.getElementById("btnUpdateProject").disabled = false;
                            document.getElementById('id_project_code').style.borderColor = "";
                        }
                        else{
                            document.getElementById('id_project_code').style.borderColor = "red";
                            document.getElementById("btnAddProject").disabled = true;
                            $("#project_code").show();
                        }   
                    }
                    else{
                        $("#project_code").show();
                        document.getElementById('id_project_code').style.borderColor = "red";
                        document.getElementById("btnUpdateProject").disabled = true;
                    }
                    
                }
            })
        });
    })
</script>
{% endblock %}

