{% load static %}
<style>
    .daterangepicker{
        z-index: 999999999;
    }
</style>

<script type="text/javascript" src="{% static 'template-static-files/javascript/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'template-static-files/javascript/daterangepicker.js' %}"></script>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_log_day" class="form-group">
            <label for="id_log_day3" class="col-form-label  requiredField">Date<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <input onkeypress="return false;" type="text" name="id_log_day3" class="dateinput form-control" id="id_log_day3" value='{{ log_day }}'>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="" class="form-group">
            <label for="" class="col-form-label  requiredField">User<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <input type="text" maxlength="255" class="textinput textInput form-control" required="" value="{{user_name}}" disabled>
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_project" class="form-group">
            <label for="id_project3" class="col-form-label  requiredField">Project<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="project" class="select form-control" id="id_project3">
                    <option value="{{project_id}}">{{project_name}}</option>
                    {% for pro in project_list %}
                        <option value="{{pro.id}}">{{pro.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="div_id_milestone" class="form-group">
            <label for="id_milestone3" class="col-form-label  requiredField">Milestone<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="milestone" class="select form-control" id="id_milestone3">
                    <option value="{{milestone_id}}">{{milestone_name}}</option>
                    {% for mil in list_project_milestones %}
                        <option value="{{mil.id}}">{{mil.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_task" class="form-group">
            <label for="id_task3" class="col-form-label requiredField">Task<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="task" class="select form-control" id="id_task3">
                    <option value="{{task_id}}">{{task}}</option>
                    {% for tsk in list_milestone_tasks %}
                        <option value="{{tsk.id}}">{{tsk.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="div_id_workedtime" class="form-group">
            <label for="id_workedtime3" class="col-form-label  requiredField">Worked Time<span class="asteriskField">* | Duration: <big class="text-info font-weight-bold hide" id="time_duration3"></big></span>
            </label>                    
            <div class="">
                <input onkeypress="return false;" style="box-shadow: none; font-family: 'Poppins', sans-serif; display: block; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter" id="id_workedtime3" type="text" value=""/>
                <input type="hidden" value="{{start_time}}" id="start_default_time">
                <input type="hidden" value="{{end_time}}" id="end_default_time">
                <input type="hidden" value="{{timesheet_id}}" id="timesheet_id">
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div class="form-group">
            <label class=" control-label">Notes</label>
            <div class="">
                <textarea id="id_timesheet_notes3" class="form-control">{{notes}}</textarea>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <button style="margin-top: 18%;" id="btnUpdateTimesheet22" class="btn btn-success pull-right col-10">
            <span class="btn-update-timesheet"><i class="fa fa-fw fa-lg fa-save"></i>Save</span>
        </button>
    </div>
</div>

<script>
    document.getElementById("btnUpdateTimesheet22").disabled=false;
    var start_default_time = $('#start_default_time').val();
    var end_default_time = $('#end_default_time').val();

    $('#id_log_day3').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        clearBtn: true,
        endDate : new Date()
    });
        
    
    $('input[name="datefilter"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 1,
        timePickerSeconds: false,
        startDate: start_default_time,
        endDate: end_default_time,
        locale: {
            format: 'h:mm A'
        }
    }).on('show.daterangepicker', function (ev, picker) {
        picker.container.find(".calendar-table").hide();
    }).on('change.daterangepicker', function (ev, picker) {
        durationCalculating21();
    });

    durationCalculating21();


    $('#id_project3').change(function () {
        $('#id_milestone3').val(null).trigger('change');
        $('#id_milestone3').html('');
        $('#id_task3').html('');

        var project_id = parseInt($('#id_project3').val());
        urldata = "{% url 'selectMilestonesByProject'%}";

        $.ajax({
            type: 'GET',
            url: urldata,
            data: {
                project_id: project_id
            },
            success: function (data) {
                var res = JSON.parse(data.mil);
                if (res !== '' && res.length > 0) {
                    $('#id_milestone3').html('');
                    for (i in res) {
                        $('#id_milestone3').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                    }

                    $('#id_task3').val(null).trigger('change');
                    var id_milestone1 = parseInt($('#id_milestone3').val());
                    urldata = "{% url 'selectTasksByMilestone'%}";

                    $.ajax({
                        type: 'GET',
                        url: urldata,
                        data: {
                            id_milestone: id_milestone1
                        },
                        success: function (data) {
                            var res = JSON.parse(data.task);
                            if (res !== '' && res.length > 0) {
                                $('#id_task3').html('');
                                for (i in res) {
                                    $('#id_task3').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                                }
                            }
                        }
                    });
                    $('#id_milestone3').css({ "border": '1px solid #ced4da' });
                    $('#id_task3').css({"border": '1px solid #ced4da'});

                }
            }
        });
    });

    $('#id_milestone3').change(function () {
        $('#id_task3').val(null).trigger('change');
        $('#id_task3').html('');

        var id_milestone = parseInt($('#id_milestone3').val());
        if (id_milestone > 0) {
            urldata = "{% url 'selectTasksByMilestone'%}";

            $.ajax({
                type: 'GET',
                url: urldata,
                data: {
                    id_milestone: id_milestone
                },
                success: function (data) {
                    var res = JSON.parse(data.task);
                    if (res !== '' && res.length > 0) {
                        $('#id_task3').html('');
                        for (i in res) {
                            $('#id_task3').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                        }
                    }
                    $('#id_task3').css({"border": '1px solid #ced4da'});
                }
            }); 
        }
    });

    $('#id_log_day3').on('change', function () {
        $('#id_log_day3').css({ "border": '1px solid #ced4da' });
    });

    $('#id_project3').on('input', function () {
        $('#id_project3').css({ "border": '1px solid #ced4da' });
    });

    $('#id_milestone3').on('input', function () {
        $('#id_milestone3').css({ "border": '1px solid #ced4da' });
    });

    $('#id_task3').change(function () {
        $('#id_task3').css({"border": '1px solid #ced4da'});
    });

    $('#btnUpdateTimesheet22').click(function () { 
        var id_log_day = $('#id_log_day3').val();
        var id_project = $('#id_project3').val();
        var id_milestone = $('#id_milestone3').val();
        var id_task = $('#id_task3').val();
        var timesheet_id = $('#timesheet_id').val();
        var id_timesheet_notes = $('#id_timesheet_notes3').val();

        var id_workedtime = $('#id_workedtime3').val();
        var worked_time_ranges = id_workedtime.split(" - ");
        var start_time = worked_time_ranges[0];
        var end_time = worked_time_ranges[1];
        var id_user_dept = {{user_id}};

        if (id_log_day < 1 || id_project < 1 || id_milestone < 1  || id_task < 1) {
            if (id_log_day < 1) {
                $('#id_log_day3').css({ "border": '2px solid #00635a' });
            }

            if (id_project < 1) {
                $('#id_project3').css({ "border": '2px solid #00635a' });
            }

            if (id_milestone < 1) {
                $('#id_milestone3').css({ "border": '2px solid #00635a' });
            }

            if (id_task < 1) {
                $('#id_task3').css({ "border": '2px solid #00635a' });
            }

        } else {
            var date_selected = $('#date_selected_val').val();
            data3 = {
                id_log_day: id_log_day,
                id_task: id_task,
                start_time: start_time,
                end_time: end_time,
                timesheet_id: timesheet_id,
                notes: id_timesheet_notes,
                dateSelected: date_selected,
                id_user_dept: id_user_dept
            };
            url_data = "{% url 'saveUpdateTimesheetPaginator'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: data3,
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('#timesheet-manage-pane').html(resp);
                    document.getElementById("btnUpdateTimesheet22").disabled=true;
                }
            });
        }
    });

    function durationCalculating21(){
        var id_workedtime = $('#id_workedtime3').val();
        var worked_time_ranges = id_workedtime.split(" - ");
        
        var time1 = worked_time_ranges[0];
        var time2 = worked_time_ranges[1];

        var startDate = new Date("January 1, 1970 " + time1);
        var endDate = new Date("January 1, 1970 " + time2);
        
        var timeDiff = Math.abs(startDate - endDate);

        var hh = Math.floor(timeDiff / 1000 / 60 / 60);
        if(hh < 10) {
            hh = '0' + hh;
        }
        timeDiff -= hh * 1000 * 60 * 60;
        var mm = Math.floor(timeDiff / 1000 / 60);
        if(mm < 10) {
            mm = '0' + mm;
        }

        var hourDiff = hh + ":" + mm;

        $("#time_duration3" ).show();
        $("#time_duration3").text(hourDiff);
    }

</script>