{% load crispy_forms_tags %}
<div>
    <input type="text" value="{{project_id}}" style="display: none;" id='id_project'/>
    <input type="text" value="{{project_name}}" style="display: none;" id='id_project_name'/>
    <input type="text" value="{{milestone_id}}" style="display: none;" id='id_milestone'/>
    <input type="text" value="{{milestone_name}}" style="display: none;" id='id_milestone_name'/>
</div>
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectMilestone' %}" method="POST"  >
            {% csrf_token %}

            <div class="row">
                <div class="col-6" style="display: none;"> 
                    <div id="div_id_project" class="form-group">
                        <label for="id_project" class="col-form-label ">
                            Project
                        </label>
                        <div class="">
                                <input name="project" class="textinput textInput form-control" required="" id="id_project" value="{{project_id}}" type="hidden">
                                <input type="text" name="" class="textinput textInput form-control" required="" value="{{project_name}}" placeholder="" disabled="">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                        <div id="div_id_name" class="form-group">
                            <label for="id_name" class="col-form-label  requiredField">
                                Name<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="text" name="name" value="{{milestone_name}}" maxlength="100" class="textinput textInput form-control is-invalid" required="" id="id_name" autocomplete="off">
                                <span id="error_1_id_name" class="invalid-feedback"><strong>This field is required.</strong></span>
                            </div>
                        </div>
                </div>
                <div class="col-6">
                    {{form.status|as_crispy_field}}
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-6">
                    {{form.startdate|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.enddate|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{form.actual_startdate|as_crispy_field}}
                </div>
                <div class="col-6">
                    {{form.actual_enddate|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="col-6">
                    <button type="submit" id="btnUpdateMiletsone" class="form-control btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update Milestone
                    </button>
                </div>
            </div>
            
            
            
        </form>
    </div>
</div>

<script>
    $('#id_startdate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true
    });

    $('#id_enddate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true
    });

    $("#id_actual_startdate").prop("type", "text");
    $("#id_actual_enddate").prop("type", "text");

    $('#id_actual_startdate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true
    });

    $('#id_actual_enddate').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true
    });

    $("#id_startdate").attr("placeholder", "mm/dd/yyyy");
    $("#id_enddate").attr("placeholder", "mm/dd/yyyy");

    $("#id_actual_startdate").attr("placeholder", "mm/dd/yyyy");
    $("#id_actual_enddate").attr("placeholder", "mm/dd/yyyy");

    $('#id_actual_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_enddate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_actual_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_startdate').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_project_name').attr( 'readOnly' , 'true' );

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });


    // on load function for addition of milestone
    $(function(){});
      
    $("#id_name").attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');
    
    // $('#id_name').on('input', function () {
    //     var milestone_name = $(this).val().toUpperCase();

    //     $.ajax({
    //         url: "{% url 'validateMilestoneName' %}",
    //         data: {
    //             'milestoneName': milestone_name
    //         },
    //         dataType: 'json',
    //         success: function (data) {
    //             if (data.is_taken) {
    //                 $("#validate_milestone_name").show();
    //                 document.getElementById('id_name').style.borderColor = "red";
    //                 document.getElementById("btnAddMiletsone").disabled = true;
    //             } 
    //             else {
    //                 $("#validate_milestone_name").hide();
    //                 document.getElementById('id_name').style.borderColor = "#e7e7e7";
    //                 document.getElementById("btnAddMiletsone").disabled = false;
    //             }
    //         }
    //     });
    // });

    // $('#postForm').on('submit', function(){
    //     event.preventDefault();
    //     saveMilestone();
        
        
    // })

    // saving milestone to database
    // function saveMilestone(event){
    //     let project_id = $('#id_project').val();
    //     let project_name = $('#id_project_name').val();
    //     let status_id = $('#id_status').val();
    //     let milestone_name = $('#id_name').val();
    //     let start = $('#id_startDate').val();
    //     let end = $('#id_endDate').val();
    //     let description = $('#id_description').val();

    //     if(milestone_name !== ''){
    //         if(start.length < 1){
    //             start = 'null';
    //         }
    //         if(end.length < 1){
    //             end = 'null';
    //         }
    //         urlData = "{% url 'saveMilestone' %}";
    //         $.ajax({
    //             type: "GET",
    //             cache: false,
    //             dataType: 'json',
    //             data: {
    //                 project_id: project_id,
    //                 project_name: project_name,
    //                 name: milestone_name,
    //                 status_id: status_id,
    //                 start_date: start,
    //                 end_date: end,
    //                 description:description,
    //             },
    //             url: urlData,
    //             success: function(response_data){ 
    //                 $('.close-dialog').click();
    //                 if(response_data.state === true){
    //                     $.confirm({
    //                         title: response_data.success,
    //                         content: 'Milestone name: ' +response_data.name,
    //                         type: 'blue',
    //                         typeAnimated: true,
    //                         boxWidth: '35%',
    //                         useBootstrap: false,
    //                         closeIcon: true,
    //                             buttons: {
    //                                 formSubmit: {
    //                                     text: 'OK',
    //                                     btnClass: 'btn-blue',
    //                                     action: function () {
                                            
    //                                         $.ajax({
    //                                             type:"GET",
    //                                             cache: false,
    //                                             data:{
    //                                                 project_id:project_id
    //                                             },
    //                                             url: "{% url 'listProjectMilestones' %}",
    //                                             success: function(resp){
    //                                                 $('.milestone-task').html(resp);                                                    
    //                                             }
    //                                         })
    //                                     }
    //                                 }
    //                             }
    //                     });
    //                 }
    //                 else{
    //                     $.alert("Name already exists");
    //                 }
                    
    //             }
    //         });
    //     }             
    // }

</script>