<div class="login-in-home-pane">
    {% extends 'base.html' %}

    {% load static %}

    {% block content %}

    <style>
        #pswd_info {
            background: #dfdfdf none repeat scroll 0 0;
            color: white;
            left: 60%;
            position: absolute;
            top: 115px;
        }
        #pswd_info h4{
            background: #28a745 none repeat scroll 0 0;
            display: block;
            font-size: 14px;
            letter-spacing: 0;
            padding: 17px 0;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-weight: bolder;
        }
        #pswd_info ul {
            list-style: outside none none;
        }
        #pswd_info ul li {
            padding: 10px 45px;
        }

        .valid {
            color: green;
            line-height: 21px;
            padding-left: 22px;
        }

        .invalid {
            color: red;
            line-height: 21px;
            padding-left: 22px;
        }

        #pswd_info::before {
            background: #dfdfdf none repeat scroll 0 0;
            content: "";
            height: 25px;
            left: -13px;
            margin-top: -12.5px;
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
            width: 25px;
        }

        #pswd_info {
            display:none;
        }

    </style>

    <div id="main-wrapper">
        {% include 'header.html' %}

        <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
        <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

        <!-- <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
         -->
        {% include 'left-nav.html' %}

        <div class="page-wrapper">

            <div class="row page-titles">
                <div class="col-md-7 align-self-center">
                    <h3 class="text-primary">Change Password</h3>
                </div>
            </div>

            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-2"></div>
                    <div class="card col-8">
                        <div class="card-body">
                            <div class="card-header bg-secondary">
                                <h4 class="m-b-0 text-white">Service Desk App</h4>
                            </div>
                            <h4>Edit Login Credentials.</h4>

                            <div class="form-group">
                                <label class="col-form-label  requiredField">User Name<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input id="id_username" value="{{user_name}}" type="text" name="" class="textinput textInput form-control" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label  requiredField">New Password<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input autocomplete="new-password" id="id_new_password" type="password" name="" class="textinput textInput form-control" required="" placeholder="Enter New Password">
                                    <input type='checkbox' id='check-new-password'> Show password
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label  requiredField">Confirm Password<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input autocomplete="new-password" id="id_confirm_password" type="password" name="" class="textinput textInput form-control" required="" placeholder="Confirm New Password">
                                    <input type='checkbox' id='check-confirm-password'> Show password
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="pull-right">
                                <button id="btnSaveNewPassword" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                        <div class="aro-pswd_info">
                            <div id="pswd_info">
                                <h4>Password requirements</h4>
                                <ul>
                                    <li id="letter" class="invalid">At least <strong>1 letter</strong></li>
                                    <li id="capital" class="invalid">At least <strong>1 uppercase letter</strong></li>
                                    <li id="number" class="invalid">At least <strong>1 numerical number</strong></li>
                                    <li id="length" class="invalid">At least <strong>8 characters</strong></li>
                                    <li id="space" class="invalid">At least <strong>1 special character<br> [~  !  @  #  $  %  ^  &  *  -  =  .  ;  ']</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="user_id" value="{{user_id}}">
</div>
<script>
    var user_id = $('#user_id').val();

    $('#check-new-password').click(function(){
        var id_new_password1 = $('#id_new_password').val();
        if(id_new_password1.length > 0){
            if(document.getElementById('check-new-password').checked) {
                $('#id_new_password').get(0).type = 'text';
            } else {
               $('#id_new_password').get(0).type = 'password';
            }
        }
    });

    $('#check-confirm-password').click(function(){
        var id_confirm_password1 = $('#id_confirm_password').val();
        if(id_confirm_password1.length > 0){
            if(document.getElementById('check-confirm-password').checked) {
                $('#id_confirm_password').get(0).type = 'text';
            } else {
               $('#id_confirm_password').get(0).type = 'password';
            }
        }
    });

    $('#btnSaveNewPassword').click(function () {
        var id_username = $('#id_username').val();
        var id_new_password = $('#id_new_password').val();
        var id_confirm_password = $('#id_confirm_password').val();

        if (id_username < 1 || id_new_password < 1 || id_confirm_password < 1) {
            if (id_username < 1) {
                $.confirm({
                    title: '<h3>Alert!</h3>',
                    content: 'Please fill in Username',
                    type: 'orange',
                    typeAnimated: true,
                    boxWidth: '30%',
                    useBootstrap: false,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {
                                $('#id_username').css({"border": '2px solid #00635a'});
                            }
                        }
                    }
                });
            }else{
                 if (id_new_password < 1) {
                    $.confirm({
                        title: '<h3>Alert!</h3>',
                        content: 'Please fill in the New Password Field',
                        type: 'orange',
                        typeAnimated: true,
                        boxWidth: '30%',
                        useBootstrap: false,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                    $('#id_new_password').css({"border": '2px solid #00635a'});
                                }
                            }
                        }
                    });
                 }else{
                     if (id_confirm_password < 1) {
                        $.confirm({
                            title: '<h3>Alert!</h3>',
                            content: 'Please fill in the Confirm Password Field',
                            type: 'orange',
                            typeAnimated: true,
                            boxWidth: '30%',
                            useBootstrap: false,
                            buttons: {
                                close: {
                                    text: 'Close',
                                    btnClass: 'btn-gray',
                                    action: function () {
                                        $('#id_confirm_password').css({"border": '2px solid #00635a'});
                                    }
                                }
                            }
                        });

                     }else{
                         id_new_password = $('#id_new_password').val();
                         id_confirm_password = $('#id_confirm_password').val();

                         if(id_confirm_password === id_new_password){
                            var user_name = $('#id_username').val();
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    new_password: id_new_password,
                                    user_name: user_name,
                                    user_id: user_id
                                },
                                url: '{% url 'saveNewPassword' %}',
                                success: function (resp) {
                                    $('.login-in-home-pane').html(resp);
                                }
                            });
                         }else{
                            $.confirm({
                                title: '<h3>Alert!</h3>',
                                content: 'Confirm Password does not much with New Password Please!',
                                type: 'orange',
                                typeAnimated: true,
                                boxWidth: '30%',
                                useBootstrap: false,
                                closeIcon: true,
                                buttons: {
                                    close: {
                                        text: 'Close',
                                        btnClass: 'btn-gray',
                                        action: function () {
                                        }
                                    }
                                }
                            });
                         }
                     }
                 }
            }
        } else {
             id_new_password = $('#id_new_password').val();
             id_confirm_password = $('#id_confirm_password').val();

             if(id_confirm_password === id_new_password){
                var user_name = $('#id_username').val();
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: {
                        new_password: id_new_password,
                        user_name: user_name,
                        user_id: user_id
                    },
                    url: '{% url 'saveNewPassword' %}',
                    success: function (resp) {
                        $('.login-in-home-pane').html(resp);
                    }
                });
             }else{
                $.confirm({
                    title: '<h3>Alert!</h3>',
                    content: '<b>Confirm Password</b> does not much with <b>New Password Please</b>!',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '35%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
             }
        }
    });

    $('#id_username').on('input', function () {
        $('#id_username').css({"border": '1px solid #ced4da;'});
    });

    $('#id_new_password').on('input', function () {
        $('#id_new_password').css({"border": '1px solid #ced4da'});
    });

    $('#id_confirm_password').on('input', function () {
        $('#id_confirm_password').css({"border": '1px solid #ced4da'});
    });

    $('#id_new_password').keyup(function () {
        var pswd = $(this).val();

        //validate the length
        if (pswd.length < 8) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }

        //validate letter
        if (pswd.match(/[A-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }

        //validate capital letter
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }

        //validate number
        if (pswd.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }

        //validate space
        if (pswd.match(/[^a-zA-Z0-9\-\/]/)) {
            $('#space').removeClass('invalid').addClass('valid');
        } else {
            $('#space').removeClass('valid').addClass('invalid');
        }
        if (pswd.length >= 5 && pswd.match(/[A-z]/) && pswd.match(/\d/) && pswd.match(/[^a-zA-Z0-9\-\/]/) && pswd.match(/[A-Z]/)) {
            document.getElementById('btnSaveNewPassword').disabled = false;
        } else {
            document.getElementById('id_new_password').style.borderColor = 'red';
            document.getElementById('btnSaveNewPassword').disabled = true;
        }
    }).focus(function () {
        $('#pswd_info').show();
    }).blur(function () {
        $('#pswd_info').hide();
    });

</script>
{% endblock %}
