<!DOCTYPE html>

<html lang="en">

<head>

    <title>{% block title %}Sybyl Service Desk{% endblock %}</title>

    {% include 'head.html' %}
    <div id=content>
        {% block content %}

        {% endblock %}
    </div>
    {% block additional_javascript %}{% endblock %}
    {% include 'bottom.html' %}

    <script>
        $('#listBranchContacts').DataTable({});
        $('#listEmails').DataTable({});
        $('#listBranches').DataTable( {});
        $('#table_status').DataTable();
        $('#table_priorities').DataTable();
        $('#table_category').DataTable();
        $('#table_conpanies').DataTable();
        $('#table_domains').DataTable();
        $('#table_branch_list').DataTable();
        $('#table_system_modules').DataTable();
        $('#table_users').DataTable();
        $('#groupList2').DataTable();


        var modelList = [];
        $('.model_row_class').each(function () {
            var mid = $(this).data('modelid');
            modelList.push({id: mid});
        });

        for (var i = 0; i < modelList.length; i++) {
            modelid = modelList[i].id;
            functionPermissions(modelid);
        }

        function functionPermissions(modelid) {
            urldata = "{% url 'permissionCount'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    modelid: modelid
                },
                url: urldata,
                success: function (data) {
                    $('#model_id' + modelid).text(data.pcount);
                }
            });
        }

        function functAddDomain() {
            urldata = "{% url 'addDomain'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Domain</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditDomain(domainid, domainname) {
            urldata = "{% url 'updateDomain' 999%}".replace(999, domainid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    domainid: domainid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3><strong class="text-info">' + domainname + ' </strong> Domain</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteDomain(domainid, domainname, companycount) {
            urldata = "{% url 'deleteDomain' 999%}".replace(999, domainid);
            if (companycount > 0) {
                $.confirm({
                    title: 'Error!',
                    content: 'Can not Delete Domain with attached Companies.',
                    type: 'red',
                    boxWidth: '30%',
                    useBootstrap: false,
                    typeAnimated: true,
                    buttons: {
                        close: function () {
                        }
                    }
                });
            } else {
                $.confirm({
                    title: '<h4>Delete Domain: <strong class="text-danger">' + domainname + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                location.href = urldata;
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

        function functionViewDomainCompanies(domainid, domainname) {
            urldata = "{% url 'companies' 999%}".replace(999, domainid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    domainid: domainid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Companies under <strong class="text-info">' + domainname + ' </strong> Domain.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAddCategory() {
            urldata = "{% url 'addCategory'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Category</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditCategory(categoryid, categoryname) {
            urldata = "{% url 'updateCategory' 999%}".replace(999, categoryid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    categoryid: categoryid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3><strong class="text-info">' + categoryname + ' </strong> Category</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteCategory(categoryid, categoryname, companycount) {
            urldata = "{% url 'deleteCategory' 999%}".replace(999, categoryid);
            if (companycount > 0) {
                $.confirm({
                    title: 'Error!',
                    content: 'Can not Delete Category with attached Companies.',
                    type: 'red',
                    boxWidth: '30%',
                    useBootstrap: false,
                    typeAnimated: true,
                    buttons: {
                        close: function () {
                        }
                    }
                });
            } else {
                $.confirm({
                    title: '<h4>Delete Category: <strong class="text-danger">' + categoryname + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                location.href = urldata;
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

        function functionViewCategoryCompanies(categoryid, categoryname) {
            urldata = "{% url 'categoryCompany' 999%}".replace(999, categoryid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    categoryid: categoryid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Companies under <strong class="text-info">' + categoryname + ' </strong> Category.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAddCompany() {
            urldata = "{% url 'addCompany'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Company</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditCompany(companyid, companyname) {
            urldata = "{% url 'updateCompany' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Update Company: <strong class="text-info">' + companyname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionViewCompaniesBranches(companyid, companyname) {
            urldata = "{% url 'companyBranchList' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Branches under <strong class="text-info">' + companyname + ' </strong>Company.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionManageCompany(companyid, companyname) {
            urldata = "{% url 'listCompanyBranches' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function functAddPriority() {
            urldata = "{% url 'addPriority'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Priority</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditPriority(pid, pname) {
            urldata = "{% url 'updatePriority' 999%}".replace(999, pid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    priorityid: pid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Priority: <strong class="text-info">' + pname + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeletePriority(pid, pname) {
            urldata = "{% url 'deletePriority' 999%}".replace(999, pid);
            $.confirm({
                title: '<h4>Delete Priority: <strong class="text-danger">' + pname + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functAddStatus() {
            urldata = "{% url 'addStatus'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Status</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditStatus(sid, sname) {
            urldata = "{% url 'updateStatus' 999%}".replace(999, sid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    statusid: sid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Status: <strong class="text-info">' + sname + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteStatus(sid, sname) {
            urldata = "{% url 'deleteStatus' 999%}".replace(999, sid);
            $.confirm({
                title: '<h4>Delete Status: <strong class="text-danger">' + sname + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functionManageSystemModule(mid, mname) {
            urldata = "{% url 'listModulePermissions' 999%}".replace(999, mid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    moduleid: mid, modulename: mname
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function funtFilterByApp() {
            var appname = document.getElementById("app_label_select_id").value;
            urldata = "{% url 'filterSystemModules'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    appname: appname
                },
                url: urldata,
                success: function (resp) {
                    $('.module_data_class').html(resp);

                    var modelList2 = [];
                    $('.model_row_class').each(function () {
                        var mid = $(this).data('modelid');
                        modelList2.push({id: mid});
                    });

                    for (var i = 0; i < modelList2.length; i++) {
                        modelid = modelList2[i].id;
                        functionPermissions(modelid);
                    }
                }
            });
        }

        function functAddNewUser() {
            urldata = "{% url 'addUser'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $('#dialog_user_reg').html(resp);

                    window.location = '#userFormModalDialog';
                    initDialog('modalDialog');
                }
            });
        }

        function functAddUserGroup() {
            urldata = "{% url 'addUserGroup'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add User Group</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditUserGroup(grp, grpextid) {
            urldata = "{% url 'updateUserGroup' 999%}".replace(999, grpextid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpextid: grpextid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Edit Group: <strong class="text-info">' + grp + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionManageUserGroup(grp, grpid) {
            urldata = "{% url 'manageUserGroups'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpid: grpid,
                    grp: grp
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);

                }
            });
        }

        function functAssignMemberAGroup() {
            window.location = '#userFormModalDialog';
            initDialog('modalDialog2');
        }

        function displaySearchResults() {
            document.getElementById("myDropdown").classList.add("showSearch");
        }

        function trim(x) {
            return x.replace(/^\s+|\s+$/gm, '');
        }

        function searchUser() {
            urldata = "{% url 'searchUnAssignedUsers'%}";
            var staff = trim($('#userSearch').val());
            var grpname = trim($('#group_name').val());
            var grpid = trim($('#group_id').val());
            var size = staff.length;
            if (size > 0) {
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: urldata,
                    data: {
                        searchValue: staff,
                        grp: grpname,
                        grpid: grpid
                    },
                    success: function (response) {
                        $('#myDropdown').html(response);
                    }
                });
            } else {
                $('#myDropdown').html('');
            }
        }

        function clearSearchResult() {
            document.getElementById('searchResults').style.display = 'none';
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("search-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('showSearch')) {
                        openDropdown.classList.remove('showSearch');
                    }
                }
            }
        };

        function functAddNewProject() {
            urldata = "{% url 'addProject'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $('#dialog_create_project').html(resp);

                    window.location = '#projectFormModalDialog';
                    initDialog('modalDialog');
                }
            });
        }

        function functAddProjectTeam() {
            urldata = "{% url 'addProjectTeam'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Project Team</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function editProjectTeam(teamid, teamname) {
            urldata = "{% url 'updateProjectTeam' 999%}".replace(999, teamid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    teamid: teamid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Team<strong class="text-info">' + teamname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function deleteProjectTeam(teamId, teamName) {
            urldata = "{% url 'deleteProjectTeam' 999%}".replace(999, teamId);
            $.confirm({
                title: '<h4>Delete ProjectTeam: <strong class="text-danger">' + teamName + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function addProjectTeamMember() {
            urldata = "{% url 'addProjectMember'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Project Team Member</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function deleteProjectMember(memberId, memberName) {
            urldata = "{% url 'deleteProjectMember' 999%}".replace(999, memberId);
            $.confirm({
                title: '<h4>Delete Project Member: <strong class="text-danger">' + memberName + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }
    </script>
