<!DOCTYPE html>

<html lang="en">

<head>

    <title>{% block title %}Sybyl Service Desk{% endblock %}</title>

    {% include 'head.html' %}
    <div id=content>
        {% block content %}

        {% endblock %}
    </div>
    {% block additional_javascript %}{% endblock %}
    {% include 'bottom.html' %}

    <script>

        // update project attributes
        $(document).ready(function() {
            jscolor.installByClassName("jscolor");
        });

        $('#listBranchContacts').DataTable({});
        $('#listEmails').DataTable({});
        $('#listBranches').DataTable({});
        $('#table_status').DataTable();
        $('#table_priorities').DataTable();
        $('#table_category').DataTable();
        $('#table_conpanies').DataTable();
        $('#table_domains').DataTable();
        $('#table_branch_list').DataTable();
        $('#table_system_modules').DataTable();
        $('#table_users').DataTable();
        $('#groupList2').DataTable();
        $('#table_system_modules2').DataTable();

        function loadURL(url, params, responseDiv, method) {
            $.ajax({
                type: method,
                url: url + '?' + params,
                success: function (response) {
                    $('.body-card-sidebar').addClass('side-bar-off');
                    $('.' + responseDiv).html(response);
                }
            });
        }

        function functAddDomain() {
            urldata = "{% url 'addDomain'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Domain</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditDomain(domainid, domainname) {
            urldata = "{% url 'updateDomain' 999%}".replace(999, domainid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    domainid: domainid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3><strong class="text-info">' + domainname + ' </strong> Domain</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteDomain(domainid, domainname, companycount) {
            urldata = "{% url 'deleteDomain' 999%}".replace(999, domainid);
            if (companycount > 0) {
                $.confirm({
                    title: 'Error!',
                    content: 'Can not Delete Domain with attached Companies.',
                    type: 'red',
                    boxWidth: '30%',
                    useBootstrap: false,
                    typeAnimated: true,
                    buttons: {
                        close: function () {
                        }
                    }
                });
            } else {
                $.confirm({
                    title: '<h4>Delete Domain: <strong class="text-danger">' + domainname + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                location.href = urldata;
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

        function functionViewDomainCompanies(domainid, domainname) {
            urldata = "{% url 'companies' 999%}".replace(999, domainid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    domainid: domainid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Companies under <strong class="text-info">' + domainname + ' </strong> Domain.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAddCategory() {
            urldata = "{% url 'addCategory'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Category</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditCategory(categoryid, categoryname) {
            urldata = "{% url 'updateCategory' 999%}".replace(999, categoryid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    categoryid: categoryid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3><strong class="text-info">' + categoryname + ' </strong> Category</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteCategory(categoryid, categoryname, companycount) {
            urldata = "{% url 'deleteCategory' 999%}".replace(999, categoryid);
            if (companycount > 0) {
                $.confirm({
                    title: 'Error!',
                    content: 'Can not Delete Category with attached Companies.',
                    type: 'red',
                    boxWidth: '30%',
                    useBootstrap: false,
                    typeAnimated: true,
                    buttons: {
                        close: function () {
                        }
                    }
                });
            } else {
                $.confirm({
                    title: '<h4>Delete Category: <strong class="text-danger">' + categoryname + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                location.href = urldata;
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

        function functionViewCategoryCompanies(categoryid, categoryname) {
            urldata = "{% url 'categoryCompany' 999%}".replace(999, categoryid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    categoryid: categoryid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Companies under <strong class="text-info">' + categoryname + ' </strong> Category.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAddCompany() {
            urldata = "{% url 'addCompany'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Company</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditCompany(companyid, companyname) {
            urldata = "{% url 'updateCompany' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Update Company: <strong class="text-info">' + companyname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionViewCompaniesBranches(companyid, companyname) {
            urldata = "{% url 'companyBranchList' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Branches under <strong class="text-info">' + companyname + ' </strong>Company.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionManageCompany(companyid, companyname) {
            urldata = "{% url 'listCompanyBranches' 999%}".replace(999, companyid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    companyid: companyid
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function functAddPriority() {
            urldata = "{% url 'addPriority'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Priority</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditPriority(pid, pname) {
            urldata = "{% url 'updatePriority' 999%}".replace(999, pid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    priorityid: pid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Priority: <strong class="text-info">' + pname + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeletePriority(pid, pname) {
            urldata = "{% url 'deletePriority' 999%}".replace(999, pid);
            $.confirm({
                title: '<h4>Delete Priority: <strong class="text-danger">' + pname + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functAddStatus() {
            urldata = "{% url 'addStatus'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Status</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditStatus(sid, sname) {
            urldata = "{% url 'updateStatus' 999%}".replace(999, sid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    statusid: sid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Status: <strong class="text-info">' + sname + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteStatus(sid, sname) {
            urldata = "{% url 'deleteStatus' 999%}".replace(999, sid);
            $.confirm({
                title: '<h4>Delete Status: <strong class="text-danger">' + sname + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functionManageSystemModule(mid, mname) {
            urldata = "{% url 'listModulePermissions' 999%}".replace(999, mid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    moduleid: mid, modulename: mname
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function funtFilterByApp() {
            var appname = document.getElementById("app_label_select_id").value;
            urldata = "{% url 'filterSystemModules'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    appname: appname
                },
                url: urldata,
                success: function (resp) {
                    $('.module_data_class').html(resp);

                    var modelList2 = [];
                    $('.model_row_class').each(function () {
                        var mid = $(this).data('modelid');
                        modelList2.push({id: mid});
                    });

                    for (var i = 0; i < modelList2.length; i++) {
                        modelid = modelList2[i].id;
                        functionPermissions(modelid);
                    }
                }
            });
        }

        function functAddNewUser() {
            urldata = "{% url 'addUser'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $('#dialog_user_reg').html(resp);

                    window.location = '#userFormModalDialog';
                    initDialog('modalDialog');
                }
            });
        }

        function functAddUserGroup() {
            urldata = "{% url 'addUserGroup'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add User Group</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAddGlobalUserGroup() {
            urldata = "{% url 'addGlobalUserGroup'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add User Group</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditUserGroup(grp, grpextid) {
            urldata = "{% url 'updateUserGroup' 999%}".replace(999, grpextid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpextid: grpextid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Edit Group: <strong class="text-info">' + grp + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionEditUserGroupGlobal(grp, grpextid) {
            urldata = "{% url 'updateUserGlobalGroup' 999%}".replace(999, grpextid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpextid: grpextid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Edit Group: <strong class="text-info">' + grp + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionManageUserGroup(grp, grpid) {
            urldata = "{% url 'manageUserGroups'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpid: grpid,
                    grp: grp
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);

                }
            });
        }

        function functionManageGlobalUserGroup(grp, grpid) {
            urldata = "{% url 'manageUserGlobalGroups'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpid: grpid,
                    grp: grp
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);

                }
            });
        }

        function functAssignMemberAGroup() {
            window.location = '#userFormModalDialog';
            initDialog('modalDialog2');
        }

        function functAssignMemberAGlobalGroup() {
            window.location = '#user2FormModalDialog';
            initDialog('modalDialog2');
        }

        function displaySearchResults() {
            document.getElementById("myDropdown").classList.add("showSearch");
        }

        function trim(x) {
            return x.replace(/^\s+|\s+$/gm, '');
        }

        function searchUser() {
            urldata = "{% url 'searchUnAssignedUsers'%}";
            var staff = trim($('#userSearch').val());
            var grpname = trim($('#group_name').val());
            var grpid = trim($('#group_id').val());
            var size = staff.length;
            if (size > 0) {
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: urldata,
                    data: {
                        searchValue: staff,
                        grp: grpname,
                        grpid: grpid
                    },
                    success: function (response) {
                        $('#myDropdown').html(response);
                    }
                });
            } else {
                $('#myDropdown').html('');
            }
        }

        function searchGlobalUser() {
            urldata = "{% url 'searchUnAssignedGlobalUsers'%}";

            var staff = trim($('#userSearch').val());
            var grpname = trim($('#group_name').val());
            var grpid = trim($('#group_id').val());
            var size = staff.length;

            if (size > 0) {
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: urldata,
                    data: {
                        searchValue: staff,
                        grp: grpname,
                        grpid: grpid
                    },
                    success: function (response) {
                        $('#myDropdown').html(response);
                    }
                });
            } else {
                $('#myDropdown').html('');
            }
        }

        function clearSearchResult() {
            document.getElementById('searchResults').style.display = 'none';
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("search-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('showSearch')) {
                        openDropdown.classList.remove('showSearch');
                    }
                }
            }
        };

        function functAddNewProject() {
            urldata = "{% url 'addProject'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $('#dialog_create_project').html(resp);

                    window.location = '#projectFormModalDialog';
                    initDialog('modalDialog');
                }
            });
        }


        function functionManageGroupPermissions(grp, grpid) {
            urldata = "{% url 'manageGroupPermissions'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpid: grpid,
                    grp: grp
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function functionManageGroupPermissions2(grp, grpid) {
            urldata = "{% url 'manageGlobalGroupPermissions'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    grpid: grpid,
                    grp: grp
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function editProjectTeam(teamid, teamname) {
            urldata = "{% url 'updateProjectTeam' 999%}".replace(999, teamid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    teamid: teamid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Team: <strong class="text-info">' + teamname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functAssignPermissionsAGroup(grpid, grp) {
            urldata = "{% url 'assignPermissionsToGroup'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {grpid: grpid, grp: grp},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Assign Group Permissions to Group: <span class="text-info">' + grp + '</span>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '90%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function deleteProjectTeam(teamId, teamName, teamNum) {
            urldata = "{% url 'deleteProjectTeam' 999%}".replace(999, teamId);
            if (teamNum == 0){
                $.confirm({
                title: '<h4>Delete ProjectTeam: <strong class="text-danger">' + teamName + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
            }
            else{
                $.alert({
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    theme: 'modern',
                    title: 'Alert!',
                    icon: 'fa fa-exclamation-circle',
                    content: 'Cannot delete project team since it has members!',
                    confirm: function(){
                        alert('Confirmed!');
                    }
                });
            }

        }

        function functionDeleteGroupPermission(pid, pname, grpid, groupname) {
            urldata = "{% url 'deleteGroupPermission'%}";
            $.confirm({
                title: '<h4>Remove Group Permission: <strong class="text-danger">"' + pname + ' "</strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'Remove',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    pid: pid,
                                    grpname: groupname,
                                    grpid: grpid
                                },
                                url: urldata,
                                success: function (resp) {
                                    $('.page-wrapper').html(resp);
                                }
                            });
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functionDeleteGroup(grp, grpextid, percount, usercount, grpid) {
            if (percount > 0 || usercount > 0) {
                if (percount > 0 && usercount > 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Users</strong> and <strong>Permissions</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
                if (percount > 0 && usercount == 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Permissions</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
                if (usercount > 0 && percount == 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Users</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            } else {
                urldata = 'url'
                $.confirm({
                    title: '<h4>Delete Group: <strong class="text-danger">' + grp + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                urldata = "{% url 'deleteUserGroup'%}";
                                $.ajax({
                                    type: "GET",
                                    cache: false,
                                    data: {
                                        grpid: grpid,
                                        grpextid: grpextid
                                    },
                                    url: urldata,
                                    success: function (resp) {
                                        $('.table-responsive').html(resp);
                                    }
                                });
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

        function editRole(roleId, roleName) {
            urldata = "{% url 'updateRole' 999%}".replace(999, roleId);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    roleid: roleId
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Update Role: <strong class="text-info">' + roleName + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function deleteRole(roleId, roleName) {
            urldata = "{% url 'deleteRole' 999%}".replace(999, roleId);
            $.confirm({
                title: '<h4>Delete Role: <strong class="text-danger">' + roleName + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function addRoleFunction() {
            urldata = "{% url 'addRole'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add New Role</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function viewTeamMembers(team_id, teamName) {
            urldata = "{% url 'detailProjectTeamMembers'%}";

            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    tid: team_id,
                    teamName: teamName
                },
                url: urldata,
                success: function (resp) {
                    $('.page-wrapper').html(resp);
                }
            });
        }

        function editProjectTeamMember(memberid, memberName) {

            urldata = "{% url 'updateProjectTeamMember' 999%}".replace(999, memberid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    memberid: memberid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Member: <strong class="text-info">' + memberName + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        theme: 'material',
                        typeAnimated: true,
                        boxWidth: '50%',
                        height: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function deleteProjectTeamMember(memberid, membername, teamid, teamname) {
            urldata = "{% url 'deleteProjectTeamMember'%}";
            $.confirm({
                title: '<h4>Remove Member: <strong class="text-danger">"' + membername + ' "</strong>! from Team</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'Remove',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                type: "GET",
                                cache: false,
                                data: {
                                    memberid: memberid,
                                    teamname: teamname,
                                    teamid: teamid
                                },
                                url: urldata,
                                success: function (resp) {
                                    $('.page-wrapper').html(resp);
                                }
                            });
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functionDeleteGlobalGroup(grp, grpextid, percount, usercount, grpid) {
            if (percount > 0 || usercount > 0) {
                if (percount > 0 && usercount > 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Users</strong> and <strong>Permissions</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
                if (percount > 0 && usercount == 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Permissions</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
                if (usercount > 0 && percount == 0) {
                    $.confirm({
                        title: '<h3>Alert.</h3>',
                        content: 'Can not delete Group: <strong class="text-info">' + grp + '</strong>, it has attached <strong>Users</strong>.',
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-warning',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            } else {
                urldata = 'url'
                $.confirm({
                    title: '<h4>Delete Group: <strong class="text-danger">' + grp + ' </strong>!</h4>',
                    content: '',
                    type: 'red',
                    typeAnimated: true,
                    boxWidth: '40%',
                    useBootstrap: false,
                    theme: 'modern',
                    icon: 'fa fa-exclamation-circle',
                    buttons: {
                        formSubmit: {
                            text: 'OK',
                            btnClass: 'btn-blue',
                            action: function () {
                                urldata = "{% url 'deleteGlobalUserGroup'%}";
                                $.ajax({
                                    type: "GET",
                                    cache: false,
                                    data: {
                                        grpid: grpid,
                                        grpextid: grpextid
                                    },
                                    url: urldata,
                                    success: function (resp) {
                                        $('.table-responsive').html(resp);
                                    }
                                });
                            }
                        },
                        close: {
                            text: 'Cancel',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        }

    //     function functAddIncident() {
    //     urldata = "{% url 'addIncident'%}";
    //     $.ajax({
    //         type: "GET",
    //         cache: false,
    //         data: {},
    //         url: urldata,
    //         success: function (resp) {
    //             $('#dialog_create_incident').html(resp);

    //             window.location = '#incidentFormModalDialog';
    //             initDialog('modalDialog');
    //         }
    //     });
    // }
        
    </script>
