<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-label">Home</li>
        <li>
          <a href="#"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
        </li>
        <li class="nav-label">Main Menu</li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Projects
              <!--span class="label label-rouded label-warning pull-right">12</span></span--></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'project_list' %}">Ongoing
                <!--span class="label label-rouded label-warning pull-right">6</span--></a></li>
            <li><a href="{% url 'complete_project_list' %}">Complete & Closed
                <!--span class="label label-rouded label-warning pull-right">6</span--></a></li>
            <li><a href="{% url 'terminated_project_list' %}">Terminated
                <!--span class="label label-rouded label-warning pull-right">6</span--></a></li>
            <li><a href="{% url 'new_project' %}">New</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Milestones</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'milestone_list' %}">Project Milestones</a></li>
            <li><a href="{% url 'new_milestone' %}">New</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Tasks</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'task_list' %}">For Milestone</a></li>
            <li><a href="{% url 'new_task' %}">New</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Incidents</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'incidents' %}">For Project</a></li>
            <li><a href="{% url 'milestoneIncidents' %}">For Milestone</a></li>
            <li><a href="{% url 'taskIncidents' %}">For Task</a></li>
            <li><a href="{% url 'newIncident' %}">New</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Reports</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#">Project Status</a></li>
            <li><a href="#">Milestones</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Incidents</a></li>
          </ul>
        </li>
        <li class="nav-label">User Management</li>
                <li>
                  <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Users</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listUsers' %}">List of Users</a></li>
                    <li><a href="{% url 'addUser' %}">Add User</a></li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">User Groups</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listUserGroups' %}">List of User Groups</a></li>
                    <li><a href="{% url 'addUserGroup' %}">Add User Group</a></li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">User Teams</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listTeams' %}">List of User Teams</a></li>
                    <li><a href="{% url 'addTeam' %}">Add User Team</a></li>
                    <li><a href="{% url 'addUserToTeam' %}">Add User to Team</a></li>
                    <li><a href="{% url 'teams' %}">View Team Members</a></li>
                  </ul>
                </li>
                <li class="nav-label">Company Management</li>
                <li>
                  <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Companies</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listCompanies' %}">List of Companies</a></li>
                    <li><a href="{% url 'addCompany' %}">Add Company</a></li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Company Branches</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listBranches' %}">List of Branches</a></li>
                    <li><a href="{% url 'addBranch' %}">Add Company Branch</a></li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Departments Master</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="{% url 'listDepartments' %}">List of Departments</a></li>
                    <li><a href="{% url 'addDepartment' %}">Add Department</a></li>
                  </ul>
                </li>
        <!--li class="nav-label">User Management</li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Users</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listUsers' %}">List of Users</a></li>
            <li><a href="{% url 'addUser' %}">Add User</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">User
              Teams</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listUserGroups' %}">List of Teams</a></li>
            <li><a href="{% url 'addUserGroup' %}">Add Users to Teams</a></li>
          </ul>
        </li>

        <li class="nav-label">Company Management</li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Companies</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listCompanies' %}">List of Companies</a></li>
            <li><a href="{% url 'addCompany' %}">Add Company</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Company
              Branches</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listBranches' %}">List of Branches</a></li>
            <li><a href="{% url 'addBranch' %}">Add Company Branch</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Departments
              Master</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listDepartments' %}">List of Departments</a></li>
            <li><a href="{% url 'addDepartment' %}">Add Department</a></li>
          </ul>
        </li>
        <li class="nav-label">Access Control</li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Roles</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listUsers' %}">List of Roles</a></li>
            <li><a href="{% url 'addUser' %}">Add Role</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Features</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'listUserGroups' %}">List of Features</a></li>
            <li><a href="{% url 'addUserGroup' %}">Add Features to Roles</a></li>
          </ul>
        </li-->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->