<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" style="max-height: 590px; overflow-y: scroll; scrollbar-width: thin;">
                <li class="nav-devider"></li>
                <li class="nav-label">Home - <span class="text-info">{{ request.session.company }} : {{ request.session.department }}</span></li>
                <li>
                    <a href="{% url 'home' %}"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>

                {% for section in sections %}
                    <li class="nav-label">{{ section.name }}</li>
                    {% for menu in menus %}
                        {% if menu.section.id == section.id %}
                            <li>
                                <a class="has-arrow  " href="#" aria-expanded="false"><i
                                        class="fa fa-envelope"></i><span class="hide-menu">
                {{ menu.name }}
                                    <!--span class="label label-rouded label-warning pull-right">12</span></span--></a>
                                <ul aria-expanded="false" class="collapse">
                                    {% for submenu in submenus %}
                                        {% if submenu.menu.id == menu.id %}
                                            <li><a href="{% url submenu.link %}"> {{ submenu.name }}
                                                <!--span class="label label-rouded label-warning pull-right">6</span--></a>
                                            </li>
                                        {% endif %}
                                    {% empty %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% empty %}
                    {% endfor %}

                {% empty %}
                {% endfor %}

                <li class="nav-label">Main Menu</li>
                
                {% if perms.project_management.add_project or perms.project_management.view_project or perms.project_management.delete_project or perms.project_management.change_project %}
                    <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span
                            class="hide-menu">Projects
                        <!--span class="label label-rouded label-warning pull-right">12</span></span--></a>
                {% endif %}

                <ul aria-expanded="false" class="collapse">
                    {% if perms.project_management.view_project %}
                        <li><a href="{% url 'listProjects' %}">Projects List</a></li>
                    {% endif %}

                    <li><a href="{% url 'listProjectTeams' %}">Project Teams</a></li>
                </ul>
                </li>

                {% if user.is_staff%}
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-clock-o"></i>
                        <span class="hide-menu">TIMESHEETS</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li onclick="">
                            <a href="{% url 'myTimesheets' %}" aria-expanded="false"><i class="fa fa-calendar-plus-o"></i>
                                <span class="hide-menu">Daily Timesheets </span>
                            </a>
                        </li>
                        {% if user.is_superuser%}
                            <li onclick="">
                                <a href="{% url 'approveTimesheets' %}" aria-expanded="false"><i class="fa fa-calendar-check-o"></i>
                                    <span class="hide-menu">Approvals </span>
                                </a>
                            </li>
                            <!-- <li onclick="">
                                <a href="{% url 'analyseAllTimesheets' %}" aria-expanded="false"><i class="fa fa-calendar"></i>
                                    <span class="hide-menu">Calender </span>
                                </a>
                            </li> -->

                            <li onclick="">
                                <a href="{% url 'timesheetWeeklyReport' %}" aria-expanded="false"><i class="fa fa-line-chart"></i>
                                    <span class="hide-menu">Weekly Review </span>
                                </a>
                            </li>

                            <li onclick="">
                                <a href="{% url 'timesheetProjectReport' %}" aria-expanded="false"><i class="fa fa-list-alt"></i>
                                    <span class="hide-menu">Project Timesheets </span>
                                </a>
                            </li>
                            <!-- <li onclick="">
                                <a href="{% url 'staffUtilization' %}" aria-expanded="false"><i class="fa fa-list-alt"></i>
                                    <span class="hide-menu">Staff Utilization </span>
                                </a>
                            </li> -->
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span
                            class="hide-menu">Milestones</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% url 'milestone_list' %}">Project Milestones</a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span
                            class="hide-menu">Tasks</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{% url 'task_list' %}">Task List</a></li>
                    </ul>
                </li>

                <!-- {% if perms.project_management.add_incident or perms.project_management.view_incident or perms.project_management.delete_incident or perms.project_management.change_incident %}
                    <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span
                            class="hide-menu">Incidents</span></a>
                {% endif %}
                <ul aria-expanded="false" class="collapse">
                    {% if perms.project_management.view_incident %}
                        <li><a href="{% url 'listIncidents' %}">List of Incidents</a></li>
                    {% endif %}
                </ul>
                </li>

                {% if user.is_superuser %}
                    <li>
                        <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span
                                class="hide-menu">Reports</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="#">Project Status</a></li>
                            <li><a href="#">Milestones</a></li>
                            <li><a href="#">Tasks</a></li>
                            <li><a href="#">Incidents</a></li>
                        </ul>
                    </li>
                {% endif %} -->

                {% if perms.user_management.add_user or perms.user_management.view_user or perms.user_management.delete_user or perms.user_management.change_user %}
                    <li class="nav-label">User Management</li>

                {% endif %}
                {% if perms.user_management.view_user or perms.user_management.add_user %}
                    <li><a href="{% url 'listUsers' %}"><i class="fa fa-suitcase"></i>
                        <span class="hide-menu">
                                Users
                            </span></a>
                    </li>
                {% endif %}
                </li>

                {% if user.is_staff%}
                    {% if user.is_superuser %}
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span
                                    class="hide-menu">User Groups</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listUserGroups' %}">User Groups</a></li>
                                <li><a href="{% url 'manageGlobalGroups' %}">Group Management</a></li>
                            </ul>
                        </li>

                        <li><a href="{% url 'listModules' %}"><i class="fa fa-key"></i> Access Rights</a></li>

                        <li class="nav-label">Company Management</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span
                                    class="hide-menu">Companies</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listCompanies' %}"><i class="fa fa-tasks"></i> List of Companies</a></li>
                                <li><a href="{% url 'listDomains' %}"><i class="fa fa-tasks"></i> Company Domains</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span
                                    class="hide-menu">Company
                Branches</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listBranches' %}">List of Branches</a></li>
                                <li><a href="{% url 'addBranch' %}">Add Company Branch</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span
                                    class="hide-menu">Branch
                Contacts</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listBranchContacts' %}">List of Branch Contacts</a></li>
                                <li><a href="{% url 'addBranchContacts' %}">Add Branch Contacts</a></li>
                                <li><a href="{% url 'listBranchEmails' %}">List of Branch Emails</a></li>
                                <li><a href="{% url 'addBranchEmails' %}">Add Branch Emails</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i>
                            <span class="hide-menu">Departments Master</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listDepartments' %}">List of Departments</a></li>
                                <li><a href="{% url 'addDepartment' %}">Add Department</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="fa fa-cogs"></i>
                                <span class="hide-menu">SETTINGS</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'listCategories' %}"><i class="fa fa-list-alt"></i> Company Categories</a></li>
                                <li><a href="{% url 'listAllPriorities' %}"><i class="fa fa-list"></i> Priorities</a></li>
                                <li><a href="{% url 'listAllStatuses' %}"><i class="fa fa-list"></i> Statuses</a></li>
                                <li><a href="{% url 'listAllRoles' %}"><i class="fa fa-list"></i> Member Roles</a></li>
                                <li><a href="{% url 'listCodeFormat' %}"><i class="fa fa-list"></i> Project Code Format</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-envelope-square"></i>
                                <span class="hide-menu">CHAT</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li onclick="loadURL('{% url 'directMessages' %}', '', 'page-wrapper', 'GET');">
                                    <a href="#" aria-expanded="false"><i class="fa fa-envelope"></i>
                                        <span class="hide-menu">Direct SMS </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        

                        <!-- <li class="">
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-clock-o"></i>
                                <span class="hide-menu">Planning/Schedules</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li onclick="">
                                    <a href="{% url 'schedulePlan' %}" aria-expanded="false"><i class="fa fa-calendar-o"></i>
                                        <span class="hide-menu">Schedule Plan </span>
                                    </a>
                                </li>
                            </ul>
                        </li> -->
                    {% endif %}

                    <li><a href="{% url 'listauditlogs' %}"><i class="fa fa-info"></i> Audit Logs</a></li>
                    
                {% endif%}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->
