{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
{% include 'header.html' %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center"><h2>Sign up</h2></div>
        <hr class="" />
    
        <div class="row">
            <div class="col-6">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.gender|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.company|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.branch|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.department|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.usergroup|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.category|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.username|as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
    
        <div>
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </form>
    <hr/>
</div>
{% include 'footer.html' %}
{% endblock %}