{% load crispy_forms_tags %}

<div class="col-12">
	<div class="card-body">
		<div class="basic-form">
			<form method="post" action="{% url 'addDepartment' %}">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						{{ form.name|as_crispy_field }}
						<medium id="validate_department_name" class="text-muted hidden">
							<font color="red">
								Department Name Already Exists!
							</font>
						</medium>
					</div>
					<div class="col-md-12">{{ form.company|as_crispy_field }}</div>
				</div>
				<br>
				<div class="row">
					<div class="col-1">
						<button type="submit" class="btn btn-success btn-submit">Add Department</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$("#div_id_company").removeClass('form-group');

	$('#id_company').attr('autocomplete', 'off');
	$('#id_company').removeAttr('multiple', "");
	$('#id_company').attr('data-live-search', 'true');
	$('#id_company').selectpicker({
		size: 3,
	});

	$("#id_name").attr('autocomplete', 'off');

	$('#id_name').on('input', function () {
		document.getElementById('id_name').style.borderColor = "";
		document.getElementById("btn-submit").disabled = false;
		$("#validate_department_name").hide();
		

		var dept_name = $(this).val();

		if (dept_name == ""){
			document.getElementById('id_name').style.borderColor = "";
			document.getElementById("btn-submit").disabled = false;
			$("#validate_department_name").hide();
		}else{
			$.ajax({
				url: "{% url 'validateDepartment' %}",
				data: {
					'dept_name': dept_name,
				},
				dataType: 'json',
				success: function (data) {
					if (data.is_taken) {
						$("#validate_department_name").show();
						document.getElementById('id_name').style.borderColor = "red";
						document.getElementById("btn-submit").disabled = true;
					} 
					else {
						$("#validate_department_name").hide();
						document.getElementById('id_name').style.borderColor = "";
						document.getElementById("btn-submit").disabled = false;
					}
				}
			});

		}
		
	});
</script>