{% load crispy_forms_tags %}

<div class="col-md-12">	
	<div class="card-body">
		<div class="basic-form">
			<form method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">{{ form.branch | as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-12">{{ form.email_address|as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-12">{{ form.secondary_email | as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button type="submit" class="col-md-6 btn btn-success">Add Email</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$("#id_email_address").prop('required',true);

	function IsEmail(emailInput) {
		var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		if(!regex.test(emailInput)) {
			return false;
		}else{
			return true;
		}
	}

	$('#id_email_address').on('input', function () {
		document.getElementById('id_email_address').style.borderColor = "";
		document.getElementById("btn-submit-branch").disabled = false;
		$("#validate_email").hide();
		$("#invalid_email").hide();
		$("#id_email_address").attr('autocomplete', 'off');

		var email_address = $(this).val();

		if (email_address == ""){
			document.getElementById('id_email_address').style.borderColor = "";
			document.getElementById("btn-submit-branch").disabled = false;
			$("#validate_email").hide();
			$("#invalid_email").hide();
		}else{
			if(IsEmail(email_address)){
				$.ajax({
					url: "{% url 'validateEmail' %}",
					data: {
						'email_address': email_address,
					},
					dataType: 'json',
					success: function (data) {
						if (data.is_taken) {
							$("#validate_email").show();
							document.getElementById('id_email_address').style.borderColor = "red";
							document.getElementById("btn-submit-branch").disabled = true;
						} 
						else {
							$("#validate_email").hide();
							document.getElementById('id_email_address').style.borderColor = "";
							document.getElementById("btn-submit-branch").disabled = false;
						}
					}
				});
			}
			else{
				$("#invalid_email").show();
				document.getElementById('id_email_address').style.borderColor = "red";
				document.getElementById("btn-submit-branch").disabled = true;
			}

		}
		
	});
</script>