{% load crispy_forms_tags %}
<div class="col-12">
	<div class="card-body">
		<div class="basic-form">
				<div class="row">
					<div class="col-sm">
						<p class="text-muted m-b-15 f-s-12">Branch Name</p>
						<input type="text" class="form-control input-flat"
							value="{{ branch.name }}" disabled>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm">
						<p class="text-muted m-b-15 f-s-12">Company</p>
						<input type="text" class="form-control input-flat"
							value="{{ branch.company }}" disabled>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm">
						<p class="text-muted m-b-15 f-s-12">Location</p>
						<input type="text" class="form-control input-flat"
							value="{{ branch.location }}" disabled>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm">
						<p class="text-muted m-b-15 f-s-12">Created_time</p>
						<input type="text" class="form-control input-flat"
							value="{{ branch.created_time }}" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>