{% load crispy_forms_tags %}

<div class="col-12">	
	<div class="card-body">
		<div class="basic-form">
			<div class="row">
				<div class="col-sm col-md-12">
					<p class="text-muted m-b-15 f-s-12">Branch Name</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_phone_contacts.branch}}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm col-md-12">
					<p class="text-muted m-b-15 f-s-12">Primary Contact</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_phone_contacts.phone_number }}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm col-md-12">
					<p class="text-muted m-b-15 f-s-12">Secondary Contact</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_phone_contacts.secondary_number }}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm col-md-12">
					<p class="text-muted m-b-15 f-s-12">Created Time</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_phone_contacts.created_time }}" disabled>
				</div>
			</div>
		</div>
	</div>
</div>