{% load crispy_forms_tags %}

<div class="col-md-12">
	<div class="card-body">
		<div class="basic-form">
			<div class="row">
				<div class="col-sm">
					<p class="text-muted m-b-15 f-s-12">Branch name</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_emails.branch}}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm">
					<p class="text-muted m-b-15 f-s-12">Email</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_emails.email_address }}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm">
					<p class="text-muted m-b-15 f-s-12">Secondary Email</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_emails.secondary_email }}" disabled>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm">
					<p class="text-muted m-b-15 f-s-12">Created Time</p>
					<input type="text" class="form-control input-flat"
						value="{{ branch_emails.created_time }}" disabled>
				</div>
			</div>
		</div>
	</div>
</div>