{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% include 'header.html' %}
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">List of Branches</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Branches</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="" class="btn btn-info pull-right" onclick="functAddBranch();">
                                        <i class="fa fa-fw fa-lg fa-plus"></i>Add Branch
                                    </button>
                                </div>
                            </div>
                            <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                            <div class="table-responsive">
                                <table class="display nowrap table table-hover" cellspacing="0" width="100%" id="listBranches">
                                    <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Company</th>
                                            <th>Location</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for branch in all_branches %}
                                          <tr>
                                              <td>{{ branch.name }}</td>
                                              <td>{{ branch.company }}</td>
                                              <td>{{ branch.location }}</td>
                                              <td>
                                                <button onclick="functDetailBranch({{ branch.id }}, '{{ branch.name }}')"  id="" class="btn btn-outline-success btn-sm" type="button">
                                                    <i title="View Branch Details" class="fa fa-dedent"></i>
                                                </button>
                                                <button onclick="functUpdateBranch({{ branch.id }}, '{{ branch.name }}')"  id="" class="btn btn-outline-success btn-sm" type="button">
                                                    </i><i title="Edit Branch" class="fa fa-edit"></i>
                                                </button>
                                              </td>
                                          </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>							
                        </div>
                    </div>
            {% include 'footer.html' %}
            <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->
    
    <script>
        function functAddBranch(){
            urldata = "{% url 'addBranch' %}";
            
            $.ajax({
                type: 'GET',
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add Branch</h3>',
                        content: '' + resp,
                        type: 'blue',
                        theme: 'material',
                        typeAnimated: true,
                        boxWidth: '60%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });     
        }

        $("#id_email_address").attr('autocomplete', 'off');

        function functDetailBranch(branchid, branchname) {
            urldata = "{% url 'detailsBranch' 999%}".replace(999, branchid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    branchid: branchid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Details Branch: <strong class="text-info">' + branchname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functUpdateBranch(branchid, branchname) {
            urldata = "{% url 'updateBranch' 999%}".replace(999, branchid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    branchid: branchid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Update Branch: <strong class="text-info">' + branchname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
    </script>
</div>
{% endblock %}
