{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% include 'header.html' %}
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">List of Branches</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Branch Phone Contacts</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="" class="btn btn-info pull-right" onclick="functAddContact();">
                                        <i class="fa fa-fw fa-lg fa-plus"></i>Add Branch Contact
                                    </button>
                                </div>
                            </div>
                            <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                            <div class="table-responsive">
                                {% if branch_phone_contacts %}
                                <table class="display nowrap table table-hover" cellspacing="0" width="100%" id="listBranchContacts">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Branch name</th>
                                            <th>Phone number</th>
                                            <th>Secondary_number</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for branch in branch_phone_contacts %}
                                          <tr>
                                              <td>{{ branch.branch.company }}</td>
                                              <td>{{ branch.branch }}</td>
                                              <td>{{ branch.phone_number }}</td>
                                              <td>{{ branch.secondary_number }}</td>
                                              <td>
                                                <button onclick="functDetailContacts({{ branch.id }}, '{{ branch.branch }}')"  id="" class="btn btn-outline-success btn-sm" type="button">
                                                    <i title="View Branch Details" class="fa fa-dedent"></i>
                                                </button>
                                                <button onclick="functUpdateContacts({{ branch.id }}, '{{ branch.branch }}')"  id="" class="btn btn-outline-success btn-sm" type="button">
                                                    </i><i title="Edit Branch" class="fa fa-edit"></i>
                                                </button>
                                              </td>
                                          </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <h5><span class="text-muted text-center"
                                        style="padding: 24%; font-size: 107%;"><strong>No Registered Branch Contacts</strong></span>
                                    </h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% include 'footer.html' %}
            <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->

    <script>
        function functAddContact(){
            urldata = "{% url 'addBranchContacts' %}";
            
            $.ajax({
                type: 'GET',
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add Branch Contact</h3>',
                        content: '' + resp,
                        type: 'blue',
                        theme: 'material',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });     
        }

        function functDetailContacts(contactid, branchname) {
            urldata = "{% url 'detailBranchContacts' 999%}".replace(999, contactid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    contactid: contactid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Contact Details for Branch: <strong class="text-info">' + branchname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functUpdateContacts(contactid, branchname) {
            urldata = "{% url 'updateBranchContacts' 999%}".replace(999, contactid);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    contactid: contactid
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Update Branch Contact for: <strong class="text-info">' + branchname + ' </strong></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
    </script>
</div>
{% endblock %}
