{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% include 'header.html' %}
    {% include 'left-nav.html' %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">List of Branches</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Branches</h4>
                            <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                            <div class="table-responsive">
                                <table class="display nowrap table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Company</th>
                                            <th>Location</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for branch in all_branches %}
                                          <tr>
                                              <td>{{ branch.name }}</td>
                                              <td>{{ branch.company }}</td>
                                              <td>{{ branch.location }}</td>
                                              <td>
                                                <a href="{% url 'detailsBranch' branch.id %}">View</a> &nbsp;
                                                <a href="{% url 'updateBranch' branch.id %}">Update</a> &nbsp;
                                                <a href="#"><i class="mdi mdi-delete font-30 align-middle mr-2"></i></a>
                                              </td>
                                          </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br />
							<div class="row">
								<div class="col-1">
									<a href="{% url 'addBranch' %}" class="btn btn-success">Add Branch</a>
								</div>
							</div>
                        </div>
                    </div>
            {% include 'footer.html' %}
            <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->

    </div>
    <!-- End Page wrapper  -->
</div>
{% endblock %}
