{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateCategory' categoryid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">
                    {{ form.category_value|as_crispy_field }}
                    <small id="validate_category_name2" class="text-muted hidden">
                        <font color="red">
                           Can't Update. Category Already Exits!
                        </font>
                    </small>
                </div>
                <div class="col-6">{{ form.description|as_crispy_field }}</div>
            </div>
            <div class="">
                <div class="col-md-12">
                    <button id="btnUpdateCategory" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update Domain
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#id_category_value').on('input', function () {
        var category__name = $(this).val();

        $.ajax({
            url: '{% url 'validateCategoryName' %}',
            data: {
                'categoryname': category__name
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#validate_category_name2").show();
                    document.getElementById('id_category_value').style.borderColor = "red";
                    document.getElementById("btnUpdateCategory").disabled = true;
                } else {
                    $("#validate_category_name2").hide();
                    document.getElementById('id_category_value').style.borderColor = "#e7e7e7";
                    document.getElementById("btnUpdateCategory").disabled = false;
                }
            }
        });
    });
</script>