{% load crispy_forms_tags %}
<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateCompany' companyid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12">
                <div class="col-6">
                    {{ form.domain|as_crispy_field }}
                    {{ form.category|as_crispy_field }}
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.owner|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                    <div style="margin-top: 21%;">
                        <button col-6 id="btnAddDomain" class="btn btn-success pull-right">
                        <i class="fa fa-fw fa-lg fa-save"></i>Update
                    </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

