{% load crispy_forms_tags %}

<div class="col-12">
	<div class="card-body">
		<div class="basic-form">
			<form method="post" action="{% url 'updateBranchEmails' emailid %}">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12 col-sm-12">{{ form.branch | as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">{{ form.email_address|as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">{{ form.secondary_email|as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button type="submit" value="Update" class="btn btn-success">Update Branch Email</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>