{% load static %}
{% block content %}

    <style>
        .daterangepicker {
            z-index: 999999999999999999;
        }
    </style>

    <script type="text/javascript" src="{% static 'template-static-files/javascript/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'template-static-files/javascript/daterangepicker.js' %}"></script>


    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_log_day" class="form-group">
                <label for="id_log_day" class="col-form-label requiredField">Log Date<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <input onkeypress="return false;" type="text" name="id_log_day" class="dateinput form-control" id="id_log_day" placeholder="dd-mm-yyyy">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="" class="form-group">
                <label for="" class="col-form-label  requiredField">User<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <input type="text" maxlength="255" class="textinput textInput form-control" required="" value="{{user_name }}" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div id="div_id_customer" class="form-group">
                <label for="id_customer" class="col-form-label  requiredField">Customer<span class="asteriskField">*</span>
                </label>                    
                <div class="">
                    <select name="customer" class="select form-control" id="id_customer">
                        <option value="" selected disabled>--Select Customer--</option>
                        {% for cl in client_list %}
                            <option value="{{cl.id}}">{{cl.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-6" style="margin-top: 2%;">
            <div class="form-group">
                <div class="control-label required">
                    <label >Select Category:</label>
                </div>
                <div class="form-check" id="structurediv">
                    <label class="form-check-label">
                        <input id="projectStructure" value="project" class="form-check-input" type="radio" name="structure" checked><span class="label-text">PROJECT</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>

                    <label class="form-check-label">
                        <input id="slaStructure" value="sla" class="form-check-input" type="radio" name="structure"><span class="label-text">SLA</span>
                    </label>
                </div>
            </div>
        </div>
        
    </div>

    <!-- PROJECT STRUCTURE DIV -->
    <div id="div_project_structure_section">
        <div class="row col-12">
            <div class="col-6">
                <div id="div_id_project" class="form-group">
                    <label for="id_project" class="col-form-label  requiredField">Project<span class="asteriskField">*</span>
                    </label>                    
                    <div class="">
                        <select name="project" class="select form-control" id="id_project">
                            <option selected="" value="" disabled>--Select Project--</option>
                            {% for pro in project_list %}
                                <option value="{{pro.id}}">{{pro.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="div_id_milestone" class="form-group">
                    <label for="id_milestone" class="col-form-label  requiredField">Milestone<span class="asteriskField">*</span>
                    </label>                    
                    <div class="">
                        <select name="milestone" class="select form-control" id="id_milestone">
                            <option selected="" value="" disabled>--Select Milestone--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6">
                <div id="div_id_task" class="form-group">
                    <label for="id_task" class="col-form-label requiredField">Task<span class="asteriskField">*</span>
                    </label>                    
                    <div class="">
                        <select name="task" class="select form-control" id="id_task">
                            <option selected="" value="" disabled>--Select Task--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="div_id_workedtime" class="form-group">
                    <label for="id_workedtime" class="col-form-label requiredField">Worked Time<span class="asteriskField">*  | Duration: <big class="text-info font-weight-bold hide" id="time_duration"></big></span>
                    </label>                    
                    <div class="">
                        <input onkeypress="return false;" style="box-shadow: none; font-family: 'Poppins', sans-serif; display: block; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter" id="id_workedtime" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6">
                <div class="form-group">
                    <label class=" control-label">Notes</label>
                    <div class="">
                        <textarea id="id_timesheet_notes" class="form-control" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <button style="margin-top: 10%;" id="btnSaveTimesheet" class="btn btn-success pull-right col-12">
                    <span class="btn-save-timesheet"><i class="fa fa-fw fa-lg fa-save"></i>Submit</span>
                </button>
            </div>
            
        </div>

    </div>
    <!-- CLOSE PROJECT STRUCTURE DIV -->

    <!-- SLA STRUCTURE DIV -->
    <div id="div_sla_structure_section">
        <div class="row col-12">
            <div class="col-6">
                <div id="div_id_sla_contract" class="form-group">
                    <label for="id_sla_contract" class="col-form-label  requiredField">SLA CONTRACT<span class="asteriskField">*</span>
                    </label>                    
                    <div class="">
                        <select name="sla_contract" class="select form-control" id="id_sla_contract">
                            <option selected="" value="" disabled>--Select SLA Contract--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="div_id_assigned_requests" class="form-group">
                    <label for="id_assigned_requests" class="col-form-label requiredField">Assigned Requests<span class="asteriskField">*</span>
                    </label>                    
                    <div class="">
                        <select name="assigned_requests" class="select form-control" id="id_assigned_requests">
                            <option selected="" value="" disabled>--Select Request--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            
            <div class="col-6">
                <div id="div_id_workedtime02" class="form-group">
                    <label for="id_workedtime02" class="col-form-label requiredField ">Worked Time<span class="asteriskField">*  | Duration: <big class="text-info font-weight-bold hide" id="time_duration02"></big></span>
                    </label>                    
                    <div class="">
                        <input onkeypress="return false;" style="box-shadow: none; font-family: 'Poppins', sans-serif; display: block; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter02" id="id_workedtime02" type="text" />
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class=" control-label">Notes</label>
                    <div class="">
                        <textarea id="id_timesheet_notes02" class="form-control" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            
            <div class="col-6">
                
            </div>

            <div class="col-6">
                <button id="btnSaveTimesheet02" class="btn btn-success pull-right col-12">
                    <span class="btn-save-timesheet"><i class="fa fa-fw fa-lg fa-save"></i>Submit</span>
                </button>
            </div>
        </div>
    </div>
    
    <script>
        var structureRadioValue = 'project';
        var id_user_dept01 = parseInt($('#id_user_dept').val());
        $("#div_sla_structure_section" ).hide();
        $("#div_project_structure_section" ).show();

        $("#time_duration" ).hide();
        $("#time_duration02" ).hide();
        document.getElementById("btnSaveTimesheet").disabled=false;
        document.getElementById("btnSaveTimesheet02").disabled=false;
        $('#id_log_day').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            clearBtn: true,
            endDate : new Date()
        });
        
        $('input[name="datefilter"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            timePickerSeconds: false,
            locale: {
                format: 'h:mm A'
            }
        }).on('show.daterangepicker', function (ev, picker) {
            picker.container.find(".calendar-table").hide();
        }).on('change.daterangepicker', function (ev, picker) {
            durationCalculating();
        });
        durationCalculating();

        $('input[name="datefilter02"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            timePickerSeconds: false,
            locale: {
                format: 'h:mm A'
            }
        }).on('show.daterangepicker', function (ev, picker) {
            picker.container.find(".calendar-table").hide();
        }).on('change.daterangepicker', function (ev, picker) {
            durationCalculating_sla();
        });
        durationCalculating_sla();
    
        $('#id_project').change(function () {
            $('#id_milestone').val(null).trigger('change');
            $('#id_milestone').html('');
            $('#id_task').html('');

            var project_id = parseInt($('#id_project').val());
            urldata = "{% url 'selectMilestonesByProject'%}";

            $.ajax({
                type: 'GET',
                url: urldata,
                data: {
                    project_id: project_id
                },
                success: function (data) {
                    var res = JSON.parse(data.mil);
                    if (res !== '' && res.length > 0) {
                        $('#id_milestone').html('');
                        for (i in res) {
                            $('#id_milestone').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                        }

                        $('#id_task').val(null).trigger('change');
                        var id_milestone1 = parseInt($('#id_milestone').val());
                        urldata = "{% url 'selectTasksByMilestone'%}";

                        $.ajax({
                            type: 'GET',
                            url: urldata,
                            data: {
                                id_milestone: id_milestone1
                            },
                            success: function (data) {
                                var res = JSON.parse(data.task);
                                if (res !== '' && res.length > 0) {
                                    $('#id_task').html('');
                                    for (i in res) {
                                        $('#id_task').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                                    }
                                }
                            }
                        });
                        $('#id_milestone').css({ "border": '1px solid #ced4da' });
                        $('#id_task').css({"border": '1px solid #ced4da'});

                    }
                }
            });
        });

        $('#id_milestone').change(function () {
            $('#id_task').val(null).trigger('change');
            $('#id_task').html('');

            var id_milestone = parseInt($('#id_milestone').val());
            if (id_milestone > 0) {
                urldata = "{% url 'selectTasksByMilestone'%}";

                $.ajax({
                    type: 'GET',
                    url: urldata,
                    data: {
                        id_milestone: id_milestone
                    },
                    success: function (data) {
                        var res = JSON.parse(data.task);
                        if (res !== '' && res.length > 0) {
                            $('#id_task').html('');
                            for (i in res) {
                                $('#id_task').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                            }
                        }
                        $('#id_task').css({"border": '1px solid #ced4da'});
                    }
                }); 
            }
        });

        $('#id_log_day').on('change', function () {
            $('#id_log_day').css({ "border": '1px solid #ced4da' });
        });

        $('#id_project').on('input', function () {
            $('#id_project').css({ "border": '1px solid #ced4da' });
        });

        $('#id_milestone').on('input', function () {
            $('#id_milestone').css({ "border": '1px solid #ced4da' });
        });

        $('#id_task').change(function () {
            $('#id_task').css({"border": '1px solid #ced4da'});
        });

        // PROJECT RADIO BUTTON CLICK CONTROLS
        $('input:radio[name="structure"]').change(
            function(){
                if ($(this).is(':checked') && $(this).val() == 'project') {
                    
                    $("#div_sla_structure_section" ).hide();
                    $("#div_project_structure_section" ).show();
                    structureRadioValue = 'project';
                }
            }
        );

        // SLA RADIO BUTTON CLICK CONTROLS
        $('input:radio[name="structure"]').change(
            function(){
                if ($(this).is(':checked') && $(this).val() == 'sla') {
                    $("#div_project_structure_section" ).hide();
                    $("#div_sla_structure_section" ).show();
                    structureRadioValue = 'sla';
                }
            }
        );

        $('#id_customer').change(function () {
            $('#id_customer').css({"border": '1px solid #ced4da'});

            $('#id_sla_contract').val(null).trigger('change');
            $('#id_sla_contract').html('');
            $('#id_assigned_requests').html('');

            var id_customer = parseInt($('#id_customer').val());
            urldata = "{% url 'SLAsByCustomer'%}";

            $.ajax({
                type: 'GET',
                url: urldata,
                data: {
                    id_customer: id_customer
                },
                success: function (data) {
                    var res = JSON.parse(data.sla);
                    if (res !== '' && res.length > 0) {
                        $('#id_sla_contract').html('');
                        for (i in res) {
                            $('#id_sla_contract').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                        }

                        $('#id_assigned_requests').val(null).trigger('change');
                        var id_sla_contract1 = parseInt($('#id_sla_contract').val());
                        urldata = "{% url 'requestsBySLA'%}";

                        $.ajax({
                            type: 'GET',
                            url: urldata,
                            data: {
                                id_sla_contract: id_sla_contract1,
                                id_user_dept01: id_user_dept01
                            },
                            success: function (data) {
                                var res = JSON.parse(data.req);
                                if (res !== '' && res.length > 0) {
                                    $('#id_assigned_requests').html('');
                                    for (i in res) {
                                        $('#id_assigned_requests').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                                    }
                                }
                            }
                        });
                        $('#id_sla_contract').css({ "border": '1px solid #ced4da' });
                        $('#id_assigned_requests').css({"border": '1px solid #ced4da'});

                    }
                }
            });
        });

        $('#id_sla_contract').click(function () {
            var cust = $('#id_customer').val();
            
            if (cust < 1) {
                $('#id_customer').css({ "border": '2px solid #00635a' });
            }
        });
        
        $('#id_sla_contract').change(function () {
            $('#id_assigned_requests').val(null).trigger('change');
            $('#id_assigned_requests').html('');

            var id_sla_contract = parseInt($('#id_sla_contract').val());
            if (id_sla_contract > 0) {
                urldata = "{% url 'requestsBySLA'%}";

                $.ajax({
                    type: 'GET',
                    url: urldata,
                    data: {
                        id_sla_contract: id_sla_contract,
                        id_user_dept01: id_user_dept01
                    },
                    success: function (data) {
                        var res = JSON.parse(data.req);
                        if (res !== '' && res.length > 0) {
                            $('#id_assigned_requests').html('');
                            for (i in res) {
                                $('#id_assigned_requests').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                            }
                        }
                        $('#id_assigned_requests').css({"border": '1px solid #ced4da'});
                    }
                }); 
            }
        });

        $('#btnSaveTimesheet').click(function () { 
            var id_log_day = $('#id_log_day').val();
            var id_project = $('#id_project').val();
            var id_milestone = $('#id_milestone').val();
            var id_task = $('#id_task').val();
            var id_timesheet_notes = $('#id_timesheet_notes').val();
            var id_customer001 = $('#id_customer').val();

            var id_workedtime = $('#id_workedtime').val();
            var worked_time_ranges = id_workedtime.split(" - ");
            var start_time = worked_time_ranges[0];
            var end_time = worked_time_ranges[1];
            var uid = {{user_id}};

            if (id_log_day < 1 || id_project < 1 || id_milestone < 1  || id_task < 1 || id_customer001 < 1) {
                if (id_log_day < 1) {
                    $('#id_log_day').css({ "border": '2px solid #00635a' });
                }

                if (id_project < 1) {
                    $('#id_project').css({ "border": '2px solid #00635a' });
                }

                if (id_milestone < 1) {
                    $('#id_milestone').css({ "border": '2px solid #00635a' });
                }

                if (id_task < 1) {
                    $('#id_task').css({ "border": '2px solid #00635a' });
                }

                if (id_customer001 < 1) {
                    $('#id_customer').css({ "border": '2px solid #00635a' });
                }

            } else {
                document.getElementById("btnSaveTimesheet").disabled=true;
                data3 = {
                    id_log_day: id_log_day,
                    id_task: id_task,
                    start_time: start_time,
                    end_time: end_time,
                    notes: id_timesheet_notes,
                    uid: uid,
                    structureRadioValue: structureRadioValue
                };
                url_data = "{% url 'saveTimeSheet'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: url_data,
                    success: function (resp) {
                        $('.timesheet-pane').html(resp);
                        $('.timesheet-pane').html(resp);
                        window.location = '#close';
                        $( "#heading1" ).removeClass( "collapsed");
                        $( "#collapseOne" ).addClass( "show" );
                        document.getElementById("btnSaveTimesheet").disabled=true;
                    }
                });
            }
        });

        $('#id_assigned_requests').on('input', function () {
            $('#id_assigned_requests').css({ "border": '1px solid #ced4da' });
        });

        $('#id_sla_contract').on('input', function () {
            $('#id_sla_contract').css({ "border": '1px solid #ced4da' });
        });

        $('#btnSaveTimesheet02').click(function () { 
            var id_log_day = $('#id_log_day').val();
            var id_timesheet_notes02 = $('#id_timesheet_notes02').val();
            var id_customer001 = $('#id_customer').val();
            var id_sla_contract = $('#id_sla_contract').val();

            var id_workedtime02 = $('#id_workedtime02').val();
            var worked_time_ranges2 = id_workedtime02.split(" - ");
            var start_time2 = worked_time_ranges2[0];
            var end_time2 = worked_time_ranges2[1];
            var id_assigned_requests = $('#id_assigned_requests').val();
            var uid = {{user_id}};

            if (id_log_day < 1 || id_assigned_requests < 1 || id_customer001 < 1 || id_sla_contract < 1) {
                if (id_log_day < 1) {
                    $('#id_log_day').css({ "border": '2px solid #00635a' });
                }

                if (id_assigned_requests < 1) {
                    $('#id_assigned_requests').css({ "border": '2px solid #00635a' });
                }

                if (id_customer001 < 1) {
                    $('#id_customer').css({ "border": '2px solid #00635a' });
                }

                if (id_sla_contract < 1) {
                    $('#id_sla_contract').css({ "border": '2px solid #00635a' });
                }

            } else {
                document.getElementById("btnSaveTimesheet02").disabled=true;
                data3 = {
                    id_log_day: id_log_day,
                    start_time2: start_time2,
                    end_time2: end_time2,
                    notes2: id_timesheet_notes02,
                    uid: uid,
                    structureRadioValue: structureRadioValue,
                    id_assigned_requests: id_assigned_requests
                };
                url_data = "{% url 'saveTimeSheet'%}";
                $.ajax({
                    type: "GET",
                    cache: false,
                    data: data3,
                    url: url_data,
                    success: function (resp) {
                        $('.timesheet-pane').html(resp);
                        $('.timesheet-pane').html(resp);
                        window.location = '#close';
                        $( "#heading1" ).removeClass( "collapsed");
                        $( "#collapseOne" ).addClass( "show" );
                        document.getElementById("btnSaveTimesheet02").disabled=true;
                    }
                });
            }
        });

        function durationCalculating(){
            var id_workedtime = $('#id_workedtime').val();
            var worked_time_ranges = id_workedtime.split(" - ");
            
            var time1 = worked_time_ranges[0];
            var time2 = worked_time_ranges[1];

            var startDate = new Date("January 1, 1970 " + time1);
            var endDate = new Date("January 1, 1970 " + time2);
            
            var timeDiff = Math.abs(startDate - endDate);

            var hh = Math.floor(timeDiff / 1000 / 60 / 60);
            if(hh < 10) {
                hh = '0' + hh;
            }
            timeDiff -= hh * 1000 * 60 * 60;
            var mm = Math.floor(timeDiff / 1000 / 60);
            if(mm < 10) {
                mm = '0' + mm;
            }

            var hourDiff = hh + ":" + mm;

            $("#time_duration" ).show();
            $("#time_duration").text(hourDiff);
        }

        function durationCalculating_sla(){
            var id_workedtime = $('#id_workedtime02').val();
            var worked_time_ranges = id_workedtime.split(" - ");
            
            var time1 = worked_time_ranges[0];
            var time2 = worked_time_ranges[1];

            var startDate = new Date("January 1, 1970 " + time1);
            var endDate = new Date("January 1, 1970 " + time2);
            
            var timeDiff = Math.abs(startDate - endDate);

            var hh = Math.floor(timeDiff / 1000 / 60 / 60);
            if(hh < 10) {
                hh = '0' + hh;
            }
            timeDiff -= hh * 1000 * 60 * 60;
            var mm = Math.floor(timeDiff / 1000 / 60);
            if(mm < 10) {
                mm = '0' + mm;
            }

            var hourDiff = hh + ":" + mm;

            $("#time_duration02" ).show();
            $("#time_duration02").text(hourDiff);
        }

    </script>
{% endblock %}