{% load crispy_forms_tags %}

<div class="card-body">
    <div class="col-12">
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Project</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.project }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Milestone name</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.name }}" disabled>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Status</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.status }}" disabled>
            </div>  
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Created By</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.creator }}" disabled>
            </div>
        </div>
    
        <div class="row">
            
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Description</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.description|striptags }}" disabled>
            </div>
        </div>
        <!-- {{incident.elapsed_time}} -->
        <br>
        <div class="row">
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">StartDate</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.startdate }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">EndDate</p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.enddate }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Actual start date </p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.actual_startdate }}" disabled>
            </div>
            <div class="col-sm">
                <p class="text-muted m-b-15 f-s-12">Actual end date </p>
                <input type="text" class="form-control input-flat"
                    value="{{ milestone.actual_enddate }}" disabled>
            </div>
        </div>
        <br />
    </div>
</div>

<script>

    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });
      
    $('#id_title').attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');

    
    $('#id_project').removeAttr('multiple', "");
    
    $('#id_project').attr( 'readOnly' , 'true' );
    $("#id_project").prop("disabled", "disabled");

    $('#id_assignee').attr('multiple', "multiple");
    $('#id_assignee').attr('data-live-search', 'true');
    $('#id_assignee').selectpicker({
        size: 3,
    });
    

</script>