{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Main wrapper  -->
<div id="main-wrapper">
	{% include 'header.html' %}
	{% include 'left-nav.html' %}
	<!-- Page wrapper  -->
	<div class="page-wrapper">
		<!-- Bread crumb -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-primary">Incidents</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item active"><a href="{% url 'listIncidents'%}">List of Incidents</a></li>
				</ol>
			</div>
		</div>
		<!-- End Bread crumb -->
		<!-- Container fluid  -->
		<div class="container-fluid">
			<!-- Start Page Content -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
                    <div class="card card-outline-primary col-md-12">
                        <div class="card-header" style="display: flex; flex-direction: row;">
                            <a href="#" class="nav-link m-b-0 text-white">Incident Details</a>
                            <a class="nav-link " href="{% url 'listIncidents' %}" style="text-decoration: none; color:white;" >Back</a>
                            <a href="{% url 'updateIncident' incident.id %}" class=" nav-link" style="text-decoration: none; color:white;">Update</a>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="form-body">
                                    <input type="text" id="incident_id" value="{{incident.id}}" style="display: none">

                                    <hr>
                                    <div class="row">
                                    <!-- <div class="col-md-6 "> -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row p-t-20 ">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group has-success">
                                                    <label class="control-label">Project</label>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group has-danger">
                                                    <p>{{ incident.project }}</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group has-success">
                                                    <label class="control-label">Incident Title</label>
                                                    </div> 
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{ incident.title }}</p>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Priority</label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{incident.priority}}</p>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Task</label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{incident.task}}</p>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row">
                                            <h1></h1>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{incident.status}}</p>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                            <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Created By </label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{incident.creator}}</p>
                                                    
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Assigned To</label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>
                                                        {% for assigned in incident.assignee.all%}
                                                            {{assigned}}
                                                        {% endfor %}</p>
                                                    
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <p>{{incident.description}}</p>
                                                    
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Comment Section</h4>
                            <form action="#" class="" id="pal" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <input name="incident" type="text" id="id_incident" value="{{incident.id}}" style="display: none">
                                </div>
                                
                                <div>
                                    <label>Your Post:</label>
                                    <textarea name="comment" id="id_comment" class="form-control col-md-8" required></textarea>
                                </div>
                                <br>
                                <div class="dz-default dz-message"><span><code>Upload document or images by drop or browse</code></span>
                                    <div class="fallback">
                                        <input name="docs" type="file" multiple id="file-select" style="padding: 5%; width: 80%;" />
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button id="postFile" class="btn btn-info waves-effect waves-light"> 
                                        <span>Post Comment</span> <i class="fa fa-send m-l-10"></i> 
                                    </button>
                                </div>
                            </form>
                            <hr>
                            <div class="big-comment" style="background-color: #f4f4f4; ">
                                <div style="padding: 15px;">
                                    <a href="#" onclick="viewComments()">View Comments</a>
                                    <span style="width: 10%;"></span>
                                    <a href="#" onclick="hideComments()" class="hide-comment" style="display: none;">Hide Comments</a>
                                </div>
                                
                                <div class="comment-block" style="display: none;">
                                    <ul style="list-style-type: none;">
                                        
                                    </ul>
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
					<!-- {% include 'footer.html' %} -->
					<!-- End Page Content -->
                </div>
                
                {% include 'footer.html' %}
				<!-- End Container fluid  -->
            </div>
            <div>

            </div>
			<!-- End Page wrapper  -->
        </div>

        <style>

            .big-comment{
                margin-top: 10px;
                width: 100%;  
            }
            
            .comment-block {
                margin-top: 10px;
                width: 100%;
                margin-bottom: 10px;
            }

            .hide-comment{
                margin-left: 25px;
            }

            .edit-comment{
                margin-top: 0px;
                margin-left: 1.5%;
                padding: 5px;
                width: 70px;
                height: 15px;
                color:grey;
            }

            .comment-block .comment-section{
                vertical-align: middle;
                width: calc(100% - 75px);
                min-height: 65px;
                margin-left: 10px;
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 5px 10px;
                font-size: .9rem;
                color: grey;
                background-color: #FFF;
                border-bottom: 2px solid #f2f2f2;
            }
            @media screen and (max-width: 600px) {
                .comment-block {
                    width: 100%;
                }
            }
        </style>

		<script>

            $('#id_comment').attr('autocomplete', 'off');

            $("#file-select").addClass('dropzone');

            function viewComments(){
                event.preventDefault();
                $('.comment-block').css('display', 'inline');
                $('.hide-comment').css('display', 'inline');
            }

            function hideComments(){
                event.preventDefault();
                $('.hide-comment').css('display', 'none');
                $('.comment-block').css('display', 'none');
            }
 
            $("#pal").on('submit', function(){
                event.preventDefault();
                var data = new FormData(this);
                console.log(data);
                $.ajax({
                    url: "{% url 'addComment' %}",
                    type: 'POST',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if(data.success === true){
                            $.confirm({
                                title: "Success",
                                content: data.message,
                                type: 'blue',
                                typeAnimated: true,
                                boxWidth: '25%',
                                useBootstrap: false,
                                closeIcon: true,
                                    buttons: {
                                        formSubmit: {
                                            text: 'OK',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                
                                            }
                                        }
                                    }
                            });
                        }

                    }
                });
                return false;
                
            });

            $(function(){
                var incident_id = $("#incident_id").val();

                $.ajax({
                    url: "{% url 'listIncidentComments' %}",
                    type: "GET",
                    data: {
                        incident_id: incident_id
                    },
                    dataType: "json",
                    success: function(data){
                        let newData = JSON.parse(data.all_comments);

                        newData.forEach(function(item){

                            var div = $('<div>', {
                               "class": "comment-section"
                            });
                            
                            var span = $('<span>', {
                                "text": item["fields"]["comment"],
                                "id": item["pk"]
                            });

                            var div2 = $('<div>', {
                                
                            });

                            var edit = $('<a>', {
                                "class": "edit-comment",
                                "text": "Edit",
                                "href": "#",
                                "onclick": "editUs()",
                                "id": item["pk"]
                            });
                            
                            div.append(span).appendTo(".comment-block");
                            div2.append(edit).appendTo(".comment-block");
                        });
                        

                    }
                });
                
            });

            function editUs(){
                event.preventDefault();
            }

            
		</script>
		{% endblock %}