{% load static %}
<script type="text/javascript" src="{% static 'template-static-files/javascript/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'template-static-files/javascript/daterangepicker.js' %}"></script>

<div class="tab-content tabcontent-border" style="padding-left: 1%; padding-right: 1%;">
    <div class="tab-pane active" id="timesheet_home" role="tabpanel">
        <div class=" p-10">
            <div class="col-md-12 row">
                <div class="col-md-12 container">
                
                    <button id="" class="btn btn-info pull-right" onclick="functionAddNewTimesheet()">
                        <i class="fa fa-fw fa-lg fa-plus"></i>Log Time
                    </button>
                </div>
            </div>
        </div>
        <div class="timesheet-pane">
            {% include "project_management/list_timesheet.html" %}
        </div>
    </div>

    <div class="tab-pane  p-20" id="pending_approval" role="tabpanel">
        <!-- Pending Approval -->
        <div class="col-12 row">  
            <div class="col-8"></div>   
            <div class="col-3">
                <label for="">Filter by Log Date</label>
                <input style="height: 42px; border-radius: 0; box-shadow: none; border-color: #e7e7e7; font-family: 'Poppins', sans-serif; display: block; width: 100%; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter33" id="apenddingTMsDateFilter" type="text" />
            </div>
        
            <div class="col-1"  style="margin-top: 33px; margin-left: -2%;">
                <button class="btn btn-info" onclick="functionFilterPendingApprovals()" type="button">
                    <i class="fa fa-lg fa-fw fa-search"></i>
                </button>
            </div>
        </div>                                        
        <div class="text-center timesheet-pendings">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>
    </div>

    <div class="tab-pane p-20" id="appoved_tm" role="tabpanel">
            <ul class="nav nav-tabs customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#accepted_tm" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Accepted</span></a> </li>
                <li class="nav-item"> <a class="nav-link" onclick="functionUserRejectedTimesheets()" data-toggle="tab" href="#rejected_tm" role="tab"><span class="hidden-sm-up"><i class="ti-dedent"></i></span> <span class="hidden-xs-down">Rejected <span id="relected-tm-count" class="label label-rounded label-danger">{{rejected_count}}</span></span></a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="accepted_tm" role="tabpanel">
                    <div class="col-12 row">  
                        <div class="col-8"></div>   
                        <div class="col-3">
                            <label for="">Filter by Log Date</label>
                            <input style="height: 42px; border-radius: 0; box-shadow: none; border-color: #e7e7e7; font-family: 'Poppins', sans-serif; display: block; width: 100%; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter34" id="approvedTMsDateFilter" type="text" />
                        </div>
                    
                        <div class="col-1"  style="margin-top: 33px; margin-left: -2%;">
                            <button class="btn btn-info" onclick="functionFilterApprovedTimesheets1()" type="button">
                                <i class="fa fa-lg fa-fw fa-search"></i>
                            </button>
                        </div>
                    </div> 
                    <div class="text-center approved-tm-pane1">
                        <i class="fa fa-spinner fa-spin fa-4x"></i>
                    </div>   
                </div>

                <div class="tab-pane rejected-timesheet" id="rejected_tm" role="tabpanel">
            
                </div>
            </div>
    </div>
</div>

<script>
    // DATERANGEPICKER-1
    $('input[name="datefilter33"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            format: 'DD-MM-YYYY',
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter33"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD-MM-YYYY') + ' - ' + picker.endDate.format('DD-MM-YYYY'));
    });

    $('input[name="datefilter33"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    $('input[name="datefilter34"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            format: 'DD-MM-YYYY',
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter34"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD-MM-YYYY') + ' - ' + picker.endDate.format('DD-MM-YYYY'));
    });

    $('input[name="datefilter34"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
</script>