<style>
    :root {
        font-size: 70%;
    }
    </style>
    
    </br>
    <!-- Lists container -->
    <section class="lists-container">
    
        <div class="list">
    
            <h3 class="list-title">Unassigned <i class="fa fa-circle color-primary pull-right"></i></h3>
    
            <ul class="list-items">
                
                {% if unassigned_req_list %}
                    {% for req in unassigned_req_list %}
                        <li>
                            <span class="pull-right">
                                <form class="form">
                                    <i style="margin-top: 0%;" class="fa fa-fw fa-send fa-lg color-primary pull-right" onclick="functAssignOpenRequest({{req.id}}, '{{req.name}}', {{req.sla_id}}, '{{req.sla.name}}')"></i>
                                    <i style="margin-top: 0%;" class="fa fa-edit fa-lg color-primary pull-right" onclick="functEditOpenRequest({{req.id}}, '{{req.name}}', {{req.sla_id}}, '{{req.sla.name}}')"></i>
                                </form>
                            </span>
                            {{req.name}}
                        </li>
                    {% endfor %}
                {% else %}
                    <span>No Unassigned Requests.</span>
                {% endif %}
            </ul>
        </div>
    
        <div class="list">
    
            <h3 class="list-title">Pending <i class="fa fa-circle color-warning pull-right"></i></h3>
    
            <ul class="list-items">
                {% if pending_req_list %}
                    {% for req2 in pending_req_list %}
                        <li onclick="functViewOpenRequest({{req2.id}}, '{{req2.name}}', {{req2.sla_id}}, '{{req2.sla.name}}')">{{req2.name}}</li>
                    {% endfor %}
                {% else %}
                    <span>No Pending Requests</span>
                {% endif %}
            </ul>
        </div>
    
        <div class="list">
    
            <h3 class="list-title">Completed <i class="fa fa-circle color-success pull-right"></i></h3>
    
            <ul class="list-items">
                {% if completed_req_list %}
                    {% for req3 in completed_req_list %}
                        <li>{{req3.name}}</li>
                    {% endfor %}
                {% else %}
                    <span class="">No Completed Requests</span> 
                {% endif %}
            </ul>
    
        </div>
        
        <div class="list">
    
            <h3 class="list-title">Cancelled <i class="fa fa-circle color-danger pull-right"></i></h3>
    
            <ul class="list-items">
                {% if cancelled_req_list %}
                    {% for req4 in cancelled_req_list %}
                        <li>{{req4.name}}</li>
                    {% endfor %}
                {% else %}
                    <span class="">No Cancelled Requests</span>
                {% endif %}
            </ul>
    
        </div>

        <div class="list">
    
            <h3 class="list-title">Onhold <i class="fa fa-circle color-danger pull-right"></i></h3>
    
            <ul class="list-items">
                {% if onhold_req_list %}
                    {% for req4 in onhold_req_list %}
                        <li>{{req4.name}}</li>
                    {% endfor %}
                {% else %}
                    <span class="">No Onhold Requests</span>
                {% endif %}
            </ul>
    
        </div>
    
    </section>
    
    <script>
        var checkrequestset = new Set();
        var listCustomerRequest = [];
    
        $(".request-checkbox1").prop('checked', false);
        $(".select-all-check1").prop('checked', false);
    
        function functEditOpenRequest(req_id, req_name, sla_id, sla_name) {
            urldata = "{% url 'updateCustomerRequest' 999%}".replace(999, req_id);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    req_name: req_name, 
                    sla_id: sla_id,
                    sla_name: sla_name
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Edit Request: <strong class="text-info">' + req_name + ' </strong> <span class=""> <i class="fa fa-trash fa-sm text-danger"></i></span></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '60%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
    
        function functViewOpenRequest(req_id, req_name, sla_id, sla_name) {
            urldata = "{% url 'viewCustomerRequest' 999%}".replace(999, req_id);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    req_name: req_name, 
                    sla_id: sla_id,
                    sla_name: sla_name
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>'+req_name+'</h3>',
                        content: '' + resp,
                        typeAnimated: true,
                        type: 'dark',
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        icon: 'fa fa-credit-card',
                        closeIcon: true,
                        closeIconClass: 'fa fa-close',
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
    
        function functionCheckAllReq(){
            var selectAllCheckbox=document.getElementById("select_all_requests");
            if(selectAllCheckbox.checked==true){
                var checkboxes =  document.getElementsByName("rowSelectCheckBox1");
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = true;
                    var requestid2 = (checkboxes[i].id).slice(13);
                    if (!checkrequestset.has(parseInt(requestid2))) {
                        checkrequestset.add(parseInt(requestid2));
                    }
                }
            }else {
                var checkboxes =  document.getElementsByName("rowSelectCheckBox1");
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = false;
                    var requestid2 = (checkboxes[i].id).slice(13);
                    if (checkrequestset.has(parseInt(requestid2))) {
                        checkrequestset.delete(parseInt(requestid2));
                    }
                }
            }
        }
    
        function functionManageCustReq(requestid) {
            var checkBox = document.getElementById("itemcheckboxx" + requestid);
            if (checkBox.checked === true) {
                if (!checkrequestset.has(requestid)) {
                    checkrequestset.add(requestid);
                }
            }else{
                $(".select-all-check1").prop('checked', false);
                if (checkrequestset.has(requestid)) {
                    checkrequestset.delete(requestid);
                }
            }
        }
    
        


        function functAssignOpenRequest(req_id, req_name, sla_id, sla_name) {
            urldata = "{% url 'assignRequests' %}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    req_id:req_id,
                    req_name: req_name, 
                    sla_id: sla_id,
                    sla_name: sla_name
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Assign Request: <strong class="text-info">' + req_name + ' </strong> <span class=""> <i class="fa fa-trash fa-sm text-danger"></i></span></h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        height: '60%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray close-dialog',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
        
    </script>
    
    