{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <!-- Main wrapper  -->
        <div id="main-wrapper">
            {% include 'header.html' %}
            {% include 'left-nav.html' %}
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <!-- Bread crumb -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">Code Format</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Code Format List</li>
                        </ol>
                    </div>
                </div>
                <!-- End Bread crumb -->
                <!-- Container fluid  -->
                <div class="container-fluid">
                    <!-- Start Page Content -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Project Code Format</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="" class="btn btn-info pull-right" onclick="functAddProjectCode();">
                                                <i class="fa fa-fw fa-lg fa-plus"></i>Add Code Format
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="table_priorities" class="display nowrap table table-hover"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Code Format</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for code in list_code_formats %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ code.project_code }}</td>
                                                    <td class="text-center">
                                                        <button onclick="functionEditProjectCode({{ code.id }}, '{{ code.project_code }}')"
                                                                id="" class="btn btn-outline-success btn-sm"
                                                                type="button">
                                                            <i title="Edit Code Format" class="fa fa-edit"></i>
                                                        </button>&nbsp;
                                                        <button onclick="functionDeleteProjectCode({{ code.id }}, '{{ code.project_code }}')"
                                                                class="btn btn-outline-danger btn-sm" type="button">
                                                            <i title="Delete Project Code" class="fa fa-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% include 'footer.html' %}
                            <!-- End Page Content -->
                        </div>
                        <!-- End Container fluid  -->
                    </div>
                    <!-- End Page wrapper  -->
                </div>
            </div>
        </div>
    </div>

    <script>
        function functionEditProjectCode(code_id, project_code) {
            urldata = "{% url 'updateCodeFormat' 999%}".replace(999, code_id);
            $.ajax({
                type: "GET",
                cache: false,
                data: {
                    code_id: code_id
                },
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Priority: <strong class="text-info">' + project_code + ' </strong>.</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '40%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Close',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }
    
        function functAddProjectCode() {
            urldata = "{% url 'addCodeFormat'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: {},
                url: urldata,
                success: function (resp) {
                    $.confirm({
                        title: '<h3>Add Project Code</h3>',
                        content: '' + resp,
                        type: 'blue',
                        typeAnimated: true,
                        boxWidth: '50%',
                        useBootstrap: false,
                        closeIcon: true,
                        buttons: {
                            close: {
                                text: 'Cancel',
                                btnClass: 'btn-gray',
                                action: function () {
                                }
                            }
                        }
                    });
                }
            });
        }

        function functionDeleteProjectCode(codeid, project_code) {
            urldata = "{% url 'deleteCodeFormat' 999%}".replace(999, codeid);
            $.confirm({
                title: '<h4>Delete Project Code: <strong class="text-danger">' + project_code + ' </strong>!</h4>',
                content: '',
                type: 'red',
                typeAnimated: true,
                boxWidth: '40%',
                useBootstrap: false,
                theme: 'modern',
                icon: 'fa fa-exclamation-circle',
                buttons: {
                    formSubmit: {
                        text: 'OK',
                        btnClass: 'btn-blue',
                        action: function () {
                            location.href = urldata;
                        }
                    },
                    close: {
                        text: 'Cancel',
                        btnClass: 'btn-gray',
                        action: function () {
                        }
                    }
                }
            });
        }

        function functAddProjectCode(){
            $.ajax({
                type:"GET",
                cache: false,
                dataType: "json",
                url: "{% url 'validateProjectCode' %}",
                success: function(data){      
                    if(data.count == true){
                        urldata = "{% url 'addCodeFormat'%}";
                        $.ajax({
                            type: "GET",
                            cache: false,
                            data: {},
                            url: urldata,
                            success: function (resp) {
                                $.confirm({
                                    title: '<h3>Add Project Code</h3>',
                                    content: '' + resp,
                                    type: 'blue',
                                    typeAnimated: true,
                                    boxWidth: '50%',
                                    useBootstrap: false,
                                    closeIcon: true,
                                    buttons: {
                                        close: {
                                            text: 'Cancel',
                                            btnClass: 'btn-gray',
                                            action: function () {
                                            }
                                        }
                                    }
                                });
                            }
                        });
                    }
                    else{
                        $.alert({
                            type: 'blue',
                            title: 'Alert!',
                            content: 'Please edit project code or delete the current to create a new one! ',
                        });    
                    }
                }
            });
        
        }
    
    </script>
    
{% endblock %}

