<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover" id="table_milestones">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for milestone in milestones %}
                <tr>
                    <td><a href="#" onclick="detailsMilestone('{{ milestone.id }}', '{{ milestone.name }}')">{{ milestone.name }}</a></td>
                    <td>{{ milestone.project }}</td>
                    <td>{{ milestone.startdate }}</td>
                    <td>{{ milestone.enddate }}</td>
                    <td>{{ milestone.status }}</td>
                    <td>
                        <button class="btn btn-outline-success btn-sm"
                            onclick="editMilestone('{{ milestone.id }}', '{{ milestone.name }}', '{{ milestone.project.id}}', '{{milestone.project.name}}')">
                            <i title="Manage Task" class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
       
    </div>
</div>

<script>
    $("#table_milestones").DataTable({});
    
    function editMilestone(milestone_id, milestone_name, project_id, project_name){
        urldata = "{% url 'updateProjectMilestone' 999%}".replace(999, milestone_id);
   
        $.ajax({
            type: 'GET',
            cache: false,
            data: {
                project_id: project_id,
                milestone_id: milestone_id
            },
            url: urldata,
            success: function (resp) {
                $.confirm({
                    title: '<h3>Update Project Milestone</h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '50%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray close-dialog',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function detailsMilestone(milestone_id, milestone_name) {

        url = "{% url 'detailsProjectMilestone' 999%}".replace(999, milestone_id);
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            data: {
                milestone_id: milestone_id,
                milestone_name: milestone_name,
            },
            success: function (resp) {
                $.confirm({
                    title: '<h3>Details Milestone: <strong>'+ milestone_name + '</strong></h3>',
                    content: '' + resp,
                    type: 'blue',
                    theme: 'material',
                    typeAnimated: true,
                    boxWidth: '70%',
                    useBootstrap: false,
                    closeIcon: true,
                    buttons: {
                        close: {
                            text: 'Close',
                            btnClass: 'btn-gray',
                            action: function () {
                            }
                        }
                    }
                });
            }
        });
    }

</script>


