{% load static %}

{% for project in projects %}
<tr>
    <td>        
        {% if project.client.logo %}
        <div class="round-img img-rounded">
            <a href="{% url 'project_details' project.id %}">
                <img src="{{project.client.logo.url}}" width="50"
                    alt="logo">
                <span>{{ project.client }}</span>
                </a>
        </div>
        {% endif %}
    </td>
    
    <td><a href="{% url 'project_details' project.id %}">{{ project.name }}</a></td>
    <td>{{ project.vendor }}</td>
    <td>
        <div class="progress" style="height:20px">
            {% if project.completion == 100 %}
                <div class="progress-bar progress-bar-success progress-bar-striped wow animated progress-animated" style="width: {{ project.completion }}%; height:20px;" role="progressbar">
                    {{ project.completion }}%
                </div>
            {% elif project.completion >= 50 %}
                <div class="progress-bar progress-bar-warning wow animated progress-animated" style="width: {{ project.completion }}%; height:20px;" role="progressbar">
                    {{ project.completion }}%
                </div>
            {% elif 50 > project.completion %}
                <div class="progress-bar progress-bar-danger wow animated progress-animated" style="width: {{ project.completion }}%; height:20px;" role="progressbar">
                    {{ project.completion }}%
                </div>
            {% endif %}            
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4">No projects in this category. <a href="{% url 'new_project' %}">Create new project?</a>.</td>
</tr>
{% endfor %}