{% load static %}
<style>
    .daterangepicker{
        z-index: 999999999;
    }
</style>

<script type="text/javascript" src="{% static 'template-static-files/javascript/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'template-static-files/javascript/daterangepicker.js' %}"></script>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_log_day" class="form-group">
            <label for="id_log_day45" class="col-form-label  requiredField">Date<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <input onkeypress="return false;" type="text" name="id_log_day45" class="dateinput form-control" id="id_log_day45" value='{{ log_day }}'>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="" class="form-group">
            <label for="" class="col-form-label  requiredField">User<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <input type="text" maxlength="255" class="textinput textInput form-control" required="" value="{{user_name}}" disabled>
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_customer45" class="form-group">
            <label for="id_customer45" class="col-form-label  requiredField">Customer<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="customer" class="select form-control" id="id_customer45">
                    <option value="{{curr_customer_id}}">{{curr_customer_name}}</option>
                    {% for clt in client_list %}
                        <option value="{{clt.id}}">{{clt.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="div_id_sla_contract" class="form-group">
            <label for="id_sla_contract45" class="col-form-label  requiredField">SLA CONTRACT<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="sla_contract45" class="select form-control" id="id_sla_contract45">
                    <option value="{{sla_id}}">{{sla_name}}</option>
                    {% for sl in sla_list %}
                        <option value="{{sl.id}}">{{sl.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div id="div_id_assigned_requests45" class="form-group">
            <label for="id_assigned_requests45" class="col-form-label requiredField">Assigned Requests<span class="asteriskField">*</span>
            </label>                    
            <div class="">
                <select name="assigned_requests45" class="select form-control" id="id_assigned_requests45">
                    <option value="{{req_id}}">{{req}}</option>
                    {% for rq in request_list %}
                        <option value="{{rq.id}}">{{rq.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="div_id_workedtime" class="form-group">
            <label for="id_workedtime45" class="col-form-label  requiredField">Worked Time<span class="asteriskField">* | Duration: <big class="text-info font-weight-bold hide" id="time_duration45"></big></span>
            </label>                    
            <div class="">
                <input onkeypress="return false;" style="box-shadow: none; font-family: 'Poppins', sans-serif; display: block; height: calc(2.25rem + 2px); padding: .375rem .75rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-top-color: rgb(206, 212, 218); border-right-color: rgb(206, 212, 218); border-bottom-color: rgb(206, 212, 218); border-left-color: rgb(206, 212, 218); border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; flex: 1 1 auto; width: 100%; margin-bottom: 0; margin-top: 2%" class="daterange" name="datefilter45" id="id_workedtime45" type="text" value=""/>
                <input type="hidden" value="{{start_time}}" id="start_default_time45">
                <input type="hidden" value="{{end_time}}" id="end_default_time45">
                <input type="hidden" value="{{timesheet_id}}" id="timesheet_id45">
            </div>
        </div>
    </div>
</div>

<div class="row col-12">
    <div class="col-6">
        <div class="form-group">
            <label class=" control-label">Notes</label>
            <div class="">
                <textarea id="id_timesheet_notes45" class="form-control">{{notes}}</textarea>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <div class="form-group">
            <label class=" control-label">Resubmission Comment</label>
            <div class="">
                <textarea id="id_timesheet_comment45" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row pull-right">
    <button style="margin-top: -2%; margin-left: -18%;" id="btnResendTimesheet45" class="btn btn-success ">
        <span class="btn-update-timesheet"><i class="fa fa-fw fa-lg fa-save"></i>Re-submit Timesheet</span>
    </button>
</div>


<script>
    document.getElementById("btnResendTimesheet45").disabled=false;
    var uid = {{user_id}};
    var start_default_time = $('#start_default_time45').val();
    var end_default_time = $('#end_default_time45').val();

    $('#id_log_day45').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        clearBtn: true,
        endDate : new Date()
    });
        
    
    $('input[name="datefilter45"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 1,
        timePickerSeconds: false,
        startDate: start_default_time,
        endDate: end_default_time,
        locale: {
            format: 'h:mm A'
        }
    }).on('show.daterangepicker', function (ev, picker) {
        picker.container.find(".calendar-table").hide();
    }).on('change.daterangepicker', function (ev, picker) {
        durationCalculating2r();
    });

    durationCalculating2r();

    $('#id_log_day45').on('change', function () {
        $('#id_log_day45').css({ "border": '1px solid #ced4da' });
    });


    $('#id_customer45').change(function () {
        $('#id_customer45').css({"border": '1px solid #ced4da'});

        $('#id_sla_contract45').val(null).trigger('change');
        $('#id_sla_contract45').html('');
        $('#id_assigned_requests45').html('');

        var id_customer = parseInt($('#id_customer45').val());
        urldata = "{% url 'SLAsByCustomer'%}";

        $.ajax({
            type: 'GET',
            url: urldata,
            data: {
                id_customer: id_customer
            },
            success: function (data) {
                var res = JSON.parse(data.sla);
                if (res !== '' && res.length > 0) {
                    $('#id_sla_contract45').html('');
                    for (i in res) {
                        $('#id_sla_contract45').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                    }

                    $('#id_assigned_requests45').val(null).trigger('change');
                    var id_sla_contract1 = parseInt($('#id_sla_contract45').val());
                    urldata = "{% url 'requestsBySLA'%}";

                    $.ajax({
                        type: 'GET',
                        url: urldata,
                        data: {
                            id_sla_contract: id_sla_contract1,
                            id_user_dept01: uid
                        },
                        success: function (data) {
                            var res = JSON.parse(data.req);
                            if (res !== '' && res.length > 0) {
                                $('#id_assigned_requests45').html('');
                                for (i in res) {
                                    $('#id_assigned_requests45').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                                }
                            }
                        }
                    });
                    $('#id_sla_contract45').css({ "border": '1px solid #ced4da' });
                    $('#id_assigned_requests45').css({"border": '1px solid #ced4da'});

                }
            }
        });
    });

    $('#id_sla_contract45').click(function () {
        var cust = $('#id_customer45').val();
        
        if (cust < 1) {
            $('#id_customer45').css({ "border": '2px solid #00635a' });
        }
    });

    $('#id_assigned_requests45').click(function () {
        var cont = $('#id_sla_contract45').val();
        
        if (cont < 1) {
            $('#id_sla_contract45').css({ "border": '2px solid #00635a' });
        }
    });
    
    $('#id_sla_contract45').change(function () {
        $('#id_assigned_requests45').val(null).trigger('change');
        $('#id_assigned_requests45').html('');

        var id_sla_contract = parseInt($('#id_sla_contract45').val());
        if (id_sla_contract > 0) {
            urldata = "{% url 'requestsBySLA'%}";

            $.ajax({
                type: 'GET',
                url: urldata,
                data: {
                    id_sla_contract: id_sla_contract,
                    id_user_dept01: uid
                },
                success: function (data) {
                    var res = JSON.parse(data.req);
                    if (res !== '' && res.length > 0) {
                        $('#id_assigned_requests45').html('');
                        for (i in res) {
                            $('#id_assigned_requests45').append('<option value="' + res[i].pk + '">' + res[i].fields.name + '</option>');
                        }
                    }
                    $('#id_assigned_requests45').css({"border": '1px solid #ced4da'});
                }
            }); 
        }
    });

    $('#id_assigned_requests45').on('input', function () {
        $('#id_assigned_requests45').css({ "border": '1px solid #ced4da' });
    });

    $('#id_sla_contract45').on('input', function () {
        $('#id_sla_contract45').css({ "border": '1px solid #ced4da' });
    });


    $('#btnResendTimesheet45').click(function () { 
        var id_log_day = $('#id_log_day45').val();
        var id_timesheet_notes02 = $('#id_timesheet_notes45').val();
        var id_customer001 = $('#id_customer45').val();
        var id_sla_contract = $('#id_sla_contract45').val();
        var timesheet_id = $('#timesheet_id45').val();
        
        var id_timesheet_comment = $('#id_timesheet_comment45').val();

        var id_workedtime02 = $('#id_workedtime45').val();
        var worked_time_ranges2 = id_workedtime02.split(" - ");
        var start_time2 = worked_time_ranges2[0];
        var end_time2 = worked_time_ranges2[1];
        var id_assigned_requests = $('#id_assigned_requests45').val();

        if (id_log_day < 1 || id_assigned_requests < 1 || id_customer001 < 1 || id_sla_contract < 1) {
            if (id_log_day < 1) {
                $('#id_log_day45').css({ "border": '2px solid #00635a' });
            }

            if (id_assigned_requests < 1) {
                $('#id_assigned_requests45').css({ "border": '2px solid #00635a' });
            }

            if (id_customer001 < 1) {
                $('#id_customer45').css({ "border": '2px solid #00635a' });
            }

            if (id_sla_contract < 1) {
                $('#id_sla_contract45').css({ "border": '2px solid #00635a' });
            }

        } else {
            document.getElementById("btnResendTimesheet45").disabled=true;
            data3 = {
                id_log_day: id_log_day,
                start_time2: start_time2,
                end_time2: end_time2,
                notes2: id_timesheet_notes02,
                id_user_dept: uid,
                id_assigned_requests: id_assigned_requests,
                timesheet_id2: timesheet_id,
                structural_state: 'sla',
                comment2: id_timesheet_comment
            };
            url_data = "{% url 'saveResentTimesheet'%}";
            $.ajax({
                type: "GET",
                cache: false,
                data: data3,
                url: url_data,
                success: function (resp) {
                    $('.close-dialog').click();
                    $('.rejected-timesheet').html(resp);
                }
            });
        }
    });

    function durationCalculating2r(){
        var id_workedtime = $('#id_workedtime45').val();
        var worked_time_ranges = id_workedtime.split(" - ");
        
        var time1 = worked_time_ranges[0];
        var time2 = worked_time_ranges[1];

        var startDate = new Date("January 1, 1970 " + time1);
        var endDate = new Date("January 1, 1970 " + time2);
        
        var timeDiff = Math.abs(startDate - endDate);

        var hh = Math.floor(timeDiff / 1000 / 60 / 60);
        if(hh < 10) {
            hh = '0' + hh;
        }
        timeDiff -= hh * 1000 * 60 * 60;
        var mm = Math.floor(timeDiff / 1000 / 60);
        if(mm < 10) {
            mm = '0' + mm;
        }

        var hourDiff = hh + ":" + mm;

        $("#time_duration45" ).show();
        $("#time_duration45").text(hourDiff);
    }

</script>