{% load crispy_forms_tags %}

<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" action="{% url 'updateProjectIncident' incident_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    {{form.task|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{form.title|as_crispy_field}}
                </div>
                
                <div class="col-4">
                    {{form.status|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{form.priority|as_crispy_field}}
                </div>
                
                <div class="col-4">
                    <div id="div_id_assignee" class="form-group">
                        <label for="id_assignee" class="col-form-label  requiredField">
                            Assignee<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="assignee" class="selectmultiple form-control" required="" id="id_assignee" multiple="">
                                {% for member in members%}
                                    <option value="{{member.id}}"> {{member.first_name}} {{member.last_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {{form.resolution_time|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{form.reopen_time|as_crispy_field}}  
                </div>
                <div class="col-6">
                    {{form.close_time|as_crispy_field|safe}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="col-6">
                    <button type="submit" id="btnUpdateIncident" class="form-control btn btn-success pull-right">
                            <i class="fa fa-fw fa-lg fa-save"></i>Update Incident
                    </button>
                </div>
            </div>
            
            
            
        </form>
    </div>
</div>

<script>
    $('#id_resolution_time').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $('#id_reopen_time').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });
    
    $('#id_close_time').datepicker({
        format: "mm/dd/yyyy",
        autoclose: true,
        clearBtn: true
    });

    $("#id_resolution_time").attr("placeholder", "mm/dd/yyyy");
    $("#id_close_time").attr("placeholder", "mm/dd/yyyy");
    $("#id_reopen_time").attr("placeholder", "mm/dd/yyyy");

    $('#id_resolution_time').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_reopen_time').on('focus', function(){
        var date = $(this).blur();
    });

    $('#id_close_time').on('focus', function(){
        var date = $(this).blur();
    });
    
    $('#id_status').attr('data-live-search', "true"); 
    $('#id_status').selectpicker({
        size: 3
    });
      
    $('#id_title').attr('autocomplete', 'off');

    $("#id_description").attr('autocomplete', 'off');

    
    $('#id_assignee').attr('multiple', "multiple");
    $('#id_assignee').attr('data-live-search', 'true');
    $('#id_assignee').selectpicker({
        size: 3,
    });

    $('#id_priority').attr('multiple', "");
    $('#id_priority').attr('data-live-search', 'true');
    $('#id_priority').selectpicker({
        size: 3,
    });

    $("#div_id_status").removeClass('form-group');
    $("#div_id_assignee").removeClass('form-group');
    $("#div_id_priority").removeClass('form-group');
    

</script>