{% load crispy_forms_tags %}

<div class="card-body">
    <div class="basic-form">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="upload" >
            {% csrf_token %}
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6" style="display:none;">
                        <div id="div_id_project" class="form-group">
                            <label for="id_project" class="col-form-label requiredField">
                                Project<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input name="project" class="textinput textInput form-control" required="" id="id_project" value="{{project_id}}">
                            </div>
                        </div>  
                    </div>

                
                    <div class="col-md-6">
                        <div id="div_id_name" class="form-group">
                            <label for="id_name" class="col-form-label requiredField">
                                Project<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input name="project_name" class="textinput textInput form-control" required="" id="id_name" value="{{project_name}}">
                            </div>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <div id="div_id_title" class="form-group">
                            <label for="id_name" class="col-form-label">
                                Title
                            </label>
                            <div class="">
                                <input name="title" class="textinput textInput form-control" id="id_title" value="">
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_id_document_description" class="form-group">
                            <label for="id_document_description" class="col-form-label">
                                Description
                            </label>
                            <div class="">
                                <textarea rows="4" cols="100" name="document_description" id="id_document_description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div id="div_id_document" class="form-group">
                            <label for="id_document" class="col-form-label requiredField ">
                                Document<span class="asteriskField">*</span>
                            </label> 
                            <div class="">
                                <input type="file" name="document" class="clearablefileinput" id="id_document" required=""  
                                onchange="javascript:updateList()">
                            </div>
                            <div id="fileList"></div>  
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="submit" id="btnUpdateTask" class="form-control btn btn-success pull-right">
                            <i class="fa fa-fw fa-lg fa-save"></i>Upload Document
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
               
    <script>

        $(function(){
            $('#id_name').attr('readOnly', 'true');
        });

        $('#id_title').attr('autocomplete', 'off');

        $('#id_document_description').attr('autocomplete', 'off');

        $('#id_name').attr('readOnly', 'true');

        updateList = function() {
            var input = document.getElementById('id_document');
            var output = document.getElementById('fileList');

            output.innerHTML = '<ul>';
            for (var i = 0; i <= input.files.length; ++i) {
                output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML += '</ul>';
        }

        $("#upload").submit(function(e){
            e.preventDefault();
            if ($('#id_document').get(0).files.length === 0) {
                console.log("No files selected.");
                return false
            }
            
            $form = $(this)
            var formData = new FormData(this);
            url = "{% url 'uploadDocument'%}";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (response_data) {
                    $('.close-dialog').click();
                    if (response_data.state === true){
                        $.confirm({
                            title: "Success",
                            content: response_data.success,
                            type: 'blue',
                            typeAnimated: true,
                            boxWidth: '35%',
                            useBootstrap: false,
                            closeIcon: true,
                                buttons: {
                                    formSubmit: {
                                        text: 'OK',
                                        btnClass: 'btn-blue',
                                        action: function () {
                                               
                                        }
                                    }
                                }
                        }); 
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });    
            
            
        });


    </script>


